/*
AMESH

Clean-room durable workflow MVP with validated flow management, execution control, webhook triggers and execution logs.

API version: 0.2.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package ameshclient

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"reflect"
	"strings"
)

// WorkersAPIService WorkersAPI service
type WorkersAPIService service

type ApiDrainWorkerApiV1WorkersWorkerIdDrainPostRequest struct {
	ctx             context.Context
	ApiService      *WorkersAPIService
	workerId        string
	expectedVersion *int32
	authorization   *string
	xAmeshCSRF      *string
	xAmeshTenant    *string
}

func (r ApiDrainWorkerApiV1WorkersWorkerIdDrainPostRequest) ExpectedVersion(expectedVersion int32) ApiDrainWorkerApiV1WorkersWorkerIdDrainPostRequest {
	r.expectedVersion = &expectedVersion
	return r
}

func (r ApiDrainWorkerApiV1WorkersWorkerIdDrainPostRequest) Authorization(authorization string) ApiDrainWorkerApiV1WorkersWorkerIdDrainPostRequest {
	r.authorization = &authorization
	return r
}

func (r ApiDrainWorkerApiV1WorkersWorkerIdDrainPostRequest) XAmeshCSRF(xAmeshCSRF string) ApiDrainWorkerApiV1WorkersWorkerIdDrainPostRequest {
	r.xAmeshCSRF = &xAmeshCSRF
	return r
}

func (r ApiDrainWorkerApiV1WorkersWorkerIdDrainPostRequest) XAmeshTenant(xAmeshTenant string) ApiDrainWorkerApiV1WorkersWorkerIdDrainPostRequest {
	r.xAmeshTenant = &xAmeshTenant
	return r
}

func (r ApiDrainWorkerApiV1WorkersWorkerIdDrainPostRequest) Execute() (*WorkerInventory, *http.Response, error) {
	return r.ApiService.DrainWorkerApiV1WorkersWorkerIdDrainPostExecute(r)
}

/*
DrainWorkerApiV1WorkersWorkerIdDrainPost Drain Worker

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param workerId
	@return ApiDrainWorkerApiV1WorkersWorkerIdDrainPostRequest
*/
func (a *WorkersAPIService) DrainWorkerApiV1WorkersWorkerIdDrainPost(ctx context.Context, workerId string) ApiDrainWorkerApiV1WorkersWorkerIdDrainPostRequest {
	return ApiDrainWorkerApiV1WorkersWorkerIdDrainPostRequest{
		ApiService: a,
		ctx:        ctx,
		workerId:   workerId,
	}
}

// Execute executes the request
//
//	@return WorkerInventory
func (a *WorkersAPIService) DrainWorkerApiV1WorkersWorkerIdDrainPostExecute(r ApiDrainWorkerApiV1WorkersWorkerIdDrainPostRequest) (*WorkerInventory, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *WorkerInventory
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkersAPIService.DrainWorkerApiV1WorkersWorkerIdDrainPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/workers/{worker_id}/drain"
	localVarPath = strings.Replace(localVarPath, "{"+"worker_id"+"}", url.PathEscape(parameterValueToString(r.workerId, "workerId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.expectedVersion == nil {
		return localVarReturnValue, nil, reportError("expectedVersion is required and must be specified")
	}
	if *r.expectedVersion < 1 {
		return localVarReturnValue, nil, reportError("expectedVersion must be greater than 1")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "expectedVersion", r.expectedVersion, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xAmeshCSRF != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-CSRF", r.xAmeshCSRF, "simple", "")
	}
	if r.xAmeshTenant != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-Tenant", r.xAmeshTenant, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListRunnerCapabilitiesApiV1RunnersCapabilitiesGetRequest struct {
	ctx           context.Context
	ApiService    *WorkersAPIService
	authorization *string
	xAmeshCSRF    *string
	xAmeshTenant  *string
}

func (r ApiListRunnerCapabilitiesApiV1RunnersCapabilitiesGetRequest) Authorization(authorization string) ApiListRunnerCapabilitiesApiV1RunnersCapabilitiesGetRequest {
	r.authorization = &authorization
	return r
}

func (r ApiListRunnerCapabilitiesApiV1RunnersCapabilitiesGetRequest) XAmeshCSRF(xAmeshCSRF string) ApiListRunnerCapabilitiesApiV1RunnersCapabilitiesGetRequest {
	r.xAmeshCSRF = &xAmeshCSRF
	return r
}

func (r ApiListRunnerCapabilitiesApiV1RunnersCapabilitiesGetRequest) XAmeshTenant(xAmeshTenant string) ApiListRunnerCapabilitiesApiV1RunnersCapabilitiesGetRequest {
	r.xAmeshTenant = &xAmeshTenant
	return r
}

func (r ApiListRunnerCapabilitiesApiV1RunnersCapabilitiesGetRequest) Execute() ([]RunnerCapabilities, *http.Response, error) {
	return r.ApiService.ListRunnerCapabilitiesApiV1RunnersCapabilitiesGetExecute(r)
}

/*
ListRunnerCapabilitiesApiV1RunnersCapabilitiesGet List Runner Capabilities

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiListRunnerCapabilitiesApiV1RunnersCapabilitiesGetRequest
*/
func (a *WorkersAPIService) ListRunnerCapabilitiesApiV1RunnersCapabilitiesGet(ctx context.Context) ApiListRunnerCapabilitiesApiV1RunnersCapabilitiesGetRequest {
	return ApiListRunnerCapabilitiesApiV1RunnersCapabilitiesGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []RunnerCapabilities
func (a *WorkersAPIService) ListRunnerCapabilitiesApiV1RunnersCapabilitiesGetExecute(r ApiListRunnerCapabilitiesApiV1RunnersCapabilitiesGetRequest) ([]RunnerCapabilities, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []RunnerCapabilities
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkersAPIService.ListRunnerCapabilitiesApiV1RunnersCapabilitiesGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/runners/capabilities"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xAmeshCSRF != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-CSRF", r.xAmeshCSRF, "simple", "")
	}
	if r.xAmeshTenant != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-Tenant", r.xAmeshTenant, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListWorkersApiV1WorkersGetRequest struct {
	ctx           context.Context
	ApiService    *WorkersAPIService
	cursor        *string
	limit         *int32
	filter        *[]string
	sort          *string
	fields        *string
	authorization *string
	xAmeshCSRF    *string
	xAmeshTenant  *string
}

// Opaque cursor from the prior page
func (r ApiListWorkersApiV1WorkersGetRequest) Cursor(cursor string) ApiListWorkersApiV1WorkersGetRequest {
	r.cursor = &cursor
	return r
}

func (r ApiListWorkersApiV1WorkersGetRequest) Limit(limit int32) ApiListWorkersApiV1WorkersGetRequest {
	r.limit = &limit
	return r
}

// Repeatable top-level equality filter in field&#x3D;value form
func (r ApiListWorkersApiV1WorkersGetRequest) Filter(filter []string) ApiListWorkersApiV1WorkersGetRequest {
	r.filter = &filter
	return r
}

// Comma-separated top-level fields; prefix descending fields with -
func (r ApiListWorkersApiV1WorkersGetRequest) Sort(sort string) ApiListWorkersApiV1WorkersGetRequest {
	r.sort = &sort
	return r
}

// Comma-separated top-level response fields
func (r ApiListWorkersApiV1WorkersGetRequest) Fields(fields string) ApiListWorkersApiV1WorkersGetRequest {
	r.fields = &fields
	return r
}

func (r ApiListWorkersApiV1WorkersGetRequest) Authorization(authorization string) ApiListWorkersApiV1WorkersGetRequest {
	r.authorization = &authorization
	return r
}

func (r ApiListWorkersApiV1WorkersGetRequest) XAmeshCSRF(xAmeshCSRF string) ApiListWorkersApiV1WorkersGetRequest {
	r.xAmeshCSRF = &xAmeshCSRF
	return r
}

func (r ApiListWorkersApiV1WorkersGetRequest) XAmeshTenant(xAmeshTenant string) ApiListWorkersApiV1WorkersGetRequest {
	r.xAmeshTenant = &xAmeshTenant
	return r
}

func (r ApiListWorkersApiV1WorkersGetRequest) Execute() ([]WorkerInventory, *http.Response, error) {
	return r.ApiService.ListWorkersApiV1WorkersGetExecute(r)
}

/*
ListWorkersApiV1WorkersGet List Workers

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiListWorkersApiV1WorkersGetRequest
*/
func (a *WorkersAPIService) ListWorkersApiV1WorkersGet(ctx context.Context) ApiListWorkersApiV1WorkersGetRequest {
	return ApiListWorkersApiV1WorkersGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []WorkerInventory
func (a *WorkersAPIService) ListWorkersApiV1WorkersGetExecute(r ApiListWorkersApiV1WorkersGetRequest) ([]WorkerInventory, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []WorkerInventory
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkersAPIService.ListWorkersApiV1WorkersGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/workers"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.filter != nil {
		t := *r.filter
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter", t, "form", "multi")
		}
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	}
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xAmeshCSRF != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-CSRF", r.xAmeshCSRF, "simple", "")
	}
	if r.xAmeshTenant != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-Tenant", r.xAmeshTenant, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
