/*
AMESH

Clean-room durable workflow MVP with validated flow management, execution control, webhook triggers and execution logs.

API version: 0.2.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package ameshclient

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// AuthorizationAPIService AuthorizationAPI service
type AuthorizationAPIService service

type ApiAddGroupMemberApiV1AdminGroupsGroupIdMembersMemberIdPutRequest struct {
	ctx context.Context
	ApiService *AuthorizationAPIService
	groupId string
	memberId string
	authorization *string
	xAmeshCSRF *string
}

func (r ApiAddGroupMemberApiV1AdminGroupsGroupIdMembersMemberIdPutRequest) Authorization(authorization string) ApiAddGroupMemberApiV1AdminGroupsGroupIdMembersMemberIdPutRequest {
	r.authorization = &authorization
	return r
}

func (r ApiAddGroupMemberApiV1AdminGroupsGroupIdMembersMemberIdPutRequest) XAmeshCSRF(xAmeshCSRF string) ApiAddGroupMemberApiV1AdminGroupsGroupIdMembersMemberIdPutRequest {
	r.xAmeshCSRF = &xAmeshCSRF
	return r
}

func (r ApiAddGroupMemberApiV1AdminGroupsGroupIdMembersMemberIdPutRequest) Execute() (*http.Response, error) {
	return r.ApiService.AddGroupMemberApiV1AdminGroupsGroupIdMembersMemberIdPutExecute(r)
}

/*
AddGroupMemberApiV1AdminGroupsGroupIdMembersMemberIdPut Add Group Member

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param groupId
 @param memberId
 @return ApiAddGroupMemberApiV1AdminGroupsGroupIdMembersMemberIdPutRequest
*/
func (a *AuthorizationAPIService) AddGroupMemberApiV1AdminGroupsGroupIdMembersMemberIdPut(ctx context.Context, groupId string, memberId string) ApiAddGroupMemberApiV1AdminGroupsGroupIdMembersMemberIdPutRequest {
	return ApiAddGroupMemberApiV1AdminGroupsGroupIdMembersMemberIdPutRequest{
		ApiService: a,
		ctx: ctx,
		groupId: groupId,
		memberId: memberId,
	}
}

// Execute executes the request
func (a *AuthorizationAPIService) AddGroupMemberApiV1AdminGroupsGroupIdMembersMemberIdPutExecute(r ApiAddGroupMemberApiV1AdminGroupsGroupIdMembersMemberIdPutRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthorizationAPIService.AddGroupMemberApiV1AdminGroupsGroupIdMembersMemberIdPut")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/admin/groups/{group_id}/members/{member_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"group_id"+"}", url.PathEscape(parameterValueToString(r.groupId, "groupId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"member_id"+"}", url.PathEscape(parameterValueToString(r.memberId, "memberId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xAmeshCSRF != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-CSRF", r.xAmeshCSRF, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiCreatePrincipalApiV1AdminPrincipalsPostRequest struct {
	ctx context.Context
	ApiService *AuthorizationAPIService
	principalDefinition *PrincipalDefinition
	authorization *string
	xAmeshCSRF *string
}

func (r ApiCreatePrincipalApiV1AdminPrincipalsPostRequest) PrincipalDefinition(principalDefinition PrincipalDefinition) ApiCreatePrincipalApiV1AdminPrincipalsPostRequest {
	r.principalDefinition = &principalDefinition
	return r
}

func (r ApiCreatePrincipalApiV1AdminPrincipalsPostRequest) Authorization(authorization string) ApiCreatePrincipalApiV1AdminPrincipalsPostRequest {
	r.authorization = &authorization
	return r
}

func (r ApiCreatePrincipalApiV1AdminPrincipalsPostRequest) XAmeshCSRF(xAmeshCSRF string) ApiCreatePrincipalApiV1AdminPrincipalsPostRequest {
	r.xAmeshCSRF = &xAmeshCSRF
	return r
}

func (r ApiCreatePrincipalApiV1AdminPrincipalsPostRequest) Execute() (*PrincipalDefinition, *http.Response, error) {
	return r.ApiService.CreatePrincipalApiV1AdminPrincipalsPostExecute(r)
}

/*
CreatePrincipalApiV1AdminPrincipalsPost Create Principal

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreatePrincipalApiV1AdminPrincipalsPostRequest
*/
func (a *AuthorizationAPIService) CreatePrincipalApiV1AdminPrincipalsPost(ctx context.Context) ApiCreatePrincipalApiV1AdminPrincipalsPostRequest {
	return ApiCreatePrincipalApiV1AdminPrincipalsPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PrincipalDefinition
func (a *AuthorizationAPIService) CreatePrincipalApiV1AdminPrincipalsPostExecute(r ApiCreatePrincipalApiV1AdminPrincipalsPostRequest) (*PrincipalDefinition, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PrincipalDefinition
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthorizationAPIService.CreatePrincipalApiV1AdminPrincipalsPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/admin/principals"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.principalDefinition == nil {
		return localVarReturnValue, nil, reportError("principalDefinition is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xAmeshCSRF != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-CSRF", r.xAmeshCSRF, "simple", "")
	}
	// body params
	localVarPostBody = r.principalDefinition
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateRoleBindingApiV1AdminBindingsPostRequest struct {
	ctx context.Context
	ApiService *AuthorizationAPIService
	roleBinding *RoleBinding
	authorization *string
	xAmeshCSRF *string
}

func (r ApiCreateRoleBindingApiV1AdminBindingsPostRequest) RoleBinding(roleBinding RoleBinding) ApiCreateRoleBindingApiV1AdminBindingsPostRequest {
	r.roleBinding = &roleBinding
	return r
}

func (r ApiCreateRoleBindingApiV1AdminBindingsPostRequest) Authorization(authorization string) ApiCreateRoleBindingApiV1AdminBindingsPostRequest {
	r.authorization = &authorization
	return r
}

func (r ApiCreateRoleBindingApiV1AdminBindingsPostRequest) XAmeshCSRF(xAmeshCSRF string) ApiCreateRoleBindingApiV1AdminBindingsPostRequest {
	r.xAmeshCSRF = &xAmeshCSRF
	return r
}

func (r ApiCreateRoleBindingApiV1AdminBindingsPostRequest) Execute() (*RoleBinding, *http.Response, error) {
	return r.ApiService.CreateRoleBindingApiV1AdminBindingsPostExecute(r)
}

/*
CreateRoleBindingApiV1AdminBindingsPost Create Role Binding

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateRoleBindingApiV1AdminBindingsPostRequest
*/
func (a *AuthorizationAPIService) CreateRoleBindingApiV1AdminBindingsPost(ctx context.Context) ApiCreateRoleBindingApiV1AdminBindingsPostRequest {
	return ApiCreateRoleBindingApiV1AdminBindingsPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return RoleBinding
func (a *AuthorizationAPIService) CreateRoleBindingApiV1AdminBindingsPostExecute(r ApiCreateRoleBindingApiV1AdminBindingsPostRequest) (*RoleBinding, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *RoleBinding
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthorizationAPIService.CreateRoleBindingApiV1AdminBindingsPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/admin/bindings"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.roleBinding == nil {
		return localVarReturnValue, nil, reportError("roleBinding is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xAmeshCSRF != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-CSRF", r.xAmeshCSRF, "simple", "")
	}
	// body params
	localVarPostBody = r.roleBinding
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteRoleBindingApiV1AdminBindingsBindingIdDeleteRequest struct {
	ctx context.Context
	ApiService *AuthorizationAPIService
	bindingId string
	xAmeshTenant *string
	xAmeshNamespace *string
	authorization *string
	xAmeshCSRF *string
}

func (r ApiDeleteRoleBindingApiV1AdminBindingsBindingIdDeleteRequest) XAmeshTenant(xAmeshTenant string) ApiDeleteRoleBindingApiV1AdminBindingsBindingIdDeleteRequest {
	r.xAmeshTenant = &xAmeshTenant
	return r
}

func (r ApiDeleteRoleBindingApiV1AdminBindingsBindingIdDeleteRequest) XAmeshNamespace(xAmeshNamespace string) ApiDeleteRoleBindingApiV1AdminBindingsBindingIdDeleteRequest {
	r.xAmeshNamespace = &xAmeshNamespace
	return r
}

func (r ApiDeleteRoleBindingApiV1AdminBindingsBindingIdDeleteRequest) Authorization(authorization string) ApiDeleteRoleBindingApiV1AdminBindingsBindingIdDeleteRequest {
	r.authorization = &authorization
	return r
}

func (r ApiDeleteRoleBindingApiV1AdminBindingsBindingIdDeleteRequest) XAmeshCSRF(xAmeshCSRF string) ApiDeleteRoleBindingApiV1AdminBindingsBindingIdDeleteRequest {
	r.xAmeshCSRF = &xAmeshCSRF
	return r
}

func (r ApiDeleteRoleBindingApiV1AdminBindingsBindingIdDeleteRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteRoleBindingApiV1AdminBindingsBindingIdDeleteExecute(r)
}

/*
DeleteRoleBindingApiV1AdminBindingsBindingIdDelete Delete Role Binding

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param bindingId
 @return ApiDeleteRoleBindingApiV1AdminBindingsBindingIdDeleteRequest
*/
func (a *AuthorizationAPIService) DeleteRoleBindingApiV1AdminBindingsBindingIdDelete(ctx context.Context, bindingId string) ApiDeleteRoleBindingApiV1AdminBindingsBindingIdDeleteRequest {
	return ApiDeleteRoleBindingApiV1AdminBindingsBindingIdDeleteRequest{
		ApiService: a,
		ctx: ctx,
		bindingId: bindingId,
	}
}

// Execute executes the request
func (a *AuthorizationAPIService) DeleteRoleBindingApiV1AdminBindingsBindingIdDeleteExecute(r ApiDeleteRoleBindingApiV1AdminBindingsBindingIdDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthorizationAPIService.DeleteRoleBindingApiV1AdminBindingsBindingIdDelete")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/admin/bindings/{binding_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"binding_id"+"}", url.PathEscape(parameterValueToString(r.bindingId, "bindingId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xAmeshTenant != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-Tenant", r.xAmeshTenant, "simple", "")
	}
	if r.xAmeshNamespace != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-Namespace", r.xAmeshNamespace, "simple", "")
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xAmeshCSRF != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-CSRF", r.xAmeshCSRF, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiExplainAuthorizationApiV1AuthorizationExplainPostRequest struct {
	ctx context.Context
	ApiService *AuthorizationAPIService
	authorizationExplanationRequest *AuthorizationExplanationRequest
	authorization *string
	xAmeshCSRF *string
}

func (r ApiExplainAuthorizationApiV1AuthorizationExplainPostRequest) AuthorizationExplanationRequest(authorizationExplanationRequest AuthorizationExplanationRequest) ApiExplainAuthorizationApiV1AuthorizationExplainPostRequest {
	r.authorizationExplanationRequest = &authorizationExplanationRequest
	return r
}

func (r ApiExplainAuthorizationApiV1AuthorizationExplainPostRequest) Authorization(authorization string) ApiExplainAuthorizationApiV1AuthorizationExplainPostRequest {
	r.authorization = &authorization
	return r
}

func (r ApiExplainAuthorizationApiV1AuthorizationExplainPostRequest) XAmeshCSRF(xAmeshCSRF string) ApiExplainAuthorizationApiV1AuthorizationExplainPostRequest {
	r.xAmeshCSRF = &xAmeshCSRF
	return r
}

func (r ApiExplainAuthorizationApiV1AuthorizationExplainPostRequest) Execute() (*AuthorizationDecision, *http.Response, error) {
	return r.ApiService.ExplainAuthorizationApiV1AuthorizationExplainPostExecute(r)
}

/*
ExplainAuthorizationApiV1AuthorizationExplainPost Explain Authorization

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiExplainAuthorizationApiV1AuthorizationExplainPostRequest
*/
func (a *AuthorizationAPIService) ExplainAuthorizationApiV1AuthorizationExplainPost(ctx context.Context) ApiExplainAuthorizationApiV1AuthorizationExplainPostRequest {
	return ApiExplainAuthorizationApiV1AuthorizationExplainPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return AuthorizationDecision
func (a *AuthorizationAPIService) ExplainAuthorizationApiV1AuthorizationExplainPostExecute(r ApiExplainAuthorizationApiV1AuthorizationExplainPostRequest) (*AuthorizationDecision, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AuthorizationDecision
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthorizationAPIService.ExplainAuthorizationApiV1AuthorizationExplainPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/authorization/explain"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.authorizationExplanationRequest == nil {
		return localVarReturnValue, nil, reportError("authorizationExplanationRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xAmeshCSRF != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-CSRF", r.xAmeshCSRF, "simple", "")
	}
	// body params
	localVarPostBody = r.authorizationExplanationRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListPrincipalsApiV1AdminPrincipalsGetRequest struct {
	ctx context.Context
	ApiService *AuthorizationAPIService
	cursor *string
	limit *int32
	filter *[]string
	sort *string
	fields *string
	authorization *string
	xAmeshCSRF *string
}

// Opaque cursor from the prior page
func (r ApiListPrincipalsApiV1AdminPrincipalsGetRequest) Cursor(cursor string) ApiListPrincipalsApiV1AdminPrincipalsGetRequest {
	r.cursor = &cursor
	return r
}

func (r ApiListPrincipalsApiV1AdminPrincipalsGetRequest) Limit(limit int32) ApiListPrincipalsApiV1AdminPrincipalsGetRequest {
	r.limit = &limit
	return r
}

// Repeatable top-level equality filter in field&#x3D;value form
func (r ApiListPrincipalsApiV1AdminPrincipalsGetRequest) Filter(filter []string) ApiListPrincipalsApiV1AdminPrincipalsGetRequest {
	r.filter = &filter
	return r
}

// Comma-separated top-level fields; prefix descending fields with -
func (r ApiListPrincipalsApiV1AdminPrincipalsGetRequest) Sort(sort string) ApiListPrincipalsApiV1AdminPrincipalsGetRequest {
	r.sort = &sort
	return r
}

// Comma-separated top-level response fields
func (r ApiListPrincipalsApiV1AdminPrincipalsGetRequest) Fields(fields string) ApiListPrincipalsApiV1AdminPrincipalsGetRequest {
	r.fields = &fields
	return r
}

func (r ApiListPrincipalsApiV1AdminPrincipalsGetRequest) Authorization(authorization string) ApiListPrincipalsApiV1AdminPrincipalsGetRequest {
	r.authorization = &authorization
	return r
}

func (r ApiListPrincipalsApiV1AdminPrincipalsGetRequest) XAmeshCSRF(xAmeshCSRF string) ApiListPrincipalsApiV1AdminPrincipalsGetRequest {
	r.xAmeshCSRF = &xAmeshCSRF
	return r
}

func (r ApiListPrincipalsApiV1AdminPrincipalsGetRequest) Execute() ([]PrincipalDefinition, *http.Response, error) {
	return r.ApiService.ListPrincipalsApiV1AdminPrincipalsGetExecute(r)
}

/*
ListPrincipalsApiV1AdminPrincipalsGet List Principals

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListPrincipalsApiV1AdminPrincipalsGetRequest
*/
func (a *AuthorizationAPIService) ListPrincipalsApiV1AdminPrincipalsGet(ctx context.Context) ApiListPrincipalsApiV1AdminPrincipalsGetRequest {
	return ApiListPrincipalsApiV1AdminPrincipalsGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []PrincipalDefinition
func (a *AuthorizationAPIService) ListPrincipalsApiV1AdminPrincipalsGetExecute(r ApiListPrincipalsApiV1AdminPrincipalsGetRequest) ([]PrincipalDefinition, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []PrincipalDefinition
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthorizationAPIService.ListPrincipalsApiV1AdminPrincipalsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/admin/principals"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.filter != nil {
		t := *r.filter
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter", t, "form", "multi")
		}
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	}
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xAmeshCSRF != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-CSRF", r.xAmeshCSRF, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListRoleBindingsApiV1AdminBindingsGetRequest struct {
	ctx context.Context
	ApiService *AuthorizationAPIService
	cursor *string
	limit *int32
	filter *[]*string
	sort *string
	fields *string
	authorization *string
	xAmeshCSRF *string
}

// Opaque cursor from the prior page
func (r ApiListRoleBindingsApiV1AdminBindingsGetRequest) Cursor(cursor string) ApiListRoleBindingsApiV1AdminBindingsGetRequest {
	r.cursor = &cursor
	return r
}

func (r ApiListRoleBindingsApiV1AdminBindingsGetRequest) Limit(limit int32) ApiListRoleBindingsApiV1AdminBindingsGetRequest {
	r.limit = &limit
	return r
}

// Repeatable top-level equality filter in field&#x3D;value form
func (r ApiListRoleBindingsApiV1AdminBindingsGetRequest) Filter(filter []*string) ApiListRoleBindingsApiV1AdminBindingsGetRequest {
	r.filter = &filter
	return r
}

// Comma-separated top-level fields; prefix descending fields with -
func (r ApiListRoleBindingsApiV1AdminBindingsGetRequest) Sort(sort string) ApiListRoleBindingsApiV1AdminBindingsGetRequest {
	r.sort = &sort
	return r
}

// Comma-separated top-level response fields
func (r ApiListRoleBindingsApiV1AdminBindingsGetRequest) Fields(fields string) ApiListRoleBindingsApiV1AdminBindingsGetRequest {
	r.fields = &fields
	return r
}

func (r ApiListRoleBindingsApiV1AdminBindingsGetRequest) Authorization(authorization string) ApiListRoleBindingsApiV1AdminBindingsGetRequest {
	r.authorization = &authorization
	return r
}

func (r ApiListRoleBindingsApiV1AdminBindingsGetRequest) XAmeshCSRF(xAmeshCSRF string) ApiListRoleBindingsApiV1AdminBindingsGetRequest {
	r.xAmeshCSRF = &xAmeshCSRF
	return r
}

func (r ApiListRoleBindingsApiV1AdminBindingsGetRequest) Execute() ([]RoleBinding, *http.Response, error) {
	return r.ApiService.ListRoleBindingsApiV1AdminBindingsGetExecute(r)
}

/*
ListRoleBindingsApiV1AdminBindingsGet List Role Bindings

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListRoleBindingsApiV1AdminBindingsGetRequest
*/
func (a *AuthorizationAPIService) ListRoleBindingsApiV1AdminBindingsGet(ctx context.Context) ApiListRoleBindingsApiV1AdminBindingsGetRequest {
	return ApiListRoleBindingsApiV1AdminBindingsGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []RoleBinding
func (a *AuthorizationAPIService) ListRoleBindingsApiV1AdminBindingsGetExecute(r ApiListRoleBindingsApiV1AdminBindingsGetRequest) ([]RoleBinding, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []RoleBinding
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthorizationAPIService.ListRoleBindingsApiV1AdminBindingsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/admin/bindings"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.filter != nil {
		t := *r.filter
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter", t, "form", "multi")
		}
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	}
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xAmeshCSRF != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-CSRF", r.xAmeshCSRF, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListRolesApiV1AdminRolesGetRequest struct {
	ctx context.Context
	ApiService *AuthorizationAPIService
	cursor *string
	limit *int32
	filter *[]string
	sort *string
	fields *string
	authorization *string
	xAmeshCSRF *string
}

// Opaque cursor from the prior page
func (r ApiListRolesApiV1AdminRolesGetRequest) Cursor(cursor string) ApiListRolesApiV1AdminRolesGetRequest {
	r.cursor = &cursor
	return r
}

func (r ApiListRolesApiV1AdminRolesGetRequest) Limit(limit int32) ApiListRolesApiV1AdminRolesGetRequest {
	r.limit = &limit
	return r
}

// Repeatable top-level equality filter in field&#x3D;value form
func (r ApiListRolesApiV1AdminRolesGetRequest) Filter(filter []string) ApiListRolesApiV1AdminRolesGetRequest {
	r.filter = &filter
	return r
}

// Comma-separated top-level fields; prefix descending fields with -
func (r ApiListRolesApiV1AdminRolesGetRequest) Sort(sort string) ApiListRolesApiV1AdminRolesGetRequest {
	r.sort = &sort
	return r
}

// Comma-separated top-level response fields
func (r ApiListRolesApiV1AdminRolesGetRequest) Fields(fields string) ApiListRolesApiV1AdminRolesGetRequest {
	r.fields = &fields
	return r
}

func (r ApiListRolesApiV1AdminRolesGetRequest) Authorization(authorization string) ApiListRolesApiV1AdminRolesGetRequest {
	r.authorization = &authorization
	return r
}

func (r ApiListRolesApiV1AdminRolesGetRequest) XAmeshCSRF(xAmeshCSRF string) ApiListRolesApiV1AdminRolesGetRequest {
	r.xAmeshCSRF = &xAmeshCSRF
	return r
}

func (r ApiListRolesApiV1AdminRolesGetRequest) Execute() ([]RoleDefinition, *http.Response, error) {
	return r.ApiService.ListRolesApiV1AdminRolesGetExecute(r)
}

/*
ListRolesApiV1AdminRolesGet List Roles

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListRolesApiV1AdminRolesGetRequest
*/
func (a *AuthorizationAPIService) ListRolesApiV1AdminRolesGet(ctx context.Context) ApiListRolesApiV1AdminRolesGetRequest {
	return ApiListRolesApiV1AdminRolesGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []RoleDefinition
func (a *AuthorizationAPIService) ListRolesApiV1AdminRolesGetExecute(r ApiListRolesApiV1AdminRolesGetRequest) ([]RoleDefinition, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []RoleDefinition
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthorizationAPIService.ListRolesApiV1AdminRolesGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/admin/roles"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.filter != nil {
		t := *r.filter
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter", t, "form", "multi")
		}
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	}
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xAmeshCSRF != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-CSRF", r.xAmeshCSRF, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRemoveGroupMemberApiV1AdminGroupsGroupIdMembersMemberIdDeleteRequest struct {
	ctx context.Context
	ApiService *AuthorizationAPIService
	groupId string
	memberId string
	authorization *string
	xAmeshCSRF *string
}

func (r ApiRemoveGroupMemberApiV1AdminGroupsGroupIdMembersMemberIdDeleteRequest) Authorization(authorization string) ApiRemoveGroupMemberApiV1AdminGroupsGroupIdMembersMemberIdDeleteRequest {
	r.authorization = &authorization
	return r
}

func (r ApiRemoveGroupMemberApiV1AdminGroupsGroupIdMembersMemberIdDeleteRequest) XAmeshCSRF(xAmeshCSRF string) ApiRemoveGroupMemberApiV1AdminGroupsGroupIdMembersMemberIdDeleteRequest {
	r.xAmeshCSRF = &xAmeshCSRF
	return r
}

func (r ApiRemoveGroupMemberApiV1AdminGroupsGroupIdMembersMemberIdDeleteRequest) Execute() (*http.Response, error) {
	return r.ApiService.RemoveGroupMemberApiV1AdminGroupsGroupIdMembersMemberIdDeleteExecute(r)
}

/*
RemoveGroupMemberApiV1AdminGroupsGroupIdMembersMemberIdDelete Remove Group Member

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param groupId
 @param memberId
 @return ApiRemoveGroupMemberApiV1AdminGroupsGroupIdMembersMemberIdDeleteRequest
*/
func (a *AuthorizationAPIService) RemoveGroupMemberApiV1AdminGroupsGroupIdMembersMemberIdDelete(ctx context.Context, groupId string, memberId string) ApiRemoveGroupMemberApiV1AdminGroupsGroupIdMembersMemberIdDeleteRequest {
	return ApiRemoveGroupMemberApiV1AdminGroupsGroupIdMembersMemberIdDeleteRequest{
		ApiService: a,
		ctx: ctx,
		groupId: groupId,
		memberId: memberId,
	}
}

// Execute executes the request
func (a *AuthorizationAPIService) RemoveGroupMemberApiV1AdminGroupsGroupIdMembersMemberIdDeleteExecute(r ApiRemoveGroupMemberApiV1AdminGroupsGroupIdMembersMemberIdDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthorizationAPIService.RemoveGroupMemberApiV1AdminGroupsGroupIdMembersMemberIdDelete")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/admin/groups/{group_id}/members/{member_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"group_id"+"}", url.PathEscape(parameterValueToString(r.groupId, "groupId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"member_id"+"}", url.PathEscape(parameterValueToString(r.memberId, "memberId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xAmeshCSRF != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-CSRF", r.xAmeshCSRF, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiSetNamespaceAuthorizationBoundaryApiV1AdminTenantsTenantIdNamespacesNamespaceAuthorizationBoundaryPutRequest struct {
	ctx context.Context
	ApiService *AuthorizationAPIService
	tenantId string
	namespace string
	authorization *string
	xAmeshCSRF *string
}

func (r ApiSetNamespaceAuthorizationBoundaryApiV1AdminTenantsTenantIdNamespacesNamespaceAuthorizationBoundaryPutRequest) Authorization(authorization string) ApiSetNamespaceAuthorizationBoundaryApiV1AdminTenantsTenantIdNamespacesNamespaceAuthorizationBoundaryPutRequest {
	r.authorization = &authorization
	return r
}

func (r ApiSetNamespaceAuthorizationBoundaryApiV1AdminTenantsTenantIdNamespacesNamespaceAuthorizationBoundaryPutRequest) XAmeshCSRF(xAmeshCSRF string) ApiSetNamespaceAuthorizationBoundaryApiV1AdminTenantsTenantIdNamespacesNamespaceAuthorizationBoundaryPutRequest {
	r.xAmeshCSRF = &xAmeshCSRF
	return r
}

func (r ApiSetNamespaceAuthorizationBoundaryApiV1AdminTenantsTenantIdNamespacesNamespaceAuthorizationBoundaryPutRequest) Execute() (*NamespaceAuthorizationBoundary, *http.Response, error) {
	return r.ApiService.SetNamespaceAuthorizationBoundaryApiV1AdminTenantsTenantIdNamespacesNamespaceAuthorizationBoundaryPutExecute(r)
}

/*
SetNamespaceAuthorizationBoundaryApiV1AdminTenantsTenantIdNamespacesNamespaceAuthorizationBoundaryPut Set Namespace Authorization Boundary

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tenantId
 @param namespace
 @return ApiSetNamespaceAuthorizationBoundaryApiV1AdminTenantsTenantIdNamespacesNamespaceAuthorizationBoundaryPutRequest
*/
func (a *AuthorizationAPIService) SetNamespaceAuthorizationBoundaryApiV1AdminTenantsTenantIdNamespacesNamespaceAuthorizationBoundaryPut(ctx context.Context, tenantId string, namespace string) ApiSetNamespaceAuthorizationBoundaryApiV1AdminTenantsTenantIdNamespacesNamespaceAuthorizationBoundaryPutRequest {
	return ApiSetNamespaceAuthorizationBoundaryApiV1AdminTenantsTenantIdNamespacesNamespaceAuthorizationBoundaryPutRequest{
		ApiService: a,
		ctx: ctx,
		tenantId: tenantId,
		namespace: namespace,
	}
}

// Execute executes the request
//  @return NamespaceAuthorizationBoundary
func (a *AuthorizationAPIService) SetNamespaceAuthorizationBoundaryApiV1AdminTenantsTenantIdNamespacesNamespaceAuthorizationBoundaryPutExecute(r ApiSetNamespaceAuthorizationBoundaryApiV1AdminTenantsTenantIdNamespacesNamespaceAuthorizationBoundaryPutRequest) (*NamespaceAuthorizationBoundary, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *NamespaceAuthorizationBoundary
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthorizationAPIService.SetNamespaceAuthorizationBoundaryApiV1AdminTenantsTenantIdNamespacesNamespaceAuthorizationBoundaryPut")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/admin/tenants/{tenant_id}/namespaces/{namespace}/authorization-boundary"
	localVarPath = strings.Replace(localVarPath, "{"+"tenant_id"+"}", url.PathEscape(parameterValueToString(r.tenantId, "tenantId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", url.PathEscape(parameterValueToString(r.namespace, "namespace")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xAmeshCSRF != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-CSRF", r.xAmeshCSRF, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpsertRoleApiV1AdminRolesRoleNamePutRequest struct {
	ctx context.Context
	ApiService *AuthorizationAPIService
	roleName string
	roleDefinition *RoleDefinition
	authorization *string
	xAmeshCSRF *string
}

func (r ApiUpsertRoleApiV1AdminRolesRoleNamePutRequest) RoleDefinition(roleDefinition RoleDefinition) ApiUpsertRoleApiV1AdminRolesRoleNamePutRequest {
	r.roleDefinition = &roleDefinition
	return r
}

func (r ApiUpsertRoleApiV1AdminRolesRoleNamePutRequest) Authorization(authorization string) ApiUpsertRoleApiV1AdminRolesRoleNamePutRequest {
	r.authorization = &authorization
	return r
}

func (r ApiUpsertRoleApiV1AdminRolesRoleNamePutRequest) XAmeshCSRF(xAmeshCSRF string) ApiUpsertRoleApiV1AdminRolesRoleNamePutRequest {
	r.xAmeshCSRF = &xAmeshCSRF
	return r
}

func (r ApiUpsertRoleApiV1AdminRolesRoleNamePutRequest) Execute() (*RoleDefinition, *http.Response, error) {
	return r.ApiService.UpsertRoleApiV1AdminRolesRoleNamePutExecute(r)
}

/*
UpsertRoleApiV1AdminRolesRoleNamePut Upsert Role

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param roleName
 @return ApiUpsertRoleApiV1AdminRolesRoleNamePutRequest
*/
func (a *AuthorizationAPIService) UpsertRoleApiV1AdminRolesRoleNamePut(ctx context.Context, roleName string) ApiUpsertRoleApiV1AdminRolesRoleNamePutRequest {
	return ApiUpsertRoleApiV1AdminRolesRoleNamePutRequest{
		ApiService: a,
		ctx: ctx,
		roleName: roleName,
	}
}

// Execute executes the request
//  @return RoleDefinition
func (a *AuthorizationAPIService) UpsertRoleApiV1AdminRolesRoleNamePutExecute(r ApiUpsertRoleApiV1AdminRolesRoleNamePutRequest) (*RoleDefinition, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *RoleDefinition
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthorizationAPIService.UpsertRoleApiV1AdminRolesRoleNamePut")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/admin/roles/{role_name}"
	localVarPath = strings.Replace(localVarPath, "{"+"role_name"+"}", url.PathEscape(parameterValueToString(r.roleName, "roleName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.roleDefinition == nil {
		return localVarReturnValue, nil, reportError("roleDefinition is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xAmeshCSRF != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-CSRF", r.xAmeshCSRF, "simple", "")
	}
	// body params
	localVarPostBody = r.roleDefinition
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
