/*
AMESH

Clean-room durable workflow MVP with validated flow management, execution control, webhook triggers and execution logs.

API version: 0.2.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package ameshclient

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// FlowsAPIService FlowsAPI service
type FlowsAPIService service

type ApiApplyFlowApiV1FlowsPutRequest struct {
	ctx context.Context
	ApiService *FlowsAPIService
	ifMatch *string
	xAMESHSource *string
	xAMESHCommit *string
	xAMESHEnvironment *string
	xAMESHDeployment *string
	authorization *string
	xAmeshCSRF *string
	xAmeshTenant *string
}

func (r ApiApplyFlowApiV1FlowsPutRequest) IfMatch(ifMatch string) ApiApplyFlowApiV1FlowsPutRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r ApiApplyFlowApiV1FlowsPutRequest) XAMESHSource(xAMESHSource string) ApiApplyFlowApiV1FlowsPutRequest {
	r.xAMESHSource = &xAMESHSource
	return r
}

func (r ApiApplyFlowApiV1FlowsPutRequest) XAMESHCommit(xAMESHCommit string) ApiApplyFlowApiV1FlowsPutRequest {
	r.xAMESHCommit = &xAMESHCommit
	return r
}

func (r ApiApplyFlowApiV1FlowsPutRequest) XAMESHEnvironment(xAMESHEnvironment string) ApiApplyFlowApiV1FlowsPutRequest {
	r.xAMESHEnvironment = &xAMESHEnvironment
	return r
}

func (r ApiApplyFlowApiV1FlowsPutRequest) XAMESHDeployment(xAMESHDeployment string) ApiApplyFlowApiV1FlowsPutRequest {
	r.xAMESHDeployment = &xAMESHDeployment
	return r
}

func (r ApiApplyFlowApiV1FlowsPutRequest) Authorization(authorization string) ApiApplyFlowApiV1FlowsPutRequest {
	r.authorization = &authorization
	return r
}

func (r ApiApplyFlowApiV1FlowsPutRequest) XAmeshCSRF(xAmeshCSRF string) ApiApplyFlowApiV1FlowsPutRequest {
	r.xAmeshCSRF = &xAmeshCSRF
	return r
}

func (r ApiApplyFlowApiV1FlowsPutRequest) XAmeshTenant(xAmeshTenant string) ApiApplyFlowApiV1FlowsPutRequest {
	r.xAmeshTenant = &xAmeshTenant
	return r
}

func (r ApiApplyFlowApiV1FlowsPutRequest) Execute() (*PersistedFlow, *http.Response, error) {
	return r.ApiService.ApplyFlowApiV1FlowsPutExecute(r)
}

/*
ApplyFlowApiV1FlowsPut Apply Flow

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiApplyFlowApiV1FlowsPutRequest
*/
func (a *FlowsAPIService) ApplyFlowApiV1FlowsPut(ctx context.Context) ApiApplyFlowApiV1FlowsPutRequest {
	return ApiApplyFlowApiV1FlowsPutRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PersistedFlow
func (a *FlowsAPIService) ApplyFlowApiV1FlowsPutExecute(r ApiApplyFlowApiV1FlowsPutRequest) (*PersistedFlow, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PersistedFlow
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FlowsAPIService.ApplyFlowApiV1FlowsPut")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/flows"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "If-Match", r.ifMatch, "simple", "")
	}
	if r.xAMESHSource != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-AMESH-Source", r.xAMESHSource, "simple", "")
	}
	if r.xAMESHCommit != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-AMESH-Commit", r.xAMESHCommit, "simple", "")
	}
	if r.xAMESHEnvironment != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-AMESH-Environment", r.xAMESHEnvironment, "simple", "")
	}
	if r.xAMESHDeployment != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-AMESH-Deployment", r.xAMESHDeployment, "simple", "")
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xAmeshCSRF != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-CSRF", r.xAmeshCSRF, "simple", "")
	}
	if r.xAmeshTenant != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-Tenant", r.xAmeshTenant, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteFlowRevisionApiV1FlowsNamespaceFlowIdRevisionsRevisionDeleteRequest struct {
	ctx context.Context
	ApiService *FlowsAPIService
	namespace string
	flowId string
	revision int32
	authorization *string
	xAmeshCSRF *string
	xAmeshTenant *string
}

func (r ApiDeleteFlowRevisionApiV1FlowsNamespaceFlowIdRevisionsRevisionDeleteRequest) Authorization(authorization string) ApiDeleteFlowRevisionApiV1FlowsNamespaceFlowIdRevisionsRevisionDeleteRequest {
	r.authorization = &authorization
	return r
}

func (r ApiDeleteFlowRevisionApiV1FlowsNamespaceFlowIdRevisionsRevisionDeleteRequest) XAmeshCSRF(xAmeshCSRF string) ApiDeleteFlowRevisionApiV1FlowsNamespaceFlowIdRevisionsRevisionDeleteRequest {
	r.xAmeshCSRF = &xAmeshCSRF
	return r
}

func (r ApiDeleteFlowRevisionApiV1FlowsNamespaceFlowIdRevisionsRevisionDeleteRequest) XAmeshTenant(xAmeshTenant string) ApiDeleteFlowRevisionApiV1FlowsNamespaceFlowIdRevisionsRevisionDeleteRequest {
	r.xAmeshTenant = &xAmeshTenant
	return r
}

func (r ApiDeleteFlowRevisionApiV1FlowsNamespaceFlowIdRevisionsRevisionDeleteRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteFlowRevisionApiV1FlowsNamespaceFlowIdRevisionsRevisionDeleteExecute(r)
}

/*
DeleteFlowRevisionApiV1FlowsNamespaceFlowIdRevisionsRevisionDelete Delete Flow Revision

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param namespace
 @param flowId
 @param revision
 @return ApiDeleteFlowRevisionApiV1FlowsNamespaceFlowIdRevisionsRevisionDeleteRequest
*/
func (a *FlowsAPIService) DeleteFlowRevisionApiV1FlowsNamespaceFlowIdRevisionsRevisionDelete(ctx context.Context, namespace string, flowId string, revision int32) ApiDeleteFlowRevisionApiV1FlowsNamespaceFlowIdRevisionsRevisionDeleteRequest {
	return ApiDeleteFlowRevisionApiV1FlowsNamespaceFlowIdRevisionsRevisionDeleteRequest{
		ApiService: a,
		ctx: ctx,
		namespace: namespace,
		flowId: flowId,
		revision: revision,
	}
}

// Execute executes the request
func (a *FlowsAPIService) DeleteFlowRevisionApiV1FlowsNamespaceFlowIdRevisionsRevisionDeleteExecute(r ApiDeleteFlowRevisionApiV1FlowsNamespaceFlowIdRevisionsRevisionDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FlowsAPIService.DeleteFlowRevisionApiV1FlowsNamespaceFlowIdRevisionsRevisionDelete")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/flows/{namespace}/{flow_id}/revisions/{revision}"
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", url.PathEscape(parameterValueToString(r.namespace, "namespace")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"flow_id"+"}", url.PathEscape(parameterValueToString(r.flowId, "flowId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"revision"+"}", url.PathEscape(parameterValueToString(r.revision, "revision")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xAmeshCSRF != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-CSRF", r.xAmeshCSRF, "simple", "")
	}
	if r.xAmeshTenant != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-Tenant", r.xAmeshTenant, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiDiffFlowDraftApiV1FlowsNamespaceFlowIdRevisionsRevisionDiffDraftPostRequest struct {
	ctx context.Context
	ApiService *FlowsAPIService
	namespace string
	flowId string
	revision int32
	authorization *string
	xAmeshCSRF *string
	xAmeshTenant *string
}

func (r ApiDiffFlowDraftApiV1FlowsNamespaceFlowIdRevisionsRevisionDiffDraftPostRequest) Authorization(authorization string) ApiDiffFlowDraftApiV1FlowsNamespaceFlowIdRevisionsRevisionDiffDraftPostRequest {
	r.authorization = &authorization
	return r
}

func (r ApiDiffFlowDraftApiV1FlowsNamespaceFlowIdRevisionsRevisionDiffDraftPostRequest) XAmeshCSRF(xAmeshCSRF string) ApiDiffFlowDraftApiV1FlowsNamespaceFlowIdRevisionsRevisionDiffDraftPostRequest {
	r.xAmeshCSRF = &xAmeshCSRF
	return r
}

func (r ApiDiffFlowDraftApiV1FlowsNamespaceFlowIdRevisionsRevisionDiffDraftPostRequest) XAmeshTenant(xAmeshTenant string) ApiDiffFlowDraftApiV1FlowsNamespaceFlowIdRevisionsRevisionDiffDraftPostRequest {
	r.xAmeshTenant = &xAmeshTenant
	return r
}

func (r ApiDiffFlowDraftApiV1FlowsNamespaceFlowIdRevisionsRevisionDiffDraftPostRequest) Execute() (*FlowRevisionDiff, *http.Response, error) {
	return r.ApiService.DiffFlowDraftApiV1FlowsNamespaceFlowIdRevisionsRevisionDiffDraftPostExecute(r)
}

/*
DiffFlowDraftApiV1FlowsNamespaceFlowIdRevisionsRevisionDiffDraftPost Diff Flow Draft

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param namespace
 @param flowId
 @param revision
 @return ApiDiffFlowDraftApiV1FlowsNamespaceFlowIdRevisionsRevisionDiffDraftPostRequest
*/
func (a *FlowsAPIService) DiffFlowDraftApiV1FlowsNamespaceFlowIdRevisionsRevisionDiffDraftPost(ctx context.Context, namespace string, flowId string, revision int32) ApiDiffFlowDraftApiV1FlowsNamespaceFlowIdRevisionsRevisionDiffDraftPostRequest {
	return ApiDiffFlowDraftApiV1FlowsNamespaceFlowIdRevisionsRevisionDiffDraftPostRequest{
		ApiService: a,
		ctx: ctx,
		namespace: namespace,
		flowId: flowId,
		revision: revision,
	}
}

// Execute executes the request
//  @return FlowRevisionDiff
func (a *FlowsAPIService) DiffFlowDraftApiV1FlowsNamespaceFlowIdRevisionsRevisionDiffDraftPostExecute(r ApiDiffFlowDraftApiV1FlowsNamespaceFlowIdRevisionsRevisionDiffDraftPostRequest) (*FlowRevisionDiff, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *FlowRevisionDiff
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FlowsAPIService.DiffFlowDraftApiV1FlowsNamespaceFlowIdRevisionsRevisionDiffDraftPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/flows/{namespace}/{flow_id}/revisions/{revision}/diff-draft"
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", url.PathEscape(parameterValueToString(r.namespace, "namespace")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"flow_id"+"}", url.PathEscape(parameterValueToString(r.flowId, "flowId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"revision"+"}", url.PathEscape(parameterValueToString(r.revision, "revision")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xAmeshCSRF != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-CSRF", r.xAmeshCSRF, "simple", "")
	}
	if r.xAmeshTenant != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-Tenant", r.xAmeshTenant, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDiffFlowRevisionsApiV1FlowsNamespaceFlowIdRevisionsDiffGetRequest struct {
	ctx context.Context
	ApiService *FlowsAPIService
	namespace string
	flowId string
	from *int32
	to *int32
	authorization *string
	xAmeshCSRF *string
	xAmeshTenant *string
}

func (r ApiDiffFlowRevisionsApiV1FlowsNamespaceFlowIdRevisionsDiffGetRequest) From(from int32) ApiDiffFlowRevisionsApiV1FlowsNamespaceFlowIdRevisionsDiffGetRequest {
	r.from = &from
	return r
}

func (r ApiDiffFlowRevisionsApiV1FlowsNamespaceFlowIdRevisionsDiffGetRequest) To(to int32) ApiDiffFlowRevisionsApiV1FlowsNamespaceFlowIdRevisionsDiffGetRequest {
	r.to = &to
	return r
}

func (r ApiDiffFlowRevisionsApiV1FlowsNamespaceFlowIdRevisionsDiffGetRequest) Authorization(authorization string) ApiDiffFlowRevisionsApiV1FlowsNamespaceFlowIdRevisionsDiffGetRequest {
	r.authorization = &authorization
	return r
}

func (r ApiDiffFlowRevisionsApiV1FlowsNamespaceFlowIdRevisionsDiffGetRequest) XAmeshCSRF(xAmeshCSRF string) ApiDiffFlowRevisionsApiV1FlowsNamespaceFlowIdRevisionsDiffGetRequest {
	r.xAmeshCSRF = &xAmeshCSRF
	return r
}

func (r ApiDiffFlowRevisionsApiV1FlowsNamespaceFlowIdRevisionsDiffGetRequest) XAmeshTenant(xAmeshTenant string) ApiDiffFlowRevisionsApiV1FlowsNamespaceFlowIdRevisionsDiffGetRequest {
	r.xAmeshTenant = &xAmeshTenant
	return r
}

func (r ApiDiffFlowRevisionsApiV1FlowsNamespaceFlowIdRevisionsDiffGetRequest) Execute() (*FlowRevisionDiff, *http.Response, error) {
	return r.ApiService.DiffFlowRevisionsApiV1FlowsNamespaceFlowIdRevisionsDiffGetExecute(r)
}

/*
DiffFlowRevisionsApiV1FlowsNamespaceFlowIdRevisionsDiffGet Diff Flow Revisions

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param namespace
 @param flowId
 @return ApiDiffFlowRevisionsApiV1FlowsNamespaceFlowIdRevisionsDiffGetRequest
*/
func (a *FlowsAPIService) DiffFlowRevisionsApiV1FlowsNamespaceFlowIdRevisionsDiffGet(ctx context.Context, namespace string, flowId string) ApiDiffFlowRevisionsApiV1FlowsNamespaceFlowIdRevisionsDiffGetRequest {
	return ApiDiffFlowRevisionsApiV1FlowsNamespaceFlowIdRevisionsDiffGetRequest{
		ApiService: a,
		ctx: ctx,
		namespace: namespace,
		flowId: flowId,
	}
}

// Execute executes the request
//  @return FlowRevisionDiff
func (a *FlowsAPIService) DiffFlowRevisionsApiV1FlowsNamespaceFlowIdRevisionsDiffGetExecute(r ApiDiffFlowRevisionsApiV1FlowsNamespaceFlowIdRevisionsDiffGetRequest) (*FlowRevisionDiff, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *FlowRevisionDiff
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FlowsAPIService.DiffFlowRevisionsApiV1FlowsNamespaceFlowIdRevisionsDiffGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/flows/{namespace}/{flow_id}/revisions/diff"
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", url.PathEscape(parameterValueToString(r.namespace, "namespace")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"flow_id"+"}", url.PathEscape(parameterValueToString(r.flowId, "flowId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.from == nil {
		return localVarReturnValue, nil, reportError("from is required and must be specified")
	}
	if *r.from < 1 {
		return localVarReturnValue, nil, reportError("from must be greater than 1")
	}
	if r.to == nil {
		return localVarReturnValue, nil, reportError("to is required and must be specified")
	}
	if *r.to < 1 {
		return localVarReturnValue, nil, reportError("to must be greater than 1")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "to", r.to, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xAmeshCSRF != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-CSRF", r.xAmeshCSRF, "simple", "")
	}
	if r.xAmeshTenant != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-Tenant", r.xAmeshTenant, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiExportFlowDocumentApiV1FlowsNamespaceFlowIdDocumentGetRequest struct {
	ctx context.Context
	ApiService *FlowsAPIService
	namespace string
	flowId string
	revision *int32
	authorization *string
	xAmeshCSRF *string
	xAmeshTenant *string
}

func (r ApiExportFlowDocumentApiV1FlowsNamespaceFlowIdDocumentGetRequest) Revision(revision int32) ApiExportFlowDocumentApiV1FlowsNamespaceFlowIdDocumentGetRequest {
	r.revision = &revision
	return r
}

func (r ApiExportFlowDocumentApiV1FlowsNamespaceFlowIdDocumentGetRequest) Authorization(authorization string) ApiExportFlowDocumentApiV1FlowsNamespaceFlowIdDocumentGetRequest {
	r.authorization = &authorization
	return r
}

func (r ApiExportFlowDocumentApiV1FlowsNamespaceFlowIdDocumentGetRequest) XAmeshCSRF(xAmeshCSRF string) ApiExportFlowDocumentApiV1FlowsNamespaceFlowIdDocumentGetRequest {
	r.xAmeshCSRF = &xAmeshCSRF
	return r
}

func (r ApiExportFlowDocumentApiV1FlowsNamespaceFlowIdDocumentGetRequest) XAmeshTenant(xAmeshTenant string) ApiExportFlowDocumentApiV1FlowsNamespaceFlowIdDocumentGetRequest {
	r.xAmeshTenant = &xAmeshTenant
	return r
}

func (r ApiExportFlowDocumentApiV1FlowsNamespaceFlowIdDocumentGetRequest) Execute() (*FlowDocumentExport, *http.Response, error) {
	return r.ApiService.ExportFlowDocumentApiV1FlowsNamespaceFlowIdDocumentGetExecute(r)
}

/*
ExportFlowDocumentApiV1FlowsNamespaceFlowIdDocumentGet Export Flow Document

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param namespace
 @param flowId
 @return ApiExportFlowDocumentApiV1FlowsNamespaceFlowIdDocumentGetRequest
*/
func (a *FlowsAPIService) ExportFlowDocumentApiV1FlowsNamespaceFlowIdDocumentGet(ctx context.Context, namespace string, flowId string) ApiExportFlowDocumentApiV1FlowsNamespaceFlowIdDocumentGetRequest {
	return ApiExportFlowDocumentApiV1FlowsNamespaceFlowIdDocumentGetRequest{
		ApiService: a,
		ctx: ctx,
		namespace: namespace,
		flowId: flowId,
	}
}

// Execute executes the request
//  @return FlowDocumentExport
func (a *FlowsAPIService) ExportFlowDocumentApiV1FlowsNamespaceFlowIdDocumentGetExecute(r ApiExportFlowDocumentApiV1FlowsNamespaceFlowIdDocumentGetRequest) (*FlowDocumentExport, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *FlowDocumentExport
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FlowsAPIService.ExportFlowDocumentApiV1FlowsNamespaceFlowIdDocumentGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/flows/{namespace}/{flow_id}/document"
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", url.PathEscape(parameterValueToString(r.namespace, "namespace")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"flow_id"+"}", url.PathEscape(parameterValueToString(r.flowId, "flowId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.revision != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "revision", r.revision, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xAmeshCSRF != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-CSRF", r.xAmeshCSRF, "simple", "")
	}
	if r.xAmeshTenant != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-Tenant", r.xAmeshTenant, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiFormatFlowApiV1FlowsFormatPostRequest struct {
	ctx context.Context
	ApiService *FlowsAPIService
}

func (r ApiFormatFlowApiV1FlowsFormatPostRequest) Execute() (*FlowFormatResponse, *http.Response, error) {
	return r.ApiService.FormatFlowApiV1FlowsFormatPostExecute(r)
}

/*
FormatFlowApiV1FlowsFormatPost Format Flow

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiFormatFlowApiV1FlowsFormatPostRequest
*/
func (a *FlowsAPIService) FormatFlowApiV1FlowsFormatPost(ctx context.Context) ApiFormatFlowApiV1FlowsFormatPostRequest {
	return ApiFormatFlowApiV1FlowsFormatPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return FlowFormatResponse
func (a *FlowsAPIService) FormatFlowApiV1FlowsFormatPostExecute(r ApiFormatFlowApiV1FlowsFormatPostRequest) (*FlowFormatResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *FlowFormatResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FlowsAPIService.FormatFlowApiV1FlowsFormatPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/flows/format"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetFlowDataContractApiV1FlowsNamespaceFlowIdDataContractGetRequest struct {
	ctx context.Context
	ApiService *FlowsAPIService
	namespace string
	flowId string
	authorization *string
	xAmeshCSRF *string
	xAmeshTenant *string
}

func (r ApiGetFlowDataContractApiV1FlowsNamespaceFlowIdDataContractGetRequest) Authorization(authorization string) ApiGetFlowDataContractApiV1FlowsNamespaceFlowIdDataContractGetRequest {
	r.authorization = &authorization
	return r
}

func (r ApiGetFlowDataContractApiV1FlowsNamespaceFlowIdDataContractGetRequest) XAmeshCSRF(xAmeshCSRF string) ApiGetFlowDataContractApiV1FlowsNamespaceFlowIdDataContractGetRequest {
	r.xAmeshCSRF = &xAmeshCSRF
	return r
}

func (r ApiGetFlowDataContractApiV1FlowsNamespaceFlowIdDataContractGetRequest) XAmeshTenant(xAmeshTenant string) ApiGetFlowDataContractApiV1FlowsNamespaceFlowIdDataContractGetRequest {
	r.xAmeshTenant = &xAmeshTenant
	return r
}

func (r ApiGetFlowDataContractApiV1FlowsNamespaceFlowIdDataContractGetRequest) Execute() (*FlowDataContract, *http.Response, error) {
	return r.ApiService.GetFlowDataContractApiV1FlowsNamespaceFlowIdDataContractGetExecute(r)
}

/*
GetFlowDataContractApiV1FlowsNamespaceFlowIdDataContractGet Get Flow Data Contract

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param namespace
 @param flowId
 @return ApiGetFlowDataContractApiV1FlowsNamespaceFlowIdDataContractGetRequest
*/
func (a *FlowsAPIService) GetFlowDataContractApiV1FlowsNamespaceFlowIdDataContractGet(ctx context.Context, namespace string, flowId string) ApiGetFlowDataContractApiV1FlowsNamespaceFlowIdDataContractGetRequest {
	return ApiGetFlowDataContractApiV1FlowsNamespaceFlowIdDataContractGetRequest{
		ApiService: a,
		ctx: ctx,
		namespace: namespace,
		flowId: flowId,
	}
}

// Execute executes the request
//  @return FlowDataContract
func (a *FlowsAPIService) GetFlowDataContractApiV1FlowsNamespaceFlowIdDataContractGetExecute(r ApiGetFlowDataContractApiV1FlowsNamespaceFlowIdDataContractGetRequest) (*FlowDataContract, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *FlowDataContract
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FlowsAPIService.GetFlowDataContractApiV1FlowsNamespaceFlowIdDataContractGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/flows/{namespace}/{flow_id}/data-contract"
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", url.PathEscape(parameterValueToString(r.namespace, "namespace")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"flow_id"+"}", url.PathEscape(parameterValueToString(r.flowId, "flowId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xAmeshCSRF != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-CSRF", r.xAmeshCSRF, "simple", "")
	}
	if r.xAmeshTenant != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-Tenant", r.xAmeshTenant, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetFlowEditorSchemaApiV1FlowsEditorSchemaGetRequest struct {
	ctx context.Context
	ApiService *FlowsAPIService
	authorization *string
	xAmeshCSRF *string
	xAmeshTenant *string
}

func (r ApiGetFlowEditorSchemaApiV1FlowsEditorSchemaGetRequest) Authorization(authorization string) ApiGetFlowEditorSchemaApiV1FlowsEditorSchemaGetRequest {
	r.authorization = &authorization
	return r
}

func (r ApiGetFlowEditorSchemaApiV1FlowsEditorSchemaGetRequest) XAmeshCSRF(xAmeshCSRF string) ApiGetFlowEditorSchemaApiV1FlowsEditorSchemaGetRequest {
	r.xAmeshCSRF = &xAmeshCSRF
	return r
}

func (r ApiGetFlowEditorSchemaApiV1FlowsEditorSchemaGetRequest) XAmeshTenant(xAmeshTenant string) ApiGetFlowEditorSchemaApiV1FlowsEditorSchemaGetRequest {
	r.xAmeshTenant = &xAmeshTenant
	return r
}

func (r ApiGetFlowEditorSchemaApiV1FlowsEditorSchemaGetRequest) Execute() (*FlowEditorSchemaResponse, *http.Response, error) {
	return r.ApiService.GetFlowEditorSchemaApiV1FlowsEditorSchemaGetExecute(r)
}

/*
GetFlowEditorSchemaApiV1FlowsEditorSchemaGet Get Flow Editor Schema

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetFlowEditorSchemaApiV1FlowsEditorSchemaGetRequest
*/
func (a *FlowsAPIService) GetFlowEditorSchemaApiV1FlowsEditorSchemaGet(ctx context.Context) ApiGetFlowEditorSchemaApiV1FlowsEditorSchemaGetRequest {
	return ApiGetFlowEditorSchemaApiV1FlowsEditorSchemaGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return FlowEditorSchemaResponse
func (a *FlowsAPIService) GetFlowEditorSchemaApiV1FlowsEditorSchemaGetExecute(r ApiGetFlowEditorSchemaApiV1FlowsEditorSchemaGetRequest) (*FlowEditorSchemaResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *FlowEditorSchemaResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FlowsAPIService.GetFlowEditorSchemaApiV1FlowsEditorSchemaGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/flows/editor/schema"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xAmeshCSRF != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-CSRF", r.xAmeshCSRF, "simple", "")
	}
	if r.xAmeshTenant != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-Tenant", r.xAmeshTenant, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetFlowGraphApiV1FlowsNamespaceFlowIdGraphGetRequest struct {
	ctx context.Context
	ApiService *FlowsAPIService
	namespace string
	flowId string
	authorization *string
	xAmeshCSRF *string
	xAmeshTenant *string
}

func (r ApiGetFlowGraphApiV1FlowsNamespaceFlowIdGraphGetRequest) Authorization(authorization string) ApiGetFlowGraphApiV1FlowsNamespaceFlowIdGraphGetRequest {
	r.authorization = &authorization
	return r
}

func (r ApiGetFlowGraphApiV1FlowsNamespaceFlowIdGraphGetRequest) XAmeshCSRF(xAmeshCSRF string) ApiGetFlowGraphApiV1FlowsNamespaceFlowIdGraphGetRequest {
	r.xAmeshCSRF = &xAmeshCSRF
	return r
}

func (r ApiGetFlowGraphApiV1FlowsNamespaceFlowIdGraphGetRequest) XAmeshTenant(xAmeshTenant string) ApiGetFlowGraphApiV1FlowsNamespaceFlowIdGraphGetRequest {
	r.xAmeshTenant = &xAmeshTenant
	return r
}

func (r ApiGetFlowGraphApiV1FlowsNamespaceFlowIdGraphGetRequest) Execute() (*FlowGraph, *http.Response, error) {
	return r.ApiService.GetFlowGraphApiV1FlowsNamespaceFlowIdGraphGetExecute(r)
}

/*
GetFlowGraphApiV1FlowsNamespaceFlowIdGraphGet Get Flow Graph

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param namespace
 @param flowId
 @return ApiGetFlowGraphApiV1FlowsNamespaceFlowIdGraphGetRequest
*/
func (a *FlowsAPIService) GetFlowGraphApiV1FlowsNamespaceFlowIdGraphGet(ctx context.Context, namespace string, flowId string) ApiGetFlowGraphApiV1FlowsNamespaceFlowIdGraphGetRequest {
	return ApiGetFlowGraphApiV1FlowsNamespaceFlowIdGraphGetRequest{
		ApiService: a,
		ctx: ctx,
		namespace: namespace,
		flowId: flowId,
	}
}

// Execute executes the request
//  @return FlowGraph
func (a *FlowsAPIService) GetFlowGraphApiV1FlowsNamespaceFlowIdGraphGetExecute(r ApiGetFlowGraphApiV1FlowsNamespaceFlowIdGraphGetRequest) (*FlowGraph, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *FlowGraph
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FlowsAPIService.GetFlowGraphApiV1FlowsNamespaceFlowIdGraphGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/flows/{namespace}/{flow_id}/graph"
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", url.PathEscape(parameterValueToString(r.namespace, "namespace")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"flow_id"+"}", url.PathEscape(parameterValueToString(r.flowId, "flowId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xAmeshCSRF != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-CSRF", r.xAmeshCSRF, "simple", "")
	}
	if r.xAmeshTenant != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-Tenant", r.xAmeshTenant, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetFlowMetadataApiV1FlowsNamespaceFlowIdMetadataGetRequest struct {
	ctx context.Context
	ApiService *FlowsAPIService
	namespace string
	flowId string
	authorization *string
	xAmeshCSRF *string
	xAmeshTenant *string
}

func (r ApiGetFlowMetadataApiV1FlowsNamespaceFlowIdMetadataGetRequest) Authorization(authorization string) ApiGetFlowMetadataApiV1FlowsNamespaceFlowIdMetadataGetRequest {
	r.authorization = &authorization
	return r
}

func (r ApiGetFlowMetadataApiV1FlowsNamespaceFlowIdMetadataGetRequest) XAmeshCSRF(xAmeshCSRF string) ApiGetFlowMetadataApiV1FlowsNamespaceFlowIdMetadataGetRequest {
	r.xAmeshCSRF = &xAmeshCSRF
	return r
}

func (r ApiGetFlowMetadataApiV1FlowsNamespaceFlowIdMetadataGetRequest) XAmeshTenant(xAmeshTenant string) ApiGetFlowMetadataApiV1FlowsNamespaceFlowIdMetadataGetRequest {
	r.xAmeshTenant = &xAmeshTenant
	return r
}

func (r ApiGetFlowMetadataApiV1FlowsNamespaceFlowIdMetadataGetRequest) Execute() (*FlowMetadataResponse, *http.Response, error) {
	return r.ApiService.GetFlowMetadataApiV1FlowsNamespaceFlowIdMetadataGetExecute(r)
}

/*
GetFlowMetadataApiV1FlowsNamespaceFlowIdMetadataGet Get Flow Metadata

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param namespace
 @param flowId
 @return ApiGetFlowMetadataApiV1FlowsNamespaceFlowIdMetadataGetRequest
*/
func (a *FlowsAPIService) GetFlowMetadataApiV1FlowsNamespaceFlowIdMetadataGet(ctx context.Context, namespace string, flowId string) ApiGetFlowMetadataApiV1FlowsNamespaceFlowIdMetadataGetRequest {
	return ApiGetFlowMetadataApiV1FlowsNamespaceFlowIdMetadataGetRequest{
		ApiService: a,
		ctx: ctx,
		namespace: namespace,
		flowId: flowId,
	}
}

// Execute executes the request
//  @return FlowMetadataResponse
func (a *FlowsAPIService) GetFlowMetadataApiV1FlowsNamespaceFlowIdMetadataGetExecute(r ApiGetFlowMetadataApiV1FlowsNamespaceFlowIdMetadataGetRequest) (*FlowMetadataResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *FlowMetadataResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FlowsAPIService.GetFlowMetadataApiV1FlowsNamespaceFlowIdMetadataGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/flows/{namespace}/{flow_id}/metadata"
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", url.PathEscape(parameterValueToString(r.namespace, "namespace")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"flow_id"+"}", url.PathEscape(parameterValueToString(r.flowId, "flowId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xAmeshCSRF != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-CSRF", r.xAmeshCSRF, "simple", "")
	}
	if r.xAmeshTenant != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-Tenant", r.xAmeshTenant, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListFlowRevisionsApiV1FlowsNamespaceFlowIdRevisionsGetRequest struct {
	ctx context.Context
	ApiService *FlowsAPIService
	namespace string
	flowId string
	authorization *string
	xAmeshCSRF *string
	xAmeshTenant *string
}

func (r ApiListFlowRevisionsApiV1FlowsNamespaceFlowIdRevisionsGetRequest) Authorization(authorization string) ApiListFlowRevisionsApiV1FlowsNamespaceFlowIdRevisionsGetRequest {
	r.authorization = &authorization
	return r
}

func (r ApiListFlowRevisionsApiV1FlowsNamespaceFlowIdRevisionsGetRequest) XAmeshCSRF(xAmeshCSRF string) ApiListFlowRevisionsApiV1FlowsNamespaceFlowIdRevisionsGetRequest {
	r.xAmeshCSRF = &xAmeshCSRF
	return r
}

func (r ApiListFlowRevisionsApiV1FlowsNamespaceFlowIdRevisionsGetRequest) XAmeshTenant(xAmeshTenant string) ApiListFlowRevisionsApiV1FlowsNamespaceFlowIdRevisionsGetRequest {
	r.xAmeshTenant = &xAmeshTenant
	return r
}

func (r ApiListFlowRevisionsApiV1FlowsNamespaceFlowIdRevisionsGetRequest) Execute() ([]FlowRevisionRecord, *http.Response, error) {
	return r.ApiService.ListFlowRevisionsApiV1FlowsNamespaceFlowIdRevisionsGetExecute(r)
}

/*
ListFlowRevisionsApiV1FlowsNamespaceFlowIdRevisionsGet List Flow Revisions

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param namespace
 @param flowId
 @return ApiListFlowRevisionsApiV1FlowsNamespaceFlowIdRevisionsGetRequest
*/
func (a *FlowsAPIService) ListFlowRevisionsApiV1FlowsNamespaceFlowIdRevisionsGet(ctx context.Context, namespace string, flowId string) ApiListFlowRevisionsApiV1FlowsNamespaceFlowIdRevisionsGetRequest {
	return ApiListFlowRevisionsApiV1FlowsNamespaceFlowIdRevisionsGetRequest{
		ApiService: a,
		ctx: ctx,
		namespace: namespace,
		flowId: flowId,
	}
}

// Execute executes the request
//  @return []FlowRevisionRecord
func (a *FlowsAPIService) ListFlowRevisionsApiV1FlowsNamespaceFlowIdRevisionsGetExecute(r ApiListFlowRevisionsApiV1FlowsNamespaceFlowIdRevisionsGetRequest) ([]FlowRevisionRecord, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []FlowRevisionRecord
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FlowsAPIService.ListFlowRevisionsApiV1FlowsNamespaceFlowIdRevisionsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/flows/{namespace}/{flow_id}/revisions"
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", url.PathEscape(parameterValueToString(r.namespace, "namespace")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"flow_id"+"}", url.PathEscape(parameterValueToString(r.flowId, "flowId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xAmeshCSRF != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-CSRF", r.xAmeshCSRF, "simple", "")
	}
	if r.xAmeshTenant != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-Tenant", r.xAmeshTenant, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListFlowsApiV1FlowsGetRequest struct {
	ctx context.Context
	ApiService *FlowsAPIService
	cursor *string
	limit *int32
	filter *[]string
	sort *string
	fields *string
	authorization *string
	xAmeshCSRF *string
	xAmeshTenant *string
}

// Opaque cursor from the prior page
func (r ApiListFlowsApiV1FlowsGetRequest) Cursor(cursor string) ApiListFlowsApiV1FlowsGetRequest {
	r.cursor = &cursor
	return r
}

func (r ApiListFlowsApiV1FlowsGetRequest) Limit(limit int32) ApiListFlowsApiV1FlowsGetRequest {
	r.limit = &limit
	return r
}

// Repeatable top-level equality filter in field&#x3D;value form
func (r ApiListFlowsApiV1FlowsGetRequest) Filter(filter []string) ApiListFlowsApiV1FlowsGetRequest {
	r.filter = &filter
	return r
}

// Comma-separated top-level fields; prefix descending fields with -
func (r ApiListFlowsApiV1FlowsGetRequest) Sort(sort string) ApiListFlowsApiV1FlowsGetRequest {
	r.sort = &sort
	return r
}

// Comma-separated top-level response fields
func (r ApiListFlowsApiV1FlowsGetRequest) Fields(fields string) ApiListFlowsApiV1FlowsGetRequest {
	r.fields = &fields
	return r
}

func (r ApiListFlowsApiV1FlowsGetRequest) Authorization(authorization string) ApiListFlowsApiV1FlowsGetRequest {
	r.authorization = &authorization
	return r
}

func (r ApiListFlowsApiV1FlowsGetRequest) XAmeshCSRF(xAmeshCSRF string) ApiListFlowsApiV1FlowsGetRequest {
	r.xAmeshCSRF = &xAmeshCSRF
	return r
}

func (r ApiListFlowsApiV1FlowsGetRequest) XAmeshTenant(xAmeshTenant string) ApiListFlowsApiV1FlowsGetRequest {
	r.xAmeshTenant = &xAmeshTenant
	return r
}

func (r ApiListFlowsApiV1FlowsGetRequest) Execute() ([]PersistedFlow, *http.Response, error) {
	return r.ApiService.ListFlowsApiV1FlowsGetExecute(r)
}

/*
ListFlowsApiV1FlowsGet List Flows

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListFlowsApiV1FlowsGetRequest
*/
func (a *FlowsAPIService) ListFlowsApiV1FlowsGet(ctx context.Context) ApiListFlowsApiV1FlowsGetRequest {
	return ApiListFlowsApiV1FlowsGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []PersistedFlow
func (a *FlowsAPIService) ListFlowsApiV1FlowsGetExecute(r ApiListFlowsApiV1FlowsGetRequest) ([]PersistedFlow, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []PersistedFlow
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FlowsAPIService.ListFlowsApiV1FlowsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/flows"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.filter != nil {
		t := *r.filter
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter", t, "form", "multi")
		}
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	}
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xAmeshCSRF != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-CSRF", r.xAmeshCSRF, "simple", "")
	}
	if r.xAmeshTenant != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-Tenant", r.xAmeshTenant, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPreviewFlowExpressionApiV1FlowsExpressionsPreviewPostRequest struct {
	ctx context.Context
	ApiService *FlowsAPIService
	expressionPreviewRequest *ExpressionPreviewRequest
	authorization *string
	xAmeshCSRF *string
	xAmeshTenant *string
}

func (r ApiPreviewFlowExpressionApiV1FlowsExpressionsPreviewPostRequest) ExpressionPreviewRequest(expressionPreviewRequest ExpressionPreviewRequest) ApiPreviewFlowExpressionApiV1FlowsExpressionsPreviewPostRequest {
	r.expressionPreviewRequest = &expressionPreviewRequest
	return r
}

func (r ApiPreviewFlowExpressionApiV1FlowsExpressionsPreviewPostRequest) Authorization(authorization string) ApiPreviewFlowExpressionApiV1FlowsExpressionsPreviewPostRequest {
	r.authorization = &authorization
	return r
}

func (r ApiPreviewFlowExpressionApiV1FlowsExpressionsPreviewPostRequest) XAmeshCSRF(xAmeshCSRF string) ApiPreviewFlowExpressionApiV1FlowsExpressionsPreviewPostRequest {
	r.xAmeshCSRF = &xAmeshCSRF
	return r
}

func (r ApiPreviewFlowExpressionApiV1FlowsExpressionsPreviewPostRequest) XAmeshTenant(xAmeshTenant string) ApiPreviewFlowExpressionApiV1FlowsExpressionsPreviewPostRequest {
	r.xAmeshTenant = &xAmeshTenant
	return r
}

func (r ApiPreviewFlowExpressionApiV1FlowsExpressionsPreviewPostRequest) Execute() (*ExpressionPreviewResponse, *http.Response, error) {
	return r.ApiService.PreviewFlowExpressionApiV1FlowsExpressionsPreviewPostExecute(r)
}

/*
PreviewFlowExpressionApiV1FlowsExpressionsPreviewPost Preview Flow Expression

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPreviewFlowExpressionApiV1FlowsExpressionsPreviewPostRequest
*/
func (a *FlowsAPIService) PreviewFlowExpressionApiV1FlowsExpressionsPreviewPost(ctx context.Context) ApiPreviewFlowExpressionApiV1FlowsExpressionsPreviewPostRequest {
	return ApiPreviewFlowExpressionApiV1FlowsExpressionsPreviewPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ExpressionPreviewResponse
func (a *FlowsAPIService) PreviewFlowExpressionApiV1FlowsExpressionsPreviewPostExecute(r ApiPreviewFlowExpressionApiV1FlowsExpressionsPreviewPostRequest) (*ExpressionPreviewResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ExpressionPreviewResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FlowsAPIService.PreviewFlowExpressionApiV1FlowsExpressionsPreviewPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/flows/expressions/preview"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.expressionPreviewRequest == nil {
		return localVarReturnValue, nil, reportError("expressionPreviewRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xAmeshCSRF != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-CSRF", r.xAmeshCSRF, "simple", "")
	}
	if r.xAmeshTenant != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-Tenant", r.xAmeshTenant, "simple", "")
	}
	// body params
	localVarPostBody = r.expressionPreviewRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPromoteFlowRevisionApiV1FlowsNamespaceFlowIdRevisionsRevisionLifecyclePutRequest struct {
	ctx context.Context
	ApiService *FlowsAPIService
	namespace string
	flowId string
	revision int32
	flowRevisionLifecycleRequest *FlowRevisionLifecycleRequest
	authorization *string
	xAmeshCSRF *string
	xAmeshTenant *string
}

func (r ApiPromoteFlowRevisionApiV1FlowsNamespaceFlowIdRevisionsRevisionLifecyclePutRequest) FlowRevisionLifecycleRequest(flowRevisionLifecycleRequest FlowRevisionLifecycleRequest) ApiPromoteFlowRevisionApiV1FlowsNamespaceFlowIdRevisionsRevisionLifecyclePutRequest {
	r.flowRevisionLifecycleRequest = &flowRevisionLifecycleRequest
	return r
}

func (r ApiPromoteFlowRevisionApiV1FlowsNamespaceFlowIdRevisionsRevisionLifecyclePutRequest) Authorization(authorization string) ApiPromoteFlowRevisionApiV1FlowsNamespaceFlowIdRevisionsRevisionLifecyclePutRequest {
	r.authorization = &authorization
	return r
}

func (r ApiPromoteFlowRevisionApiV1FlowsNamespaceFlowIdRevisionsRevisionLifecyclePutRequest) XAmeshCSRF(xAmeshCSRF string) ApiPromoteFlowRevisionApiV1FlowsNamespaceFlowIdRevisionsRevisionLifecyclePutRequest {
	r.xAmeshCSRF = &xAmeshCSRF
	return r
}

func (r ApiPromoteFlowRevisionApiV1FlowsNamespaceFlowIdRevisionsRevisionLifecyclePutRequest) XAmeshTenant(xAmeshTenant string) ApiPromoteFlowRevisionApiV1FlowsNamespaceFlowIdRevisionsRevisionLifecyclePutRequest {
	r.xAmeshTenant = &xAmeshTenant
	return r
}

func (r ApiPromoteFlowRevisionApiV1FlowsNamespaceFlowIdRevisionsRevisionLifecyclePutRequest) Execute() (*PersistedFlow, *http.Response, error) {
	return r.ApiService.PromoteFlowRevisionApiV1FlowsNamespaceFlowIdRevisionsRevisionLifecyclePutExecute(r)
}

/*
PromoteFlowRevisionApiV1FlowsNamespaceFlowIdRevisionsRevisionLifecyclePut Promote Flow Revision

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param namespace
 @param flowId
 @param revision
 @return ApiPromoteFlowRevisionApiV1FlowsNamespaceFlowIdRevisionsRevisionLifecyclePutRequest
*/
func (a *FlowsAPIService) PromoteFlowRevisionApiV1FlowsNamespaceFlowIdRevisionsRevisionLifecyclePut(ctx context.Context, namespace string, flowId string, revision int32) ApiPromoteFlowRevisionApiV1FlowsNamespaceFlowIdRevisionsRevisionLifecyclePutRequest {
	return ApiPromoteFlowRevisionApiV1FlowsNamespaceFlowIdRevisionsRevisionLifecyclePutRequest{
		ApiService: a,
		ctx: ctx,
		namespace: namespace,
		flowId: flowId,
		revision: revision,
	}
}

// Execute executes the request
//  @return PersistedFlow
func (a *FlowsAPIService) PromoteFlowRevisionApiV1FlowsNamespaceFlowIdRevisionsRevisionLifecyclePutExecute(r ApiPromoteFlowRevisionApiV1FlowsNamespaceFlowIdRevisionsRevisionLifecyclePutRequest) (*PersistedFlow, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PersistedFlow
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FlowsAPIService.PromoteFlowRevisionApiV1FlowsNamespaceFlowIdRevisionsRevisionLifecyclePut")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/flows/{namespace}/{flow_id}/revisions/{revision}/lifecycle"
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", url.PathEscape(parameterValueToString(r.namespace, "namespace")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"flow_id"+"}", url.PathEscape(parameterValueToString(r.flowId, "flowId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"revision"+"}", url.PathEscape(parameterValueToString(r.revision, "revision")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.flowRevisionLifecycleRequest == nil {
		return localVarReturnValue, nil, reportError("flowRevisionLifecycleRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xAmeshCSRF != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-CSRF", r.xAmeshCSRF, "simple", "")
	}
	if r.xAmeshTenant != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-Tenant", r.xAmeshTenant, "simple", "")
	}
	// body params
	localVarPostBody = r.flowRevisionLifecycleRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRestoreFlowRevisionApiV1FlowsNamespaceFlowIdRevisionsRevisionRestorePostRequest struct {
	ctx context.Context
	ApiService *FlowsAPIService
	namespace string
	flowId string
	revision int32
	flowRevisionRestoreRequest *FlowRevisionRestoreRequest
	authorization *string
	xAmeshCSRF *string
	xAmeshTenant *string
}

func (r ApiRestoreFlowRevisionApiV1FlowsNamespaceFlowIdRevisionsRevisionRestorePostRequest) FlowRevisionRestoreRequest(flowRevisionRestoreRequest FlowRevisionRestoreRequest) ApiRestoreFlowRevisionApiV1FlowsNamespaceFlowIdRevisionsRevisionRestorePostRequest {
	r.flowRevisionRestoreRequest = &flowRevisionRestoreRequest
	return r
}

func (r ApiRestoreFlowRevisionApiV1FlowsNamespaceFlowIdRevisionsRevisionRestorePostRequest) Authorization(authorization string) ApiRestoreFlowRevisionApiV1FlowsNamespaceFlowIdRevisionsRevisionRestorePostRequest {
	r.authorization = &authorization
	return r
}

func (r ApiRestoreFlowRevisionApiV1FlowsNamespaceFlowIdRevisionsRevisionRestorePostRequest) XAmeshCSRF(xAmeshCSRF string) ApiRestoreFlowRevisionApiV1FlowsNamespaceFlowIdRevisionsRevisionRestorePostRequest {
	r.xAmeshCSRF = &xAmeshCSRF
	return r
}

func (r ApiRestoreFlowRevisionApiV1FlowsNamespaceFlowIdRevisionsRevisionRestorePostRequest) XAmeshTenant(xAmeshTenant string) ApiRestoreFlowRevisionApiV1FlowsNamespaceFlowIdRevisionsRevisionRestorePostRequest {
	r.xAmeshTenant = &xAmeshTenant
	return r
}

func (r ApiRestoreFlowRevisionApiV1FlowsNamespaceFlowIdRevisionsRevisionRestorePostRequest) Execute() (*PersistedFlow, *http.Response, error) {
	return r.ApiService.RestoreFlowRevisionApiV1FlowsNamespaceFlowIdRevisionsRevisionRestorePostExecute(r)
}

/*
RestoreFlowRevisionApiV1FlowsNamespaceFlowIdRevisionsRevisionRestorePost Restore Flow Revision

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param namespace
 @param flowId
 @param revision
 @return ApiRestoreFlowRevisionApiV1FlowsNamespaceFlowIdRevisionsRevisionRestorePostRequest
*/
func (a *FlowsAPIService) RestoreFlowRevisionApiV1FlowsNamespaceFlowIdRevisionsRevisionRestorePost(ctx context.Context, namespace string, flowId string, revision int32) ApiRestoreFlowRevisionApiV1FlowsNamespaceFlowIdRevisionsRevisionRestorePostRequest {
	return ApiRestoreFlowRevisionApiV1FlowsNamespaceFlowIdRevisionsRevisionRestorePostRequest{
		ApiService: a,
		ctx: ctx,
		namespace: namespace,
		flowId: flowId,
		revision: revision,
	}
}

// Execute executes the request
//  @return PersistedFlow
func (a *FlowsAPIService) RestoreFlowRevisionApiV1FlowsNamespaceFlowIdRevisionsRevisionRestorePostExecute(r ApiRestoreFlowRevisionApiV1FlowsNamespaceFlowIdRevisionsRevisionRestorePostRequest) (*PersistedFlow, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PersistedFlow
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FlowsAPIService.RestoreFlowRevisionApiV1FlowsNamespaceFlowIdRevisionsRevisionRestorePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/flows/{namespace}/{flow_id}/revisions/{revision}/restore"
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", url.PathEscape(parameterValueToString(r.namespace, "namespace")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"flow_id"+"}", url.PathEscape(parameterValueToString(r.flowId, "flowId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"revision"+"}", url.PathEscape(parameterValueToString(r.revision, "revision")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.flowRevisionRestoreRequest == nil {
		return localVarReturnValue, nil, reportError("flowRevisionRestoreRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xAmeshCSRF != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-CSRF", r.xAmeshCSRF, "simple", "")
	}
	if r.xAmeshTenant != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-Tenant", r.xAmeshTenant, "simple", "")
	}
	// body params
	localVarPostBody = r.flowRevisionRestoreRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiValidateFlowApiV1FlowsValidatePostRequest struct {
	ctx context.Context
	ApiService *FlowsAPIService
}

func (r ApiValidateFlowApiV1FlowsValidatePostRequest) Execute() (*FlowValidationResult, *http.Response, error) {
	return r.ApiService.ValidateFlowApiV1FlowsValidatePostExecute(r)
}

/*
ValidateFlowApiV1FlowsValidatePost Validate Flow

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiValidateFlowApiV1FlowsValidatePostRequest
*/
func (a *FlowsAPIService) ValidateFlowApiV1FlowsValidatePost(ctx context.Context) ApiValidateFlowApiV1FlowsValidatePostRequest {
	return ApiValidateFlowApiV1FlowsValidatePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return FlowValidationResult
func (a *FlowsAPIService) ValidateFlowApiV1FlowsValidatePostExecute(r ApiValidateFlowApiV1FlowsValidatePostRequest) (*FlowValidationResult, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *FlowValidationResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FlowsAPIService.ValidateFlowApiV1FlowsValidatePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/flows/validate"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
