/*
AMESH

Clean-room durable workflow MVP with validated flow management, execution control, webhook triggers and execution logs.

API version: 0.2.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package ameshclient

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// CredentialsAPIService CredentialsAPI service
type CredentialsAPIService service

type ApiExchangeWorkloadCredentialApiV1CredentialsExchangePostRequest struct {
	ctx context.Context
	ApiService *CredentialsAPIService
	exchangeCredentialRequest *ExchangeCredentialRequest
	authorization *string
	xAmeshCSRF *string
}

func (r ApiExchangeWorkloadCredentialApiV1CredentialsExchangePostRequest) ExchangeCredentialRequest(exchangeCredentialRequest ExchangeCredentialRequest) ApiExchangeWorkloadCredentialApiV1CredentialsExchangePostRequest {
	r.exchangeCredentialRequest = &exchangeCredentialRequest
	return r
}

func (r ApiExchangeWorkloadCredentialApiV1CredentialsExchangePostRequest) Authorization(authorization string) ApiExchangeWorkloadCredentialApiV1CredentialsExchangePostRequest {
	r.authorization = &authorization
	return r
}

func (r ApiExchangeWorkloadCredentialApiV1CredentialsExchangePostRequest) XAmeshCSRF(xAmeshCSRF string) ApiExchangeWorkloadCredentialApiV1CredentialsExchangePostRequest {
	r.xAmeshCSRF = &xAmeshCSRF
	return r
}

func (r ApiExchangeWorkloadCredentialApiV1CredentialsExchangePostRequest) Execute() (*IssuedCredentialResponse, *http.Response, error) {
	return r.ApiService.ExchangeWorkloadCredentialApiV1CredentialsExchangePostExecute(r)
}

/*
ExchangeWorkloadCredentialApiV1CredentialsExchangePost Exchange Workload Credential

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiExchangeWorkloadCredentialApiV1CredentialsExchangePostRequest
*/
func (a *CredentialsAPIService) ExchangeWorkloadCredentialApiV1CredentialsExchangePost(ctx context.Context) ApiExchangeWorkloadCredentialApiV1CredentialsExchangePostRequest {
	return ApiExchangeWorkloadCredentialApiV1CredentialsExchangePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return IssuedCredentialResponse
func (a *CredentialsAPIService) ExchangeWorkloadCredentialApiV1CredentialsExchangePostExecute(r ApiExchangeWorkloadCredentialApiV1CredentialsExchangePostRequest) (*IssuedCredentialResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *IssuedCredentialResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CredentialsAPIService.ExchangeWorkloadCredentialApiV1CredentialsExchangePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/credentials/exchange"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.exchangeCredentialRequest == nil {
		return localVarReturnValue, nil, reportError("exchangeCredentialRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xAmeshCSRF != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-CSRF", r.xAmeshCSRF, "simple", "")
	}
	// body params
	localVarPostBody = r.exchangeCredentialRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIssueCredentialApiV1AdminPrincipalsPrincipalIdCredentialsPostRequest struct {
	ctx context.Context
	ApiService *CredentialsAPIService
	principalId string
	issueCredentialRequest *IssueCredentialRequest
	authorization *string
	xAmeshCSRF *string
}

func (r ApiIssueCredentialApiV1AdminPrincipalsPrincipalIdCredentialsPostRequest) IssueCredentialRequest(issueCredentialRequest IssueCredentialRequest) ApiIssueCredentialApiV1AdminPrincipalsPrincipalIdCredentialsPostRequest {
	r.issueCredentialRequest = &issueCredentialRequest
	return r
}

func (r ApiIssueCredentialApiV1AdminPrincipalsPrincipalIdCredentialsPostRequest) Authorization(authorization string) ApiIssueCredentialApiV1AdminPrincipalsPrincipalIdCredentialsPostRequest {
	r.authorization = &authorization
	return r
}

func (r ApiIssueCredentialApiV1AdminPrincipalsPrincipalIdCredentialsPostRequest) XAmeshCSRF(xAmeshCSRF string) ApiIssueCredentialApiV1AdminPrincipalsPrincipalIdCredentialsPostRequest {
	r.xAmeshCSRF = &xAmeshCSRF
	return r
}

func (r ApiIssueCredentialApiV1AdminPrincipalsPrincipalIdCredentialsPostRequest) Execute() (*IssuedCredentialResponse, *http.Response, error) {
	return r.ApiService.IssueCredentialApiV1AdminPrincipalsPrincipalIdCredentialsPostExecute(r)
}

/*
IssueCredentialApiV1AdminPrincipalsPrincipalIdCredentialsPost Issue Credential

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param principalId
 @return ApiIssueCredentialApiV1AdminPrincipalsPrincipalIdCredentialsPostRequest
*/
func (a *CredentialsAPIService) IssueCredentialApiV1AdminPrincipalsPrincipalIdCredentialsPost(ctx context.Context, principalId string) ApiIssueCredentialApiV1AdminPrincipalsPrincipalIdCredentialsPostRequest {
	return ApiIssueCredentialApiV1AdminPrincipalsPrincipalIdCredentialsPostRequest{
		ApiService: a,
		ctx: ctx,
		principalId: principalId,
	}
}

// Execute executes the request
//  @return IssuedCredentialResponse
func (a *CredentialsAPIService) IssueCredentialApiV1AdminPrincipalsPrincipalIdCredentialsPostExecute(r ApiIssueCredentialApiV1AdminPrincipalsPrincipalIdCredentialsPostRequest) (*IssuedCredentialResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *IssuedCredentialResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CredentialsAPIService.IssueCredentialApiV1AdminPrincipalsPrincipalIdCredentialsPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/admin/principals/{principal_id}/credentials"
	localVarPath = strings.Replace(localVarPath, "{"+"principal_id"+"}", url.PathEscape(parameterValueToString(r.principalId, "principalId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.issueCredentialRequest == nil {
		return localVarReturnValue, nil, reportError("issueCredentialRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xAmeshCSRF != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-CSRF", r.xAmeshCSRF, "simple", "")
	}
	// body params
	localVarPostBody = r.issueCredentialRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListCredentialsApiV1AdminPrincipalsPrincipalIdCredentialsGetRequest struct {
	ctx context.Context
	ApiService *CredentialsAPIService
	principalId string
	cursor *string
	limit *int32
	filter *[]string
	sort *string
	fields *string
	authorization *string
	xAmeshCSRF *string
}

// Opaque cursor from the prior page
func (r ApiListCredentialsApiV1AdminPrincipalsPrincipalIdCredentialsGetRequest) Cursor(cursor string) ApiListCredentialsApiV1AdminPrincipalsPrincipalIdCredentialsGetRequest {
	r.cursor = &cursor
	return r
}

func (r ApiListCredentialsApiV1AdminPrincipalsPrincipalIdCredentialsGetRequest) Limit(limit int32) ApiListCredentialsApiV1AdminPrincipalsPrincipalIdCredentialsGetRequest {
	r.limit = &limit
	return r
}

// Repeatable top-level equality filter in field&#x3D;value form
func (r ApiListCredentialsApiV1AdminPrincipalsPrincipalIdCredentialsGetRequest) Filter(filter []string) ApiListCredentialsApiV1AdminPrincipalsPrincipalIdCredentialsGetRequest {
	r.filter = &filter
	return r
}

// Comma-separated top-level fields; prefix descending fields with -
func (r ApiListCredentialsApiV1AdminPrincipalsPrincipalIdCredentialsGetRequest) Sort(sort string) ApiListCredentialsApiV1AdminPrincipalsPrincipalIdCredentialsGetRequest {
	r.sort = &sort
	return r
}

// Comma-separated top-level response fields
func (r ApiListCredentialsApiV1AdminPrincipalsPrincipalIdCredentialsGetRequest) Fields(fields string) ApiListCredentialsApiV1AdminPrincipalsPrincipalIdCredentialsGetRequest {
	r.fields = &fields
	return r
}

func (r ApiListCredentialsApiV1AdminPrincipalsPrincipalIdCredentialsGetRequest) Authorization(authorization string) ApiListCredentialsApiV1AdminPrincipalsPrincipalIdCredentialsGetRequest {
	r.authorization = &authorization
	return r
}

func (r ApiListCredentialsApiV1AdminPrincipalsPrincipalIdCredentialsGetRequest) XAmeshCSRF(xAmeshCSRF string) ApiListCredentialsApiV1AdminPrincipalsPrincipalIdCredentialsGetRequest {
	r.xAmeshCSRF = &xAmeshCSRF
	return r
}

func (r ApiListCredentialsApiV1AdminPrincipalsPrincipalIdCredentialsGetRequest) Execute() ([]CredentialMetadata, *http.Response, error) {
	return r.ApiService.ListCredentialsApiV1AdminPrincipalsPrincipalIdCredentialsGetExecute(r)
}

/*
ListCredentialsApiV1AdminPrincipalsPrincipalIdCredentialsGet List Credentials

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param principalId
 @return ApiListCredentialsApiV1AdminPrincipalsPrincipalIdCredentialsGetRequest
*/
func (a *CredentialsAPIService) ListCredentialsApiV1AdminPrincipalsPrincipalIdCredentialsGet(ctx context.Context, principalId string) ApiListCredentialsApiV1AdminPrincipalsPrincipalIdCredentialsGetRequest {
	return ApiListCredentialsApiV1AdminPrincipalsPrincipalIdCredentialsGetRequest{
		ApiService: a,
		ctx: ctx,
		principalId: principalId,
	}
}

// Execute executes the request
//  @return []CredentialMetadata
func (a *CredentialsAPIService) ListCredentialsApiV1AdminPrincipalsPrincipalIdCredentialsGetExecute(r ApiListCredentialsApiV1AdminPrincipalsPrincipalIdCredentialsGetRequest) ([]CredentialMetadata, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []CredentialMetadata
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CredentialsAPIService.ListCredentialsApiV1AdminPrincipalsPrincipalIdCredentialsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/admin/principals/{principal_id}/credentials"
	localVarPath = strings.Replace(localVarPath, "{"+"principal_id"+"}", url.PathEscape(parameterValueToString(r.principalId, "principalId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.filter != nil {
		t := *r.filter
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter", t, "form", "multi")
		}
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	}
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xAmeshCSRF != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-CSRF", r.xAmeshCSRF, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRevokeAllCredentialsApiV1AdminPrincipalsPrincipalIdCredentialsDeleteRequest struct {
	ctx context.Context
	ApiService *CredentialsAPIService
	principalId string
	authorization *string
	xAmeshCSRF *string
}

func (r ApiRevokeAllCredentialsApiV1AdminPrincipalsPrincipalIdCredentialsDeleteRequest) Authorization(authorization string) ApiRevokeAllCredentialsApiV1AdminPrincipalsPrincipalIdCredentialsDeleteRequest {
	r.authorization = &authorization
	return r
}

func (r ApiRevokeAllCredentialsApiV1AdminPrincipalsPrincipalIdCredentialsDeleteRequest) XAmeshCSRF(xAmeshCSRF string) ApiRevokeAllCredentialsApiV1AdminPrincipalsPrincipalIdCredentialsDeleteRequest {
	r.xAmeshCSRF = &xAmeshCSRF
	return r
}

func (r ApiRevokeAllCredentialsApiV1AdminPrincipalsPrincipalIdCredentialsDeleteRequest) Execute() (*RevokedCredentialsResponse, *http.Response, error) {
	return r.ApiService.RevokeAllCredentialsApiV1AdminPrincipalsPrincipalIdCredentialsDeleteExecute(r)
}

/*
RevokeAllCredentialsApiV1AdminPrincipalsPrincipalIdCredentialsDelete Revoke All Credentials

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param principalId
 @return ApiRevokeAllCredentialsApiV1AdminPrincipalsPrincipalIdCredentialsDeleteRequest
*/
func (a *CredentialsAPIService) RevokeAllCredentialsApiV1AdminPrincipalsPrincipalIdCredentialsDelete(ctx context.Context, principalId string) ApiRevokeAllCredentialsApiV1AdminPrincipalsPrincipalIdCredentialsDeleteRequest {
	return ApiRevokeAllCredentialsApiV1AdminPrincipalsPrincipalIdCredentialsDeleteRequest{
		ApiService: a,
		ctx: ctx,
		principalId: principalId,
	}
}

// Execute executes the request
//  @return RevokedCredentialsResponse
func (a *CredentialsAPIService) RevokeAllCredentialsApiV1AdminPrincipalsPrincipalIdCredentialsDeleteExecute(r ApiRevokeAllCredentialsApiV1AdminPrincipalsPrincipalIdCredentialsDeleteRequest) (*RevokedCredentialsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *RevokedCredentialsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CredentialsAPIService.RevokeAllCredentialsApiV1AdminPrincipalsPrincipalIdCredentialsDelete")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/admin/principals/{principal_id}/credentials"
	localVarPath = strings.Replace(localVarPath, "{"+"principal_id"+"}", url.PathEscape(parameterValueToString(r.principalId, "principalId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xAmeshCSRF != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-CSRF", r.xAmeshCSRF, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRevokeCredentialApiV1AdminCredentialsCredentialIdDeleteRequest struct {
	ctx context.Context
	ApiService *CredentialsAPIService
	credentialId string
	authorization *string
	xAmeshCSRF *string
}

func (r ApiRevokeCredentialApiV1AdminCredentialsCredentialIdDeleteRequest) Authorization(authorization string) ApiRevokeCredentialApiV1AdminCredentialsCredentialIdDeleteRequest {
	r.authorization = &authorization
	return r
}

func (r ApiRevokeCredentialApiV1AdminCredentialsCredentialIdDeleteRequest) XAmeshCSRF(xAmeshCSRF string) ApiRevokeCredentialApiV1AdminCredentialsCredentialIdDeleteRequest {
	r.xAmeshCSRF = &xAmeshCSRF
	return r
}

func (r ApiRevokeCredentialApiV1AdminCredentialsCredentialIdDeleteRequest) Execute() (*RevokedCredentialsResponse, *http.Response, error) {
	return r.ApiService.RevokeCredentialApiV1AdminCredentialsCredentialIdDeleteExecute(r)
}

/*
RevokeCredentialApiV1AdminCredentialsCredentialIdDelete Revoke Credential

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param credentialId
 @return ApiRevokeCredentialApiV1AdminCredentialsCredentialIdDeleteRequest
*/
func (a *CredentialsAPIService) RevokeCredentialApiV1AdminCredentialsCredentialIdDelete(ctx context.Context, credentialId string) ApiRevokeCredentialApiV1AdminCredentialsCredentialIdDeleteRequest {
	return ApiRevokeCredentialApiV1AdminCredentialsCredentialIdDeleteRequest{
		ApiService: a,
		ctx: ctx,
		credentialId: credentialId,
	}
}

// Execute executes the request
//  @return RevokedCredentialsResponse
func (a *CredentialsAPIService) RevokeCredentialApiV1AdminCredentialsCredentialIdDeleteExecute(r ApiRevokeCredentialApiV1AdminCredentialsCredentialIdDeleteRequest) (*RevokedCredentialsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *RevokedCredentialsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CredentialsAPIService.RevokeCredentialApiV1AdminCredentialsCredentialIdDelete")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/admin/credentials/{credential_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"credential_id"+"}", url.PathEscape(parameterValueToString(r.credentialId, "credentialId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xAmeshCSRF != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-CSRF", r.xAmeshCSRF, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRotateCredentialApiV1AdminCredentialsCredentialIdRotatePostRequest struct {
	ctx context.Context
	ApiService *CredentialsAPIService
	credentialId string
	rotateCredentialRequest *RotateCredentialRequest
	authorization *string
	xAmeshCSRF *string
}

func (r ApiRotateCredentialApiV1AdminCredentialsCredentialIdRotatePostRequest) RotateCredentialRequest(rotateCredentialRequest RotateCredentialRequest) ApiRotateCredentialApiV1AdminCredentialsCredentialIdRotatePostRequest {
	r.rotateCredentialRequest = &rotateCredentialRequest
	return r
}

func (r ApiRotateCredentialApiV1AdminCredentialsCredentialIdRotatePostRequest) Authorization(authorization string) ApiRotateCredentialApiV1AdminCredentialsCredentialIdRotatePostRequest {
	r.authorization = &authorization
	return r
}

func (r ApiRotateCredentialApiV1AdminCredentialsCredentialIdRotatePostRequest) XAmeshCSRF(xAmeshCSRF string) ApiRotateCredentialApiV1AdminCredentialsCredentialIdRotatePostRequest {
	r.xAmeshCSRF = &xAmeshCSRF
	return r
}

func (r ApiRotateCredentialApiV1AdminCredentialsCredentialIdRotatePostRequest) Execute() (*IssuedCredentialResponse, *http.Response, error) {
	return r.ApiService.RotateCredentialApiV1AdminCredentialsCredentialIdRotatePostExecute(r)
}

/*
RotateCredentialApiV1AdminCredentialsCredentialIdRotatePost Rotate Credential

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param credentialId
 @return ApiRotateCredentialApiV1AdminCredentialsCredentialIdRotatePostRequest
*/
func (a *CredentialsAPIService) RotateCredentialApiV1AdminCredentialsCredentialIdRotatePost(ctx context.Context, credentialId string) ApiRotateCredentialApiV1AdminCredentialsCredentialIdRotatePostRequest {
	return ApiRotateCredentialApiV1AdminCredentialsCredentialIdRotatePostRequest{
		ApiService: a,
		ctx: ctx,
		credentialId: credentialId,
	}
}

// Execute executes the request
//  @return IssuedCredentialResponse
func (a *CredentialsAPIService) RotateCredentialApiV1AdminCredentialsCredentialIdRotatePostExecute(r ApiRotateCredentialApiV1AdminCredentialsCredentialIdRotatePostRequest) (*IssuedCredentialResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *IssuedCredentialResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CredentialsAPIService.RotateCredentialApiV1AdminCredentialsCredentialIdRotatePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/admin/credentials/{credential_id}/rotate"
	localVarPath = strings.Replace(localVarPath, "{"+"credential_id"+"}", url.PathEscape(parameterValueToString(r.credentialId, "credentialId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.rotateCredentialRequest == nil {
		return localVarReturnValue, nil, reportError("rotateCredentialRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xAmeshCSRF != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-CSRF", r.xAmeshCSRF, "simple", "")
	}
	// body params
	localVarPostBody = r.rotateCredentialRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
