/*
AMESH

Clean-room durable workflow MVP with validated flow management, execution control, webhook triggers and execution logs.

API version: 0.2.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package ameshclient

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// UiAPIService UiAPI service
type UiAPIService service

type ApiGetUiSessionApiV1UiSessionGetRequest struct {
	ctx context.Context
	ApiService *UiAPIService
	namespace *string
	authorization *string
	xAmeshCSRF *string
	xAmeshTenant *string
}

func (r ApiGetUiSessionApiV1UiSessionGetRequest) Namespace(namespace string) ApiGetUiSessionApiV1UiSessionGetRequest {
	r.namespace = &namespace
	return r
}

func (r ApiGetUiSessionApiV1UiSessionGetRequest) Authorization(authorization string) ApiGetUiSessionApiV1UiSessionGetRequest {
	r.authorization = &authorization
	return r
}

func (r ApiGetUiSessionApiV1UiSessionGetRequest) XAmeshCSRF(xAmeshCSRF string) ApiGetUiSessionApiV1UiSessionGetRequest {
	r.xAmeshCSRF = &xAmeshCSRF
	return r
}

func (r ApiGetUiSessionApiV1UiSessionGetRequest) XAmeshTenant(xAmeshTenant string) ApiGetUiSessionApiV1UiSessionGetRequest {
	r.xAmeshTenant = &xAmeshTenant
	return r
}

func (r ApiGetUiSessionApiV1UiSessionGetRequest) Execute() (*UiSessionResponse, *http.Response, error) {
	return r.ApiService.GetUiSessionApiV1UiSessionGetExecute(r)
}

/*
GetUiSessionApiV1UiSessionGet Get Ui Session

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetUiSessionApiV1UiSessionGetRequest
*/
func (a *UiAPIService) GetUiSessionApiV1UiSessionGet(ctx context.Context) ApiGetUiSessionApiV1UiSessionGetRequest {
	return ApiGetUiSessionApiV1UiSessionGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return UiSessionResponse
func (a *UiAPIService) GetUiSessionApiV1UiSessionGetExecute(r ApiGetUiSessionApiV1UiSessionGetRequest) (*UiSessionResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *UiSessionResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UiAPIService.GetUiSessionApiV1UiSessionGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/ui/session"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.namespace != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "namespace", r.namespace, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xAmeshCSRF != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-CSRF", r.xAmeshCSRF, "simple", "")
	}
	if r.xAmeshTenant != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-Tenant", r.xAmeshTenant, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
