/*
AMESH

Clean-room durable workflow MVP with validated flow management, execution control, webhook triggers and execution logs.

API version: 0.2.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package ameshclient

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"reflect"
	"strings"
)

// TenantsAPIService TenantsAPI service
type TenantsAPIService service

type ApiCreateTenantApiV1AdminTenantsPostRequest struct {
	ctx                 context.Context
	ApiService          *TenantsAPIService
	createTenantRequest *CreateTenantRequest
	authorization       *string
	xAmeshCSRF          *string
}

func (r ApiCreateTenantApiV1AdminTenantsPostRequest) CreateTenantRequest(createTenantRequest CreateTenantRequest) ApiCreateTenantApiV1AdminTenantsPostRequest {
	r.createTenantRequest = &createTenantRequest
	return r
}

func (r ApiCreateTenantApiV1AdminTenantsPostRequest) Authorization(authorization string) ApiCreateTenantApiV1AdminTenantsPostRequest {
	r.authorization = &authorization
	return r
}

func (r ApiCreateTenantApiV1AdminTenantsPostRequest) XAmeshCSRF(xAmeshCSRF string) ApiCreateTenantApiV1AdminTenantsPostRequest {
	r.xAmeshCSRF = &xAmeshCSRF
	return r
}

func (r ApiCreateTenantApiV1AdminTenantsPostRequest) Execute() (*TenantDefinition, *http.Response, error) {
	return r.ApiService.CreateTenantApiV1AdminTenantsPostExecute(r)
}

/*
CreateTenantApiV1AdminTenantsPost Create Tenant

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCreateTenantApiV1AdminTenantsPostRequest
*/
func (a *TenantsAPIService) CreateTenantApiV1AdminTenantsPost(ctx context.Context) ApiCreateTenantApiV1AdminTenantsPostRequest {
	return ApiCreateTenantApiV1AdminTenantsPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return TenantDefinition
func (a *TenantsAPIService) CreateTenantApiV1AdminTenantsPostExecute(r ApiCreateTenantApiV1AdminTenantsPostRequest) (*TenantDefinition, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *TenantDefinition
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TenantsAPIService.CreateTenantApiV1AdminTenantsPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/admin/tenants"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createTenantRequest == nil {
		return localVarReturnValue, nil, reportError("createTenantRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xAmeshCSRF != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-CSRF", r.xAmeshCSRF, "simple", "")
	}
	// body params
	localVarPostBody = r.createTenantRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteTenantApiV1AdminTenantsTenantSlugDeleteRequest struct {
	ctx           context.Context
	ApiService    *TenantsAPIService
	tenantSlug    string
	authorization *string
	xAmeshCSRF    *string
}

func (r ApiDeleteTenantApiV1AdminTenantsTenantSlugDeleteRequest) Authorization(authorization string) ApiDeleteTenantApiV1AdminTenantsTenantSlugDeleteRequest {
	r.authorization = &authorization
	return r
}

func (r ApiDeleteTenantApiV1AdminTenantsTenantSlugDeleteRequest) XAmeshCSRF(xAmeshCSRF string) ApiDeleteTenantApiV1AdminTenantsTenantSlugDeleteRequest {
	r.xAmeshCSRF = &xAmeshCSRF
	return r
}

func (r ApiDeleteTenantApiV1AdminTenantsTenantSlugDeleteRequest) Execute() (*TenantDefinition, *http.Response, error) {
	return r.ApiService.DeleteTenantApiV1AdminTenantsTenantSlugDeleteExecute(r)
}

/*
DeleteTenantApiV1AdminTenantsTenantSlugDelete Delete Tenant

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param tenantSlug
	@return ApiDeleteTenantApiV1AdminTenantsTenantSlugDeleteRequest
*/
func (a *TenantsAPIService) DeleteTenantApiV1AdminTenantsTenantSlugDelete(ctx context.Context, tenantSlug string) ApiDeleteTenantApiV1AdminTenantsTenantSlugDeleteRequest {
	return ApiDeleteTenantApiV1AdminTenantsTenantSlugDeleteRequest{
		ApiService: a,
		ctx:        ctx,
		tenantSlug: tenantSlug,
	}
}

// Execute executes the request
//
//	@return TenantDefinition
func (a *TenantsAPIService) DeleteTenantApiV1AdminTenantsTenantSlugDeleteExecute(r ApiDeleteTenantApiV1AdminTenantsTenantSlugDeleteRequest) (*TenantDefinition, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *TenantDefinition
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TenantsAPIService.DeleteTenantApiV1AdminTenantsTenantSlugDelete")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/admin/tenants/{tenant_slug}"
	localVarPath = strings.Replace(localVarPath, "{"+"tenant_slug"+"}", url.PathEscape(parameterValueToString(r.tenantSlug, "tenantSlug")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xAmeshCSRF != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-CSRF", r.xAmeshCSRF, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiExportTenantApiV1AdminTenantsTenantSlugExportsPostRequest struct {
	ctx           context.Context
	ApiService    *TenantsAPIService
	tenantSlug    string
	authorization *string
	xAmeshCSRF    *string
}

func (r ApiExportTenantApiV1AdminTenantsTenantSlugExportsPostRequest) Authorization(authorization string) ApiExportTenantApiV1AdminTenantsTenantSlugExportsPostRequest {
	r.authorization = &authorization
	return r
}

func (r ApiExportTenantApiV1AdminTenantsTenantSlugExportsPostRequest) XAmeshCSRF(xAmeshCSRF string) ApiExportTenantApiV1AdminTenantsTenantSlugExportsPostRequest {
	r.xAmeshCSRF = &xAmeshCSRF
	return r
}

func (r ApiExportTenantApiV1AdminTenantsTenantSlugExportsPostRequest) Execute() (*TenantExport, *http.Response, error) {
	return r.ApiService.ExportTenantApiV1AdminTenantsTenantSlugExportsPostExecute(r)
}

/*
ExportTenantApiV1AdminTenantsTenantSlugExportsPost Export Tenant

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param tenantSlug
	@return ApiExportTenantApiV1AdminTenantsTenantSlugExportsPostRequest
*/
func (a *TenantsAPIService) ExportTenantApiV1AdminTenantsTenantSlugExportsPost(ctx context.Context, tenantSlug string) ApiExportTenantApiV1AdminTenantsTenantSlugExportsPostRequest {
	return ApiExportTenantApiV1AdminTenantsTenantSlugExportsPostRequest{
		ApiService: a,
		ctx:        ctx,
		tenantSlug: tenantSlug,
	}
}

// Execute executes the request
//
//	@return TenantExport
func (a *TenantsAPIService) ExportTenantApiV1AdminTenantsTenantSlugExportsPostExecute(r ApiExportTenantApiV1AdminTenantsTenantSlugExportsPostRequest) (*TenantExport, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *TenantExport
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TenantsAPIService.ExportTenantApiV1AdminTenantsTenantSlugExportsPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/admin/tenants/{tenant_slug}/exports"
	localVarPath = strings.Replace(localVarPath, "{"+"tenant_slug"+"}", url.PathEscape(parameterValueToString(r.tenantSlug, "tenantSlug")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xAmeshCSRF != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-CSRF", r.xAmeshCSRF, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetTenantApiV1AdminTenantsTenantSlugGetRequest struct {
	ctx           context.Context
	ApiService    *TenantsAPIService
	tenantSlug    string
	authorization *string
	xAmeshCSRF    *string
}

func (r ApiGetTenantApiV1AdminTenantsTenantSlugGetRequest) Authorization(authorization string) ApiGetTenantApiV1AdminTenantsTenantSlugGetRequest {
	r.authorization = &authorization
	return r
}

func (r ApiGetTenantApiV1AdminTenantsTenantSlugGetRequest) XAmeshCSRF(xAmeshCSRF string) ApiGetTenantApiV1AdminTenantsTenantSlugGetRequest {
	r.xAmeshCSRF = &xAmeshCSRF
	return r
}

func (r ApiGetTenantApiV1AdminTenantsTenantSlugGetRequest) Execute() (*TenantDefinition, *http.Response, error) {
	return r.ApiService.GetTenantApiV1AdminTenantsTenantSlugGetExecute(r)
}

/*
GetTenantApiV1AdminTenantsTenantSlugGet Get Tenant

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param tenantSlug
	@return ApiGetTenantApiV1AdminTenantsTenantSlugGetRequest
*/
func (a *TenantsAPIService) GetTenantApiV1AdminTenantsTenantSlugGet(ctx context.Context, tenantSlug string) ApiGetTenantApiV1AdminTenantsTenantSlugGetRequest {
	return ApiGetTenantApiV1AdminTenantsTenantSlugGetRequest{
		ApiService: a,
		ctx:        ctx,
		tenantSlug: tenantSlug,
	}
}

// Execute executes the request
//
//	@return TenantDefinition
func (a *TenantsAPIService) GetTenantApiV1AdminTenantsTenantSlugGetExecute(r ApiGetTenantApiV1AdminTenantsTenantSlugGetRequest) (*TenantDefinition, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *TenantDefinition
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TenantsAPIService.GetTenantApiV1AdminTenantsTenantSlugGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/admin/tenants/{tenant_slug}"
	localVarPath = strings.Replace(localVarPath, "{"+"tenant_slug"+"}", url.PathEscape(parameterValueToString(r.tenantSlug, "tenantSlug")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xAmeshCSRF != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-CSRF", r.xAmeshCSRF, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListTenantsApiV1AdminTenantsGetRequest struct {
	ctx           context.Context
	ApiService    *TenantsAPIService
	cursor        *string
	limit         *int32
	filter        *[]string
	sort          *string
	fields        *string
	authorization *string
	xAmeshCSRF    *string
}

// Opaque cursor from the prior page
func (r ApiListTenantsApiV1AdminTenantsGetRequest) Cursor(cursor string) ApiListTenantsApiV1AdminTenantsGetRequest {
	r.cursor = &cursor
	return r
}

func (r ApiListTenantsApiV1AdminTenantsGetRequest) Limit(limit int32) ApiListTenantsApiV1AdminTenantsGetRequest {
	r.limit = &limit
	return r
}

// Repeatable top-level equality filter in field&#x3D;value form
func (r ApiListTenantsApiV1AdminTenantsGetRequest) Filter(filter []string) ApiListTenantsApiV1AdminTenantsGetRequest {
	r.filter = &filter
	return r
}

// Comma-separated top-level fields; prefix descending fields with -
func (r ApiListTenantsApiV1AdminTenantsGetRequest) Sort(sort string) ApiListTenantsApiV1AdminTenantsGetRequest {
	r.sort = &sort
	return r
}

// Comma-separated top-level response fields
func (r ApiListTenantsApiV1AdminTenantsGetRequest) Fields(fields string) ApiListTenantsApiV1AdminTenantsGetRequest {
	r.fields = &fields
	return r
}

func (r ApiListTenantsApiV1AdminTenantsGetRequest) Authorization(authorization string) ApiListTenantsApiV1AdminTenantsGetRequest {
	r.authorization = &authorization
	return r
}

func (r ApiListTenantsApiV1AdminTenantsGetRequest) XAmeshCSRF(xAmeshCSRF string) ApiListTenantsApiV1AdminTenantsGetRequest {
	r.xAmeshCSRF = &xAmeshCSRF
	return r
}

func (r ApiListTenantsApiV1AdminTenantsGetRequest) Execute() ([]TenantDefinition, *http.Response, error) {
	return r.ApiService.ListTenantsApiV1AdminTenantsGetExecute(r)
}

/*
ListTenantsApiV1AdminTenantsGet List Tenants

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiListTenantsApiV1AdminTenantsGetRequest
*/
func (a *TenantsAPIService) ListTenantsApiV1AdminTenantsGet(ctx context.Context) ApiListTenantsApiV1AdminTenantsGetRequest {
	return ApiListTenantsApiV1AdminTenantsGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []TenantDefinition
func (a *TenantsAPIService) ListTenantsApiV1AdminTenantsGetExecute(r ApiListTenantsApiV1AdminTenantsGetRequest) ([]TenantDefinition, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []TenantDefinition
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TenantsAPIService.ListTenantsApiV1AdminTenantsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/admin/tenants"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.filter != nil {
		t := *r.filter
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter", t, "form", "multi")
		}
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	}
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xAmeshCSRF != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-CSRF", r.xAmeshCSRF, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRestoreTenantApiV1AdminTenantsTenantSlugRestorePostRequest struct {
	ctx           context.Context
	ApiService    *TenantsAPIService
	tenantSlug    string
	authorization *string
	xAmeshCSRF    *string
}

func (r ApiRestoreTenantApiV1AdminTenantsTenantSlugRestorePostRequest) Authorization(authorization string) ApiRestoreTenantApiV1AdminTenantsTenantSlugRestorePostRequest {
	r.authorization = &authorization
	return r
}

func (r ApiRestoreTenantApiV1AdminTenantsTenantSlugRestorePostRequest) XAmeshCSRF(xAmeshCSRF string) ApiRestoreTenantApiV1AdminTenantsTenantSlugRestorePostRequest {
	r.xAmeshCSRF = &xAmeshCSRF
	return r
}

func (r ApiRestoreTenantApiV1AdminTenantsTenantSlugRestorePostRequest) Execute() (*TenantDefinition, *http.Response, error) {
	return r.ApiService.RestoreTenantApiV1AdminTenantsTenantSlugRestorePostExecute(r)
}

/*
RestoreTenantApiV1AdminTenantsTenantSlugRestorePost Restore Tenant

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param tenantSlug
	@return ApiRestoreTenantApiV1AdminTenantsTenantSlugRestorePostRequest
*/
func (a *TenantsAPIService) RestoreTenantApiV1AdminTenantsTenantSlugRestorePost(ctx context.Context, tenantSlug string) ApiRestoreTenantApiV1AdminTenantsTenantSlugRestorePostRequest {
	return ApiRestoreTenantApiV1AdminTenantsTenantSlugRestorePostRequest{
		ApiService: a,
		ctx:        ctx,
		tenantSlug: tenantSlug,
	}
}

// Execute executes the request
//
//	@return TenantDefinition
func (a *TenantsAPIService) RestoreTenantApiV1AdminTenantsTenantSlugRestorePostExecute(r ApiRestoreTenantApiV1AdminTenantsTenantSlugRestorePostRequest) (*TenantDefinition, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *TenantDefinition
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TenantsAPIService.RestoreTenantApiV1AdminTenantsTenantSlugRestorePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/admin/tenants/{tenant_slug}/restore"
	localVarPath = strings.Replace(localVarPath, "{"+"tenant_slug"+"}", url.PathEscape(parameterValueToString(r.tenantSlug, "tenantSlug")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xAmeshCSRF != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-CSRF", r.xAmeshCSRF, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSuspendTenantApiV1AdminTenantsTenantSlugSuspendPostRequest struct {
	ctx           context.Context
	ApiService    *TenantsAPIService
	tenantSlug    string
	authorization *string
	xAmeshCSRF    *string
}

func (r ApiSuspendTenantApiV1AdminTenantsTenantSlugSuspendPostRequest) Authorization(authorization string) ApiSuspendTenantApiV1AdminTenantsTenantSlugSuspendPostRequest {
	r.authorization = &authorization
	return r
}

func (r ApiSuspendTenantApiV1AdminTenantsTenantSlugSuspendPostRequest) XAmeshCSRF(xAmeshCSRF string) ApiSuspendTenantApiV1AdminTenantsTenantSlugSuspendPostRequest {
	r.xAmeshCSRF = &xAmeshCSRF
	return r
}

func (r ApiSuspendTenantApiV1AdminTenantsTenantSlugSuspendPostRequest) Execute() (*TenantDefinition, *http.Response, error) {
	return r.ApiService.SuspendTenantApiV1AdminTenantsTenantSlugSuspendPostExecute(r)
}

/*
SuspendTenantApiV1AdminTenantsTenantSlugSuspendPost Suspend Tenant

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param tenantSlug
	@return ApiSuspendTenantApiV1AdminTenantsTenantSlugSuspendPostRequest
*/
func (a *TenantsAPIService) SuspendTenantApiV1AdminTenantsTenantSlugSuspendPost(ctx context.Context, tenantSlug string) ApiSuspendTenantApiV1AdminTenantsTenantSlugSuspendPostRequest {
	return ApiSuspendTenantApiV1AdminTenantsTenantSlugSuspendPostRequest{
		ApiService: a,
		ctx:        ctx,
		tenantSlug: tenantSlug,
	}
}

// Execute executes the request
//
//	@return TenantDefinition
func (a *TenantsAPIService) SuspendTenantApiV1AdminTenantsTenantSlugSuspendPostExecute(r ApiSuspendTenantApiV1AdminTenantsTenantSlugSuspendPostRequest) (*TenantDefinition, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *TenantDefinition
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TenantsAPIService.SuspendTenantApiV1AdminTenantsTenantSlugSuspendPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/admin/tenants/{tenant_slug}/suspend"
	localVarPath = strings.Replace(localVarPath, "{"+"tenant_slug"+"}", url.PathEscape(parameterValueToString(r.tenantSlug, "tenantSlug")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xAmeshCSRF != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-CSRF", r.xAmeshCSRF, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateTenantPolicyApiV1AdminTenantsTenantSlugPolicyPutRequest struct {
	ctx           context.Context
	ApiService    *TenantsAPIService
	tenantSlug    string
	tenantPolicy  *TenantPolicy
	authorization *string
	xAmeshCSRF    *string
}

func (r ApiUpdateTenantPolicyApiV1AdminTenantsTenantSlugPolicyPutRequest) TenantPolicy(tenantPolicy TenantPolicy) ApiUpdateTenantPolicyApiV1AdminTenantsTenantSlugPolicyPutRequest {
	r.tenantPolicy = &tenantPolicy
	return r
}

func (r ApiUpdateTenantPolicyApiV1AdminTenantsTenantSlugPolicyPutRequest) Authorization(authorization string) ApiUpdateTenantPolicyApiV1AdminTenantsTenantSlugPolicyPutRequest {
	r.authorization = &authorization
	return r
}

func (r ApiUpdateTenantPolicyApiV1AdminTenantsTenantSlugPolicyPutRequest) XAmeshCSRF(xAmeshCSRF string) ApiUpdateTenantPolicyApiV1AdminTenantsTenantSlugPolicyPutRequest {
	r.xAmeshCSRF = &xAmeshCSRF
	return r
}

func (r ApiUpdateTenantPolicyApiV1AdminTenantsTenantSlugPolicyPutRequest) Execute() (*TenantDefinition, *http.Response, error) {
	return r.ApiService.UpdateTenantPolicyApiV1AdminTenantsTenantSlugPolicyPutExecute(r)
}

/*
UpdateTenantPolicyApiV1AdminTenantsTenantSlugPolicyPut Update Tenant Policy

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param tenantSlug
	@return ApiUpdateTenantPolicyApiV1AdminTenantsTenantSlugPolicyPutRequest
*/
func (a *TenantsAPIService) UpdateTenantPolicyApiV1AdminTenantsTenantSlugPolicyPut(ctx context.Context, tenantSlug string) ApiUpdateTenantPolicyApiV1AdminTenantsTenantSlugPolicyPutRequest {
	return ApiUpdateTenantPolicyApiV1AdminTenantsTenantSlugPolicyPutRequest{
		ApiService: a,
		ctx:        ctx,
		tenantSlug: tenantSlug,
	}
}

// Execute executes the request
//
//	@return TenantDefinition
func (a *TenantsAPIService) UpdateTenantPolicyApiV1AdminTenantsTenantSlugPolicyPutExecute(r ApiUpdateTenantPolicyApiV1AdminTenantsTenantSlugPolicyPutRequest) (*TenantDefinition, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *TenantDefinition
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TenantsAPIService.UpdateTenantPolicyApiV1AdminTenantsTenantSlugPolicyPut")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/admin/tenants/{tenant_slug}/policy"
	localVarPath = strings.Replace(localVarPath, "{"+"tenant_slug"+"}", url.PathEscape(parameterValueToString(r.tenantSlug, "tenantSlug")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.tenantPolicy == nil {
		return localVarReturnValue, nil, reportError("tenantPolicy is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xAmeshCSRF != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-CSRF", r.xAmeshCSRF, "simple", "")
	}
	// body params
	localVarPostBody = r.tenantPolicy
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
