/*
AMESH

Clean-room durable workflow MVP with validated flow management, execution control, webhook triggers and execution logs.

API version: 0.2.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package ameshclient

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// AuthenticationAPIService AuthenticationAPI service
type AuthenticationAPIService service

type ApiBeginFederatedLoginApiV1AuthFederatedProviderIdStartGetRequest struct {
	ctx context.Context
	ApiService *AuthenticationAPIService
	providerId string
	tenant *string
	returnTo *string
}

func (r ApiBeginFederatedLoginApiV1AuthFederatedProviderIdStartGetRequest) Tenant(tenant string) ApiBeginFederatedLoginApiV1AuthFederatedProviderIdStartGetRequest {
	r.tenant = &tenant
	return r
}

func (r ApiBeginFederatedLoginApiV1AuthFederatedProviderIdStartGetRequest) ReturnTo(returnTo string) ApiBeginFederatedLoginApiV1AuthFederatedProviderIdStartGetRequest {
	r.returnTo = &returnTo
	return r
}

func (r ApiBeginFederatedLoginApiV1AuthFederatedProviderIdStartGetRequest) Execute() (*http.Response, error) {
	return r.ApiService.BeginFederatedLoginApiV1AuthFederatedProviderIdStartGetExecute(r)
}

/*
BeginFederatedLoginApiV1AuthFederatedProviderIdStartGet Begin Federated Login

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param providerId
 @return ApiBeginFederatedLoginApiV1AuthFederatedProviderIdStartGetRequest
*/
func (a *AuthenticationAPIService) BeginFederatedLoginApiV1AuthFederatedProviderIdStartGet(ctx context.Context, providerId string) ApiBeginFederatedLoginApiV1AuthFederatedProviderIdStartGetRequest {
	return ApiBeginFederatedLoginApiV1AuthFederatedProviderIdStartGetRequest{
		ApiService: a,
		ctx: ctx,
		providerId: providerId,
	}
}

// Execute executes the request
func (a *AuthenticationAPIService) BeginFederatedLoginApiV1AuthFederatedProviderIdStartGetExecute(r ApiBeginFederatedLoginApiV1AuthFederatedProviderIdStartGetRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthenticationAPIService.BeginFederatedLoginApiV1AuthFederatedProviderIdStartGet")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/auth/federated/{provider_id}/start"
	localVarPath = strings.Replace(localVarPath, "{"+"provider_id"+"}", url.PathEscape(parameterValueToString(r.providerId, "providerId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.tenant != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tenant", r.tenant, "form", "")
	}
	if r.returnTo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "returnTo", r.returnTo, "form", "")
	} else {
		var defaultValue string = "/"
		parameterAddToHeaderOrQuery(localVarQueryParams, "returnTo", defaultValue, "form", "")
		r.returnTo = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiChangeLocalPasswordApiV1AuthPasswordPostRequest struct {
	ctx context.Context
	ApiService *AuthenticationAPIService
	changeLocalPasswordRequest *ChangeLocalPasswordRequest
	authorization *string
	xAmeshCSRF *string
}

func (r ApiChangeLocalPasswordApiV1AuthPasswordPostRequest) ChangeLocalPasswordRequest(changeLocalPasswordRequest ChangeLocalPasswordRequest) ApiChangeLocalPasswordApiV1AuthPasswordPostRequest {
	r.changeLocalPasswordRequest = &changeLocalPasswordRequest
	return r
}

func (r ApiChangeLocalPasswordApiV1AuthPasswordPostRequest) Authorization(authorization string) ApiChangeLocalPasswordApiV1AuthPasswordPostRequest {
	r.authorization = &authorization
	return r
}

func (r ApiChangeLocalPasswordApiV1AuthPasswordPostRequest) XAmeshCSRF(xAmeshCSRF string) ApiChangeLocalPasswordApiV1AuthPasswordPostRequest {
	r.xAmeshCSRF = &xAmeshCSRF
	return r
}

func (r ApiChangeLocalPasswordApiV1AuthPasswordPostRequest) Execute() (*RevokedSessionsResponse, *http.Response, error) {
	return r.ApiService.ChangeLocalPasswordApiV1AuthPasswordPostExecute(r)
}

/*
ChangeLocalPasswordApiV1AuthPasswordPost Change Local Password

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiChangeLocalPasswordApiV1AuthPasswordPostRequest
*/
func (a *AuthenticationAPIService) ChangeLocalPasswordApiV1AuthPasswordPost(ctx context.Context) ApiChangeLocalPasswordApiV1AuthPasswordPostRequest {
	return ApiChangeLocalPasswordApiV1AuthPasswordPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return RevokedSessionsResponse
func (a *AuthenticationAPIService) ChangeLocalPasswordApiV1AuthPasswordPostExecute(r ApiChangeLocalPasswordApiV1AuthPasswordPostRequest) (*RevokedSessionsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *RevokedSessionsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthenticationAPIService.ChangeLocalPasswordApiV1AuthPasswordPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/auth/password"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.changeLocalPasswordRequest == nil {
		return localVarReturnValue, nil, reportError("changeLocalPasswordRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xAmeshCSRF != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-CSRF", r.xAmeshCSRF, "simple", "")
	}
	// body params
	localVarPostBody = r.changeLocalPasswordRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCompleteOidcLoginApiV1AuthFederatedProviderIdCallbackGetRequest struct {
	ctx context.Context
	ApiService *AuthenticationAPIService
	providerId string
	state *string
	code *string
	error_ *string
}

func (r ApiCompleteOidcLoginApiV1AuthFederatedProviderIdCallbackGetRequest) State(state string) ApiCompleteOidcLoginApiV1AuthFederatedProviderIdCallbackGetRequest {
	r.state = &state
	return r
}

func (r ApiCompleteOidcLoginApiV1AuthFederatedProviderIdCallbackGetRequest) Code(code string) ApiCompleteOidcLoginApiV1AuthFederatedProviderIdCallbackGetRequest {
	r.code = &code
	return r
}

func (r ApiCompleteOidcLoginApiV1AuthFederatedProviderIdCallbackGetRequest) Error_(error_ string) ApiCompleteOidcLoginApiV1AuthFederatedProviderIdCallbackGetRequest {
	r.error_ = &error_
	return r
}

func (r ApiCompleteOidcLoginApiV1AuthFederatedProviderIdCallbackGetRequest) Execute() (*http.Response, error) {
	return r.ApiService.CompleteOidcLoginApiV1AuthFederatedProviderIdCallbackGetExecute(r)
}

/*
CompleteOidcLoginApiV1AuthFederatedProviderIdCallbackGet Complete Oidc Login

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param providerId
 @return ApiCompleteOidcLoginApiV1AuthFederatedProviderIdCallbackGetRequest
*/
func (a *AuthenticationAPIService) CompleteOidcLoginApiV1AuthFederatedProviderIdCallbackGet(ctx context.Context, providerId string) ApiCompleteOidcLoginApiV1AuthFederatedProviderIdCallbackGetRequest {
	return ApiCompleteOidcLoginApiV1AuthFederatedProviderIdCallbackGetRequest{
		ApiService: a,
		ctx: ctx,
		providerId: providerId,
	}
}

// Execute executes the request
func (a *AuthenticationAPIService) CompleteOidcLoginApiV1AuthFederatedProviderIdCallbackGetExecute(r ApiCompleteOidcLoginApiV1AuthFederatedProviderIdCallbackGetRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthenticationAPIService.CompleteOidcLoginApiV1AuthFederatedProviderIdCallbackGet")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/auth/federated/{provider_id}/callback"
	localVarPath = strings.Replace(localVarPath, "{"+"provider_id"+"}", url.PathEscape(parameterValueToString(r.providerId, "providerId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.state == nil {
		return nil, reportError("state is required and must be specified")
	}
	if strlen(*r.state) < 1 {
		return nil, reportError("state must have at least 1 elements")
	}
	if strlen(*r.state) > 2048 {
		return nil, reportError("state must have less than 2048 elements")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "state", r.state, "form", "")
	if r.code != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "code", r.code, "form", "")
	}
	if r.error_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "error", r.error_, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiCompleteSamlLoginApiV1AuthFederatedProviderIdCallbackPostRequest struct {
	ctx context.Context
	ApiService *AuthenticationAPIService
	providerId string
}

func (r ApiCompleteSamlLoginApiV1AuthFederatedProviderIdCallbackPostRequest) Execute() (*http.Response, error) {
	return r.ApiService.CompleteSamlLoginApiV1AuthFederatedProviderIdCallbackPostExecute(r)
}

/*
CompleteSamlLoginApiV1AuthFederatedProviderIdCallbackPost Complete Saml Login

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param providerId
 @return ApiCompleteSamlLoginApiV1AuthFederatedProviderIdCallbackPostRequest
*/
func (a *AuthenticationAPIService) CompleteSamlLoginApiV1AuthFederatedProviderIdCallbackPost(ctx context.Context, providerId string) ApiCompleteSamlLoginApiV1AuthFederatedProviderIdCallbackPostRequest {
	return ApiCompleteSamlLoginApiV1AuthFederatedProviderIdCallbackPostRequest{
		ApiService: a,
		ctx: ctx,
		providerId: providerId,
	}
}

// Execute executes the request
func (a *AuthenticationAPIService) CompleteSamlLoginApiV1AuthFederatedProviderIdCallbackPostExecute(r ApiCompleteSamlLoginApiV1AuthFederatedProviderIdCallbackPostRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthenticationAPIService.CompleteSamlLoginApiV1AuthFederatedProviderIdCallbackPost")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/auth/federated/{provider_id}/callback"
	localVarPath = strings.Replace(localVarPath, "{"+"provider_id"+"}", url.PathEscape(parameterValueToString(r.providerId, "providerId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiListAuthenticationProvidersApiV1AuthProvidersGetRequest struct {
	ctx context.Context
	ApiService *AuthenticationAPIService
	identifier *string
	tenant *string
}

func (r ApiListAuthenticationProvidersApiV1AuthProvidersGetRequest) Identifier(identifier string) ApiListAuthenticationProvidersApiV1AuthProvidersGetRequest {
	r.identifier = &identifier
	return r
}

func (r ApiListAuthenticationProvidersApiV1AuthProvidersGetRequest) Tenant(tenant string) ApiListAuthenticationProvidersApiV1AuthProvidersGetRequest {
	r.tenant = &tenant
	return r
}

func (r ApiListAuthenticationProvidersApiV1AuthProvidersGetRequest) Execute() ([]AuthenticationProviderDescriptor, *http.Response, error) {
	return r.ApiService.ListAuthenticationProvidersApiV1AuthProvidersGetExecute(r)
}

/*
ListAuthenticationProvidersApiV1AuthProvidersGet List Authentication Providers

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListAuthenticationProvidersApiV1AuthProvidersGetRequest
*/
func (a *AuthenticationAPIService) ListAuthenticationProvidersApiV1AuthProvidersGet(ctx context.Context) ApiListAuthenticationProvidersApiV1AuthProvidersGetRequest {
	return ApiListAuthenticationProvidersApiV1AuthProvidersGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []AuthenticationProviderDescriptor
func (a *AuthenticationAPIService) ListAuthenticationProvidersApiV1AuthProvidersGetExecute(r ApiListAuthenticationProvidersApiV1AuthProvidersGetRequest) ([]AuthenticationProviderDescriptor, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []AuthenticationProviderDescriptor
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthenticationAPIService.ListAuthenticationProvidersApiV1AuthProvidersGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/auth/providers"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.identifier != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "identifier", r.identifier, "form", "")
	}
	if r.tenant != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tenant", r.tenant, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiLoginApiV1AuthLoginPostRequest struct {
	ctx context.Context
	ApiService *AuthenticationAPIService
	loginRequest *LoginRequest
}

func (r ApiLoginApiV1AuthLoginPostRequest) LoginRequest(loginRequest LoginRequest) ApiLoginApiV1AuthLoginPostRequest {
	r.loginRequest = &loginRequest
	return r
}

func (r ApiLoginApiV1AuthLoginPostRequest) Execute() (*LoginResponse, *http.Response, error) {
	return r.ApiService.LoginApiV1AuthLoginPostExecute(r)
}

/*
LoginApiV1AuthLoginPost Login

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiLoginApiV1AuthLoginPostRequest
*/
func (a *AuthenticationAPIService) LoginApiV1AuthLoginPost(ctx context.Context) ApiLoginApiV1AuthLoginPostRequest {
	return ApiLoginApiV1AuthLoginPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return LoginResponse
func (a *AuthenticationAPIService) LoginApiV1AuthLoginPostExecute(r ApiLoginApiV1AuthLoginPostRequest) (*LoginResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *LoginResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthenticationAPIService.LoginApiV1AuthLoginPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/auth/login"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.loginRequest == nil {
		return localVarReturnValue, nil, reportError("loginRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.loginRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiLogoutAllApiV1AuthLogoutAllPostRequest struct {
	ctx context.Context
	ApiService *AuthenticationAPIService
	authorization *string
	xAmeshCSRF *string
}

func (r ApiLogoutAllApiV1AuthLogoutAllPostRequest) Authorization(authorization string) ApiLogoutAllApiV1AuthLogoutAllPostRequest {
	r.authorization = &authorization
	return r
}

func (r ApiLogoutAllApiV1AuthLogoutAllPostRequest) XAmeshCSRF(xAmeshCSRF string) ApiLogoutAllApiV1AuthLogoutAllPostRequest {
	r.xAmeshCSRF = &xAmeshCSRF
	return r
}

func (r ApiLogoutAllApiV1AuthLogoutAllPostRequest) Execute() (*RevokedSessionsResponse, *http.Response, error) {
	return r.ApiService.LogoutAllApiV1AuthLogoutAllPostExecute(r)
}

/*
LogoutAllApiV1AuthLogoutAllPost Logout All

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiLogoutAllApiV1AuthLogoutAllPostRequest
*/
func (a *AuthenticationAPIService) LogoutAllApiV1AuthLogoutAllPost(ctx context.Context) ApiLogoutAllApiV1AuthLogoutAllPostRequest {
	return ApiLogoutAllApiV1AuthLogoutAllPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return RevokedSessionsResponse
func (a *AuthenticationAPIService) LogoutAllApiV1AuthLogoutAllPostExecute(r ApiLogoutAllApiV1AuthLogoutAllPostRequest) (*RevokedSessionsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *RevokedSessionsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthenticationAPIService.LogoutAllApiV1AuthLogoutAllPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/auth/logout-all"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xAmeshCSRF != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-CSRF", r.xAmeshCSRF, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiLogoutApiV1AuthLogoutPostRequest struct {
	ctx context.Context
	ApiService *AuthenticationAPIService
	authorization *string
	xAmeshCSRF *string
}

func (r ApiLogoutApiV1AuthLogoutPostRequest) Authorization(authorization string) ApiLogoutApiV1AuthLogoutPostRequest {
	r.authorization = &authorization
	return r
}

func (r ApiLogoutApiV1AuthLogoutPostRequest) XAmeshCSRF(xAmeshCSRF string) ApiLogoutApiV1AuthLogoutPostRequest {
	r.xAmeshCSRF = &xAmeshCSRF
	return r
}

func (r ApiLogoutApiV1AuthLogoutPostRequest) Execute() (*http.Response, error) {
	return r.ApiService.LogoutApiV1AuthLogoutPostExecute(r)
}

/*
LogoutApiV1AuthLogoutPost Logout

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiLogoutApiV1AuthLogoutPostRequest
*/
func (a *AuthenticationAPIService) LogoutApiV1AuthLogoutPost(ctx context.Context) ApiLogoutApiV1AuthLogoutPostRequest {
	return ApiLogoutApiV1AuthLogoutPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *AuthenticationAPIService) LogoutApiV1AuthLogoutPostExecute(r ApiLogoutApiV1AuthLogoutPostRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthenticationAPIService.LogoutApiV1AuthLogoutPost")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/auth/logout"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xAmeshCSRF != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-CSRF", r.xAmeshCSRF, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiRevokePrincipalSessionsApiV1AdminPrincipalsPrincipalIdSessionsDeleteRequest struct {
	ctx context.Context
	ApiService *AuthenticationAPIService
	principalId string
	authorization *string
	xAmeshCSRF *string
}

func (r ApiRevokePrincipalSessionsApiV1AdminPrincipalsPrincipalIdSessionsDeleteRequest) Authorization(authorization string) ApiRevokePrincipalSessionsApiV1AdminPrincipalsPrincipalIdSessionsDeleteRequest {
	r.authorization = &authorization
	return r
}

func (r ApiRevokePrincipalSessionsApiV1AdminPrincipalsPrincipalIdSessionsDeleteRequest) XAmeshCSRF(xAmeshCSRF string) ApiRevokePrincipalSessionsApiV1AdminPrincipalsPrincipalIdSessionsDeleteRequest {
	r.xAmeshCSRF = &xAmeshCSRF
	return r
}

func (r ApiRevokePrincipalSessionsApiV1AdminPrincipalsPrincipalIdSessionsDeleteRequest) Execute() (*RevokedSessionsResponse, *http.Response, error) {
	return r.ApiService.RevokePrincipalSessionsApiV1AdminPrincipalsPrincipalIdSessionsDeleteExecute(r)
}

/*
RevokePrincipalSessionsApiV1AdminPrincipalsPrincipalIdSessionsDelete Revoke Principal Sessions

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param principalId
 @return ApiRevokePrincipalSessionsApiV1AdminPrincipalsPrincipalIdSessionsDeleteRequest
*/
func (a *AuthenticationAPIService) RevokePrincipalSessionsApiV1AdminPrincipalsPrincipalIdSessionsDelete(ctx context.Context, principalId string) ApiRevokePrincipalSessionsApiV1AdminPrincipalsPrincipalIdSessionsDeleteRequest {
	return ApiRevokePrincipalSessionsApiV1AdminPrincipalsPrincipalIdSessionsDeleteRequest{
		ApiService: a,
		ctx: ctx,
		principalId: principalId,
	}
}

// Execute executes the request
//  @return RevokedSessionsResponse
func (a *AuthenticationAPIService) RevokePrincipalSessionsApiV1AdminPrincipalsPrincipalIdSessionsDeleteExecute(r ApiRevokePrincipalSessionsApiV1AdminPrincipalsPrincipalIdSessionsDeleteRequest) (*RevokedSessionsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *RevokedSessionsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthenticationAPIService.RevokePrincipalSessionsApiV1AdminPrincipalsPrincipalIdSessionsDelete")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/admin/principals/{principal_id}/sessions"
	localVarPath = strings.Replace(localVarPath, "{"+"principal_id"+"}", url.PathEscape(parameterValueToString(r.principalId, "principalId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xAmeshCSRF != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-CSRF", r.xAmeshCSRF, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSamlServiceProviderMetadataApiV1AuthFederatedProviderIdSamlMetadataGetRequest struct {
	ctx context.Context
	ApiService *AuthenticationAPIService
	providerId string
}

func (r ApiSamlServiceProviderMetadataApiV1AuthFederatedProviderIdSamlMetadataGetRequest) Execute() (string, *http.Response, error) {
	return r.ApiService.SamlServiceProviderMetadataApiV1AuthFederatedProviderIdSamlMetadataGetExecute(r)
}

/*
SamlServiceProviderMetadataApiV1AuthFederatedProviderIdSamlMetadataGet Saml Service Provider Metadata

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param providerId
 @return ApiSamlServiceProviderMetadataApiV1AuthFederatedProviderIdSamlMetadataGetRequest
*/
func (a *AuthenticationAPIService) SamlServiceProviderMetadataApiV1AuthFederatedProviderIdSamlMetadataGet(ctx context.Context, providerId string) ApiSamlServiceProviderMetadataApiV1AuthFederatedProviderIdSamlMetadataGetRequest {
	return ApiSamlServiceProviderMetadataApiV1AuthFederatedProviderIdSamlMetadataGetRequest{
		ApiService: a,
		ctx: ctx,
		providerId: providerId,
	}
}

// Execute executes the request
//  @return string
func (a *AuthenticationAPIService) SamlServiceProviderMetadataApiV1AuthFederatedProviderIdSamlMetadataGetExecute(r ApiSamlServiceProviderMetadataApiV1AuthFederatedProviderIdSamlMetadataGetRequest) (string, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  string
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthenticationAPIService.SamlServiceProviderMetadataApiV1AuthFederatedProviderIdSamlMetadataGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/auth/federated/{provider_id}/saml/metadata"
	localVarPath = strings.Replace(localVarPath, "{"+"provider_id"+"}", url.PathEscape(parameterValueToString(r.providerId, "providerId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/plain", "application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSetLocalPasswordApiV1AdminPrincipalsPrincipalIdLocalPasswordPutRequest struct {
	ctx context.Context
	ApiService *AuthenticationAPIService
	principalId string
	setLocalPasswordRequest *SetLocalPasswordRequest
	authorization *string
	xAmeshCSRF *string
}

func (r ApiSetLocalPasswordApiV1AdminPrincipalsPrincipalIdLocalPasswordPutRequest) SetLocalPasswordRequest(setLocalPasswordRequest SetLocalPasswordRequest) ApiSetLocalPasswordApiV1AdminPrincipalsPrincipalIdLocalPasswordPutRequest {
	r.setLocalPasswordRequest = &setLocalPasswordRequest
	return r
}

func (r ApiSetLocalPasswordApiV1AdminPrincipalsPrincipalIdLocalPasswordPutRequest) Authorization(authorization string) ApiSetLocalPasswordApiV1AdminPrincipalsPrincipalIdLocalPasswordPutRequest {
	r.authorization = &authorization
	return r
}

func (r ApiSetLocalPasswordApiV1AdminPrincipalsPrincipalIdLocalPasswordPutRequest) XAmeshCSRF(xAmeshCSRF string) ApiSetLocalPasswordApiV1AdminPrincipalsPrincipalIdLocalPasswordPutRequest {
	r.xAmeshCSRF = &xAmeshCSRF
	return r
}

func (r ApiSetLocalPasswordApiV1AdminPrincipalsPrincipalIdLocalPasswordPutRequest) Execute() (*RevokedSessionsResponse, *http.Response, error) {
	return r.ApiService.SetLocalPasswordApiV1AdminPrincipalsPrincipalIdLocalPasswordPutExecute(r)
}

/*
SetLocalPasswordApiV1AdminPrincipalsPrincipalIdLocalPasswordPut Set Local Password

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param principalId
 @return ApiSetLocalPasswordApiV1AdminPrincipalsPrincipalIdLocalPasswordPutRequest
*/
func (a *AuthenticationAPIService) SetLocalPasswordApiV1AdminPrincipalsPrincipalIdLocalPasswordPut(ctx context.Context, principalId string) ApiSetLocalPasswordApiV1AdminPrincipalsPrincipalIdLocalPasswordPutRequest {
	return ApiSetLocalPasswordApiV1AdminPrincipalsPrincipalIdLocalPasswordPutRequest{
		ApiService: a,
		ctx: ctx,
		principalId: principalId,
	}
}

// Execute executes the request
//  @return RevokedSessionsResponse
func (a *AuthenticationAPIService) SetLocalPasswordApiV1AdminPrincipalsPrincipalIdLocalPasswordPutExecute(r ApiSetLocalPasswordApiV1AdminPrincipalsPrincipalIdLocalPasswordPutRequest) (*RevokedSessionsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *RevokedSessionsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthenticationAPIService.SetLocalPasswordApiV1AdminPrincipalsPrincipalIdLocalPasswordPut")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/admin/principals/{principal_id}/local-password"
	localVarPath = strings.Replace(localVarPath, "{"+"principal_id"+"}", url.PathEscape(parameterValueToString(r.principalId, "principalId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.setLocalPasswordRequest == nil {
		return localVarReturnValue, nil, reportError("setLocalPasswordRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xAmeshCSRF != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-CSRF", r.xAmeshCSRF, "simple", "")
	}
	// body params
	localVarPostBody = r.setLocalPasswordRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
