/*
AMESH

Clean-room durable workflow MVP with validated flow management, execution control, webhook triggers and execution logs.

API version: 0.2.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package ameshclient

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// ExecutionsAPIService ExecutionsAPI service
type ExecutionsAPIService service

type ApiApplyExecutionControlApiV1ExecutionsExecutionIdInterventionsPostRequest struct {
	ctx context.Context
	ApiService *ExecutionsAPIService
	executionId string
	executionInterventionRequest *ExecutionInterventionRequest
	authorization *string
	xAmeshCSRF *string
	xAmeshTenant *string
}

func (r ApiApplyExecutionControlApiV1ExecutionsExecutionIdInterventionsPostRequest) ExecutionInterventionRequest(executionInterventionRequest ExecutionInterventionRequest) ApiApplyExecutionControlApiV1ExecutionsExecutionIdInterventionsPostRequest {
	r.executionInterventionRequest = &executionInterventionRequest
	return r
}

func (r ApiApplyExecutionControlApiV1ExecutionsExecutionIdInterventionsPostRequest) Authorization(authorization string) ApiApplyExecutionControlApiV1ExecutionsExecutionIdInterventionsPostRequest {
	r.authorization = &authorization
	return r
}

func (r ApiApplyExecutionControlApiV1ExecutionsExecutionIdInterventionsPostRequest) XAmeshCSRF(xAmeshCSRF string) ApiApplyExecutionControlApiV1ExecutionsExecutionIdInterventionsPostRequest {
	r.xAmeshCSRF = &xAmeshCSRF
	return r
}

func (r ApiApplyExecutionControlApiV1ExecutionsExecutionIdInterventionsPostRequest) XAmeshTenant(xAmeshTenant string) ApiApplyExecutionControlApiV1ExecutionsExecutionIdInterventionsPostRequest {
	r.xAmeshTenant = &xAmeshTenant
	return r
}

func (r ApiApplyExecutionControlApiV1ExecutionsExecutionIdInterventionsPostRequest) Execute() (*ExecutionDetail, *http.Response, error) {
	return r.ApiService.ApplyExecutionControlApiV1ExecutionsExecutionIdInterventionsPostExecute(r)
}

/*
ApplyExecutionControlApiV1ExecutionsExecutionIdInterventionsPost Apply Execution Control

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param executionId
 @return ApiApplyExecutionControlApiV1ExecutionsExecutionIdInterventionsPostRequest
*/
func (a *ExecutionsAPIService) ApplyExecutionControlApiV1ExecutionsExecutionIdInterventionsPost(ctx context.Context, executionId string) ApiApplyExecutionControlApiV1ExecutionsExecutionIdInterventionsPostRequest {
	return ApiApplyExecutionControlApiV1ExecutionsExecutionIdInterventionsPostRequest{
		ApiService: a,
		ctx: ctx,
		executionId: executionId,
	}
}

// Execute executes the request
//  @return ExecutionDetail
func (a *ExecutionsAPIService) ApplyExecutionControlApiV1ExecutionsExecutionIdInterventionsPostExecute(r ApiApplyExecutionControlApiV1ExecutionsExecutionIdInterventionsPostRequest) (*ExecutionDetail, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ExecutionDetail
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExecutionsAPIService.ApplyExecutionControlApiV1ExecutionsExecutionIdInterventionsPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/executions/{execution_id}/interventions"
	localVarPath = strings.Replace(localVarPath, "{"+"execution_id"+"}", url.PathEscape(parameterValueToString(r.executionId, "executionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.executionInterventionRequest == nil {
		return localVarReturnValue, nil, reportError("executionInterventionRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xAmeshCSRF != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-CSRF", r.xAmeshCSRF, "simple", "")
	}
	if r.xAmeshTenant != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-Tenant", r.xAmeshTenant, "simple", "")
	}
	// body params
	localVarPostBody = r.executionInterventionRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateExecutionApiV1ExecutionsPostRequest struct {
	ctx context.Context
	ApiService *ExecutionsAPIService
	createExecutionRequest *CreateExecutionRequest
	prefer *string
	idempotencyKey *string
	authorization *string
	xAmeshCSRF *string
	xAmeshTenant *string
}

func (r ApiCreateExecutionApiV1ExecutionsPostRequest) CreateExecutionRequest(createExecutionRequest CreateExecutionRequest) ApiCreateExecutionApiV1ExecutionsPostRequest {
	r.createExecutionRequest = &createExecutionRequest
	return r
}

func (r ApiCreateExecutionApiV1ExecutionsPostRequest) Prefer(prefer string) ApiCreateExecutionApiV1ExecutionsPostRequest {
	r.prefer = &prefer
	return r
}

func (r ApiCreateExecutionApiV1ExecutionsPostRequest) IdempotencyKey(idempotencyKey string) ApiCreateExecutionApiV1ExecutionsPostRequest {
	r.idempotencyKey = &idempotencyKey
	return r
}

func (r ApiCreateExecutionApiV1ExecutionsPostRequest) Authorization(authorization string) ApiCreateExecutionApiV1ExecutionsPostRequest {
	r.authorization = &authorization
	return r
}

func (r ApiCreateExecutionApiV1ExecutionsPostRequest) XAmeshCSRF(xAmeshCSRF string) ApiCreateExecutionApiV1ExecutionsPostRequest {
	r.xAmeshCSRF = &xAmeshCSRF
	return r
}

func (r ApiCreateExecutionApiV1ExecutionsPostRequest) XAmeshTenant(xAmeshTenant string) ApiCreateExecutionApiV1ExecutionsPostRequest {
	r.xAmeshTenant = &xAmeshTenant
	return r
}

func (r ApiCreateExecutionApiV1ExecutionsPostRequest) Execute() (*ExecutionDetail, *http.Response, error) {
	return r.ApiService.CreateExecutionApiV1ExecutionsPostExecute(r)
}

/*
CreateExecutionApiV1ExecutionsPost Create Execution

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateExecutionApiV1ExecutionsPostRequest
*/
func (a *ExecutionsAPIService) CreateExecutionApiV1ExecutionsPost(ctx context.Context) ApiCreateExecutionApiV1ExecutionsPostRequest {
	return ApiCreateExecutionApiV1ExecutionsPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ExecutionDetail
func (a *ExecutionsAPIService) CreateExecutionApiV1ExecutionsPostExecute(r ApiCreateExecutionApiV1ExecutionsPostRequest) (*ExecutionDetail, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ExecutionDetail
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExecutionsAPIService.CreateExecutionApiV1ExecutionsPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/executions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createExecutionRequest == nil {
		return localVarReturnValue, nil, reportError("createExecutionRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.prefer != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Prefer", r.prefer, "simple", "")
	}
	if r.idempotencyKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Idempotency-Key", r.idempotencyKey, "simple", "")
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xAmeshCSRF != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-CSRF", r.xAmeshCSRF, "simple", "")
	}
	if r.xAmeshTenant != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-Tenant", r.xAmeshTenant, "simple", "")
	}
	// body params
	localVarPostBody = r.createExecutionRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateExecutionsBulkApiV1ExecutionsBulkPostRequest struct {
	ctx context.Context
	ApiService *ExecutionsAPIService
	bulkExecutionRequest *BulkExecutionRequest
	prefer *string
	authorization *string
	xAmeshCSRF *string
	xAmeshTenant *string
}

func (r ApiCreateExecutionsBulkApiV1ExecutionsBulkPostRequest) BulkExecutionRequest(bulkExecutionRequest BulkExecutionRequest) ApiCreateExecutionsBulkApiV1ExecutionsBulkPostRequest {
	r.bulkExecutionRequest = &bulkExecutionRequest
	return r
}

func (r ApiCreateExecutionsBulkApiV1ExecutionsBulkPostRequest) Prefer(prefer string) ApiCreateExecutionsBulkApiV1ExecutionsBulkPostRequest {
	r.prefer = &prefer
	return r
}

func (r ApiCreateExecutionsBulkApiV1ExecutionsBulkPostRequest) Authorization(authorization string) ApiCreateExecutionsBulkApiV1ExecutionsBulkPostRequest {
	r.authorization = &authorization
	return r
}

func (r ApiCreateExecutionsBulkApiV1ExecutionsBulkPostRequest) XAmeshCSRF(xAmeshCSRF string) ApiCreateExecutionsBulkApiV1ExecutionsBulkPostRequest {
	r.xAmeshCSRF = &xAmeshCSRF
	return r
}

func (r ApiCreateExecutionsBulkApiV1ExecutionsBulkPostRequest) XAmeshTenant(xAmeshTenant string) ApiCreateExecutionsBulkApiV1ExecutionsBulkPostRequest {
	r.xAmeshTenant = &xAmeshTenant
	return r
}

func (r ApiCreateExecutionsBulkApiV1ExecutionsBulkPostRequest) Execute() ([]BulkExecutionItemResult, *http.Response, error) {
	return r.ApiService.CreateExecutionsBulkApiV1ExecutionsBulkPostExecute(r)
}

/*
CreateExecutionsBulkApiV1ExecutionsBulkPost Create Executions Bulk

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateExecutionsBulkApiV1ExecutionsBulkPostRequest
*/
func (a *ExecutionsAPIService) CreateExecutionsBulkApiV1ExecutionsBulkPost(ctx context.Context) ApiCreateExecutionsBulkApiV1ExecutionsBulkPostRequest {
	return ApiCreateExecutionsBulkApiV1ExecutionsBulkPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []BulkExecutionItemResult
func (a *ExecutionsAPIService) CreateExecutionsBulkApiV1ExecutionsBulkPostExecute(r ApiCreateExecutionsBulkApiV1ExecutionsBulkPostRequest) ([]BulkExecutionItemResult, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []BulkExecutionItemResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExecutionsAPIService.CreateExecutionsBulkApiV1ExecutionsBulkPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/executions/bulk"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.bulkExecutionRequest == nil {
		return localVarReturnValue, nil, reportError("bulkExecutionRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.prefer != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Prefer", r.prefer, "simple", "")
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xAmeshCSRF != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-CSRF", r.xAmeshCSRF, "simple", "")
	}
	if r.xAmeshTenant != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-Tenant", r.xAmeshTenant, "simple", "")
	}
	// body params
	localVarPostBody = r.bulkExecutionRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDownloadExecutionFileApiV1ExecutionsExecutionIdFilesArtifactIdGetRequest struct {
	ctx context.Context
	ApiService *ExecutionsAPIService
	executionId string
	artifactId string
	authorization *string
	xAmeshCSRF *string
	xAmeshTenant *string
}

func (r ApiDownloadExecutionFileApiV1ExecutionsExecutionIdFilesArtifactIdGetRequest) Authorization(authorization string) ApiDownloadExecutionFileApiV1ExecutionsExecutionIdFilesArtifactIdGetRequest {
	r.authorization = &authorization
	return r
}

func (r ApiDownloadExecutionFileApiV1ExecutionsExecutionIdFilesArtifactIdGetRequest) XAmeshCSRF(xAmeshCSRF string) ApiDownloadExecutionFileApiV1ExecutionsExecutionIdFilesArtifactIdGetRequest {
	r.xAmeshCSRF = &xAmeshCSRF
	return r
}

func (r ApiDownloadExecutionFileApiV1ExecutionsExecutionIdFilesArtifactIdGetRequest) XAmeshTenant(xAmeshTenant string) ApiDownloadExecutionFileApiV1ExecutionsExecutionIdFilesArtifactIdGetRequest {
	r.xAmeshTenant = &xAmeshTenant
	return r
}

func (r ApiDownloadExecutionFileApiV1ExecutionsExecutionIdFilesArtifactIdGetRequest) Execute() (*http.Response, error) {
	return r.ApiService.DownloadExecutionFileApiV1ExecutionsExecutionIdFilesArtifactIdGetExecute(r)
}

/*
DownloadExecutionFileApiV1ExecutionsExecutionIdFilesArtifactIdGet Download Execution File

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param executionId
 @param artifactId
 @return ApiDownloadExecutionFileApiV1ExecutionsExecutionIdFilesArtifactIdGetRequest
*/
func (a *ExecutionsAPIService) DownloadExecutionFileApiV1ExecutionsExecutionIdFilesArtifactIdGet(ctx context.Context, executionId string, artifactId string) ApiDownloadExecutionFileApiV1ExecutionsExecutionIdFilesArtifactIdGetRequest {
	return ApiDownloadExecutionFileApiV1ExecutionsExecutionIdFilesArtifactIdGetRequest{
		ApiService: a,
		ctx: ctx,
		executionId: executionId,
		artifactId: artifactId,
	}
}

// Execute executes the request
func (a *ExecutionsAPIService) DownloadExecutionFileApiV1ExecutionsExecutionIdFilesArtifactIdGetExecute(r ApiDownloadExecutionFileApiV1ExecutionsExecutionIdFilesArtifactIdGetRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExecutionsAPIService.DownloadExecutionFileApiV1ExecutionsExecutionIdFilesArtifactIdGet")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/executions/{execution_id}/files/{artifact_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"execution_id"+"}", url.PathEscape(parameterValueToString(r.executionId, "executionId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"artifact_id"+"}", url.PathEscape(parameterValueToString(r.artifactId, "artifactId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xAmeshCSRF != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-CSRF", r.xAmeshCSRF, "simple", "")
	}
	if r.xAmeshTenant != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-Tenant", r.xAmeshTenant, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetExecutionAdmissionApiV1ExecutionsExecutionIdAdmissionGetRequest struct {
	ctx context.Context
	ApiService *ExecutionsAPIService
	executionId string
	authorization *string
	xAmeshCSRF *string
	xAmeshTenant *string
}

func (r ApiGetExecutionAdmissionApiV1ExecutionsExecutionIdAdmissionGetRequest) Authorization(authorization string) ApiGetExecutionAdmissionApiV1ExecutionsExecutionIdAdmissionGetRequest {
	r.authorization = &authorization
	return r
}

func (r ApiGetExecutionAdmissionApiV1ExecutionsExecutionIdAdmissionGetRequest) XAmeshCSRF(xAmeshCSRF string) ApiGetExecutionAdmissionApiV1ExecutionsExecutionIdAdmissionGetRequest {
	r.xAmeshCSRF = &xAmeshCSRF
	return r
}

func (r ApiGetExecutionAdmissionApiV1ExecutionsExecutionIdAdmissionGetRequest) XAmeshTenant(xAmeshTenant string) ApiGetExecutionAdmissionApiV1ExecutionsExecutionIdAdmissionGetRequest {
	r.xAmeshTenant = &xAmeshTenant
	return r
}

func (r ApiGetExecutionAdmissionApiV1ExecutionsExecutionIdAdmissionGetRequest) Execute() (*AdmissionDecision, *http.Response, error) {
	return r.ApiService.GetExecutionAdmissionApiV1ExecutionsExecutionIdAdmissionGetExecute(r)
}

/*
GetExecutionAdmissionApiV1ExecutionsExecutionIdAdmissionGet Get Execution Admission

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param executionId
 @return ApiGetExecutionAdmissionApiV1ExecutionsExecutionIdAdmissionGetRequest
*/
func (a *ExecutionsAPIService) GetExecutionAdmissionApiV1ExecutionsExecutionIdAdmissionGet(ctx context.Context, executionId string) ApiGetExecutionAdmissionApiV1ExecutionsExecutionIdAdmissionGetRequest {
	return ApiGetExecutionAdmissionApiV1ExecutionsExecutionIdAdmissionGetRequest{
		ApiService: a,
		ctx: ctx,
		executionId: executionId,
	}
}

// Execute executes the request
//  @return AdmissionDecision
func (a *ExecutionsAPIService) GetExecutionAdmissionApiV1ExecutionsExecutionIdAdmissionGetExecute(r ApiGetExecutionAdmissionApiV1ExecutionsExecutionIdAdmissionGetRequest) (*AdmissionDecision, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AdmissionDecision
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExecutionsAPIService.GetExecutionAdmissionApiV1ExecutionsExecutionIdAdmissionGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/executions/{execution_id}/admission"
	localVarPath = strings.Replace(localVarPath, "{"+"execution_id"+"}", url.PathEscape(parameterValueToString(r.executionId, "executionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xAmeshCSRF != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-CSRF", r.xAmeshCSRF, "simple", "")
	}
	if r.xAmeshTenant != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-Tenant", r.xAmeshTenant, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetExecutionApiV1ExecutionsExecutionIdGetRequest struct {
	ctx context.Context
	ApiService *ExecutionsAPIService
	executionId string
	authorization *string
	xAmeshCSRF *string
	xAmeshTenant *string
}

func (r ApiGetExecutionApiV1ExecutionsExecutionIdGetRequest) Authorization(authorization string) ApiGetExecutionApiV1ExecutionsExecutionIdGetRequest {
	r.authorization = &authorization
	return r
}

func (r ApiGetExecutionApiV1ExecutionsExecutionIdGetRequest) XAmeshCSRF(xAmeshCSRF string) ApiGetExecutionApiV1ExecutionsExecutionIdGetRequest {
	r.xAmeshCSRF = &xAmeshCSRF
	return r
}

func (r ApiGetExecutionApiV1ExecutionsExecutionIdGetRequest) XAmeshTenant(xAmeshTenant string) ApiGetExecutionApiV1ExecutionsExecutionIdGetRequest {
	r.xAmeshTenant = &xAmeshTenant
	return r
}

func (r ApiGetExecutionApiV1ExecutionsExecutionIdGetRequest) Execute() (*ExecutionDetail, *http.Response, error) {
	return r.ApiService.GetExecutionApiV1ExecutionsExecutionIdGetExecute(r)
}

/*
GetExecutionApiV1ExecutionsExecutionIdGet Get Execution

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param executionId
 @return ApiGetExecutionApiV1ExecutionsExecutionIdGetRequest
*/
func (a *ExecutionsAPIService) GetExecutionApiV1ExecutionsExecutionIdGet(ctx context.Context, executionId string) ApiGetExecutionApiV1ExecutionsExecutionIdGetRequest {
	return ApiGetExecutionApiV1ExecutionsExecutionIdGetRequest{
		ApiService: a,
		ctx: ctx,
		executionId: executionId,
	}
}

// Execute executes the request
//  @return ExecutionDetail
func (a *ExecutionsAPIService) GetExecutionApiV1ExecutionsExecutionIdGetExecute(r ApiGetExecutionApiV1ExecutionsExecutionIdGetRequest) (*ExecutionDetail, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ExecutionDetail
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExecutionsAPIService.GetExecutionApiV1ExecutionsExecutionIdGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/executions/{execution_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"execution_id"+"}", url.PathEscape(parameterValueToString(r.executionId, "executionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xAmeshCSRF != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-CSRF", r.xAmeshCSRF, "simple", "")
	}
	if r.xAmeshTenant != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-Tenant", r.xAmeshTenant, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetExecutionEvidenceApiV1ExecutionsExecutionIdEvidenceGetRequest struct {
	ctx context.Context
	ApiService *ExecutionsAPIService
	executionId string
	cursor *string
	limit *int32
	authorization *string
	xAmeshCSRF *string
	xAmeshTenant *string
}

// Opaque reconnect cursor
func (r ApiGetExecutionEvidenceApiV1ExecutionsExecutionIdEvidenceGetRequest) Cursor(cursor string) ApiGetExecutionEvidenceApiV1ExecutionsExecutionIdEvidenceGetRequest {
	r.cursor = &cursor
	return r
}

func (r ApiGetExecutionEvidenceApiV1ExecutionsExecutionIdEvidenceGetRequest) Limit(limit int32) ApiGetExecutionEvidenceApiV1ExecutionsExecutionIdEvidenceGetRequest {
	r.limit = &limit
	return r
}

func (r ApiGetExecutionEvidenceApiV1ExecutionsExecutionIdEvidenceGetRequest) Authorization(authorization string) ApiGetExecutionEvidenceApiV1ExecutionsExecutionIdEvidenceGetRequest {
	r.authorization = &authorization
	return r
}

func (r ApiGetExecutionEvidenceApiV1ExecutionsExecutionIdEvidenceGetRequest) XAmeshCSRF(xAmeshCSRF string) ApiGetExecutionEvidenceApiV1ExecutionsExecutionIdEvidenceGetRequest {
	r.xAmeshCSRF = &xAmeshCSRF
	return r
}

func (r ApiGetExecutionEvidenceApiV1ExecutionsExecutionIdEvidenceGetRequest) XAmeshTenant(xAmeshTenant string) ApiGetExecutionEvidenceApiV1ExecutionsExecutionIdEvidenceGetRequest {
	r.xAmeshTenant = &xAmeshTenant
	return r
}

func (r ApiGetExecutionEvidenceApiV1ExecutionsExecutionIdEvidenceGetRequest) Execute() (*ExecutionEvidencePage, *http.Response, error) {
	return r.ApiService.GetExecutionEvidenceApiV1ExecutionsExecutionIdEvidenceGetExecute(r)
}

/*
GetExecutionEvidenceApiV1ExecutionsExecutionIdEvidenceGet Get Execution Evidence

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param executionId
 @return ApiGetExecutionEvidenceApiV1ExecutionsExecutionIdEvidenceGetRequest
*/
func (a *ExecutionsAPIService) GetExecutionEvidenceApiV1ExecutionsExecutionIdEvidenceGet(ctx context.Context, executionId string) ApiGetExecutionEvidenceApiV1ExecutionsExecutionIdEvidenceGetRequest {
	return ApiGetExecutionEvidenceApiV1ExecutionsExecutionIdEvidenceGetRequest{
		ApiService: a,
		ctx: ctx,
		executionId: executionId,
	}
}

// Execute executes the request
//  @return ExecutionEvidencePage
func (a *ExecutionsAPIService) GetExecutionEvidenceApiV1ExecutionsExecutionIdEvidenceGetExecute(r ApiGetExecutionEvidenceApiV1ExecutionsExecutionIdEvidenceGetRequest) (*ExecutionEvidencePage, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ExecutionEvidencePage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExecutionsAPIService.GetExecutionEvidenceApiV1ExecutionsExecutionIdEvidenceGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/executions/{execution_id}/evidence"
	localVarPath = strings.Replace(localVarPath, "{"+"execution_id"+"}", url.PathEscape(parameterValueToString(r.executionId, "executionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 500
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xAmeshCSRF != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-CSRF", r.xAmeshCSRF, "simple", "")
	}
	if r.xAmeshTenant != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-Tenant", r.xAmeshTenant, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetExecutionGraphApiV1ExecutionsExecutionIdGraphGetRequest struct {
	ctx context.Context
	ApiService *ExecutionsAPIService
	executionId string
	authorization *string
	xAmeshCSRF *string
	xAmeshTenant *string
}

func (r ApiGetExecutionGraphApiV1ExecutionsExecutionIdGraphGetRequest) Authorization(authorization string) ApiGetExecutionGraphApiV1ExecutionsExecutionIdGraphGetRequest {
	r.authorization = &authorization
	return r
}

func (r ApiGetExecutionGraphApiV1ExecutionsExecutionIdGraphGetRequest) XAmeshCSRF(xAmeshCSRF string) ApiGetExecutionGraphApiV1ExecutionsExecutionIdGraphGetRequest {
	r.xAmeshCSRF = &xAmeshCSRF
	return r
}

func (r ApiGetExecutionGraphApiV1ExecutionsExecutionIdGraphGetRequest) XAmeshTenant(xAmeshTenant string) ApiGetExecutionGraphApiV1ExecutionsExecutionIdGraphGetRequest {
	r.xAmeshTenant = &xAmeshTenant
	return r
}

func (r ApiGetExecutionGraphApiV1ExecutionsExecutionIdGraphGetRequest) Execute() (*FlowGraph, *http.Response, error) {
	return r.ApiService.GetExecutionGraphApiV1ExecutionsExecutionIdGraphGetExecute(r)
}

/*
GetExecutionGraphApiV1ExecutionsExecutionIdGraphGet Get Execution Graph

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param executionId
 @return ApiGetExecutionGraphApiV1ExecutionsExecutionIdGraphGetRequest
*/
func (a *ExecutionsAPIService) GetExecutionGraphApiV1ExecutionsExecutionIdGraphGet(ctx context.Context, executionId string) ApiGetExecutionGraphApiV1ExecutionsExecutionIdGraphGetRequest {
	return ApiGetExecutionGraphApiV1ExecutionsExecutionIdGraphGetRequest{
		ApiService: a,
		ctx: ctx,
		executionId: executionId,
	}
}

// Execute executes the request
//  @return FlowGraph
func (a *ExecutionsAPIService) GetExecutionGraphApiV1ExecutionsExecutionIdGraphGetExecute(r ApiGetExecutionGraphApiV1ExecutionsExecutionIdGraphGetRequest) (*FlowGraph, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *FlowGraph
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExecutionsAPIService.GetExecutionGraphApiV1ExecutionsExecutionIdGraphGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/executions/{execution_id}/graph"
	localVarPath = strings.Replace(localVarPath, "{"+"execution_id"+"}", url.PathEscape(parameterValueToString(r.executionId, "executionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xAmeshCSRF != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-CSRF", r.xAmeshCSRF, "simple", "")
	}
	if r.xAmeshTenant != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-Tenant", r.xAmeshTenant, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetExecutionLogsApiV1ExecutionsExecutionIdLogsGetRequest struct {
	ctx context.Context
	ApiService *ExecutionsAPIService
	executionId string
	authorization *string
	xAmeshCSRF *string
	xAmeshTenant *string
}

func (r ApiGetExecutionLogsApiV1ExecutionsExecutionIdLogsGetRequest) Authorization(authorization string) ApiGetExecutionLogsApiV1ExecutionsExecutionIdLogsGetRequest {
	r.authorization = &authorization
	return r
}

func (r ApiGetExecutionLogsApiV1ExecutionsExecutionIdLogsGetRequest) XAmeshCSRF(xAmeshCSRF string) ApiGetExecutionLogsApiV1ExecutionsExecutionIdLogsGetRequest {
	r.xAmeshCSRF = &xAmeshCSRF
	return r
}

func (r ApiGetExecutionLogsApiV1ExecutionsExecutionIdLogsGetRequest) XAmeshTenant(xAmeshTenant string) ApiGetExecutionLogsApiV1ExecutionsExecutionIdLogsGetRequest {
	r.xAmeshTenant = &xAmeshTenant
	return r
}

func (r ApiGetExecutionLogsApiV1ExecutionsExecutionIdLogsGetRequest) Execute() ([]TaskLog, *http.Response, error) {
	return r.ApiService.GetExecutionLogsApiV1ExecutionsExecutionIdLogsGetExecute(r)
}

/*
GetExecutionLogsApiV1ExecutionsExecutionIdLogsGet Get Execution Logs

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param executionId
 @return ApiGetExecutionLogsApiV1ExecutionsExecutionIdLogsGetRequest
*/
func (a *ExecutionsAPIService) GetExecutionLogsApiV1ExecutionsExecutionIdLogsGet(ctx context.Context, executionId string) ApiGetExecutionLogsApiV1ExecutionsExecutionIdLogsGetRequest {
	return ApiGetExecutionLogsApiV1ExecutionsExecutionIdLogsGetRequest{
		ApiService: a,
		ctx: ctx,
		executionId: executionId,
	}
}

// Execute executes the request
//  @return []TaskLog
func (a *ExecutionsAPIService) GetExecutionLogsApiV1ExecutionsExecutionIdLogsGetExecute(r ApiGetExecutionLogsApiV1ExecutionsExecutionIdLogsGetRequest) ([]TaskLog, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []TaskLog
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExecutionsAPIService.GetExecutionLogsApiV1ExecutionsExecutionIdLogsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/executions/{execution_id}/logs"
	localVarPath = strings.Replace(localVarPath, "{"+"execution_id"+"}", url.PathEscape(parameterValueToString(r.executionId, "executionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xAmeshCSRF != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-CSRF", r.xAmeshCSRF, "simple", "")
	}
	if r.xAmeshTenant != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-Tenant", r.xAmeshTenant, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetExecutionParentSubflowApiV1ExecutionsExecutionIdParentSubflowGetRequest struct {
	ctx context.Context
	ApiService *ExecutionsAPIService
	executionId string
	authorization *string
	xAmeshCSRF *string
	xAmeshTenant *string
}

func (r ApiGetExecutionParentSubflowApiV1ExecutionsExecutionIdParentSubflowGetRequest) Authorization(authorization string) ApiGetExecutionParentSubflowApiV1ExecutionsExecutionIdParentSubflowGetRequest {
	r.authorization = &authorization
	return r
}

func (r ApiGetExecutionParentSubflowApiV1ExecutionsExecutionIdParentSubflowGetRequest) XAmeshCSRF(xAmeshCSRF string) ApiGetExecutionParentSubflowApiV1ExecutionsExecutionIdParentSubflowGetRequest {
	r.xAmeshCSRF = &xAmeshCSRF
	return r
}

func (r ApiGetExecutionParentSubflowApiV1ExecutionsExecutionIdParentSubflowGetRequest) XAmeshTenant(xAmeshTenant string) ApiGetExecutionParentSubflowApiV1ExecutionsExecutionIdParentSubflowGetRequest {
	r.xAmeshTenant = &xAmeshTenant
	return r
}

func (r ApiGetExecutionParentSubflowApiV1ExecutionsExecutionIdParentSubflowGetRequest) Execute() (*PersistedSubflow, *http.Response, error) {
	return r.ApiService.GetExecutionParentSubflowApiV1ExecutionsExecutionIdParentSubflowGetExecute(r)
}

/*
GetExecutionParentSubflowApiV1ExecutionsExecutionIdParentSubflowGet Get Execution Parent Subflow

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param executionId
 @return ApiGetExecutionParentSubflowApiV1ExecutionsExecutionIdParentSubflowGetRequest
*/
func (a *ExecutionsAPIService) GetExecutionParentSubflowApiV1ExecutionsExecutionIdParentSubflowGet(ctx context.Context, executionId string) ApiGetExecutionParentSubflowApiV1ExecutionsExecutionIdParentSubflowGetRequest {
	return ApiGetExecutionParentSubflowApiV1ExecutionsExecutionIdParentSubflowGetRequest{
		ApiService: a,
		ctx: ctx,
		executionId: executionId,
	}
}

// Execute executes the request
//  @return PersistedSubflow
func (a *ExecutionsAPIService) GetExecutionParentSubflowApiV1ExecutionsExecutionIdParentSubflowGetExecute(r ApiGetExecutionParentSubflowApiV1ExecutionsExecutionIdParentSubflowGetRequest) (*PersistedSubflow, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PersistedSubflow
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExecutionsAPIService.GetExecutionParentSubflowApiV1ExecutionsExecutionIdParentSubflowGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/executions/{execution_id}/parent-subflow"
	localVarPath = strings.Replace(localVarPath, "{"+"execution_id"+"}", url.PathEscape(parameterValueToString(r.executionId, "executionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xAmeshCSRF != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-CSRF", r.xAmeshCSRF, "simple", "")
	}
	if r.xAmeshTenant != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-Tenant", r.xAmeshTenant, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetTaskAdmissionApiV1TaskRunsTaskRunIdAdmissionGetRequest struct {
	ctx context.Context
	ApiService *ExecutionsAPIService
	taskRunId string
	authorization *string
	xAmeshCSRF *string
	xAmeshTenant *string
}

func (r ApiGetTaskAdmissionApiV1TaskRunsTaskRunIdAdmissionGetRequest) Authorization(authorization string) ApiGetTaskAdmissionApiV1TaskRunsTaskRunIdAdmissionGetRequest {
	r.authorization = &authorization
	return r
}

func (r ApiGetTaskAdmissionApiV1TaskRunsTaskRunIdAdmissionGetRequest) XAmeshCSRF(xAmeshCSRF string) ApiGetTaskAdmissionApiV1TaskRunsTaskRunIdAdmissionGetRequest {
	r.xAmeshCSRF = &xAmeshCSRF
	return r
}

func (r ApiGetTaskAdmissionApiV1TaskRunsTaskRunIdAdmissionGetRequest) XAmeshTenant(xAmeshTenant string) ApiGetTaskAdmissionApiV1TaskRunsTaskRunIdAdmissionGetRequest {
	r.xAmeshTenant = &xAmeshTenant
	return r
}

func (r ApiGetTaskAdmissionApiV1TaskRunsTaskRunIdAdmissionGetRequest) Execute() (*AdmissionDecision, *http.Response, error) {
	return r.ApiService.GetTaskAdmissionApiV1TaskRunsTaskRunIdAdmissionGetExecute(r)
}

/*
GetTaskAdmissionApiV1TaskRunsTaskRunIdAdmissionGet Get Task Admission

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param taskRunId
 @return ApiGetTaskAdmissionApiV1TaskRunsTaskRunIdAdmissionGetRequest
*/
func (a *ExecutionsAPIService) GetTaskAdmissionApiV1TaskRunsTaskRunIdAdmissionGet(ctx context.Context, taskRunId string) ApiGetTaskAdmissionApiV1TaskRunsTaskRunIdAdmissionGetRequest {
	return ApiGetTaskAdmissionApiV1TaskRunsTaskRunIdAdmissionGetRequest{
		ApiService: a,
		ctx: ctx,
		taskRunId: taskRunId,
	}
}

// Execute executes the request
//  @return AdmissionDecision
func (a *ExecutionsAPIService) GetTaskAdmissionApiV1TaskRunsTaskRunIdAdmissionGetExecute(r ApiGetTaskAdmissionApiV1TaskRunsTaskRunIdAdmissionGetRequest) (*AdmissionDecision, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AdmissionDecision
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExecutionsAPIService.GetTaskAdmissionApiV1TaskRunsTaskRunIdAdmissionGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/task-runs/{task_run_id}/admission"
	localVarPath = strings.Replace(localVarPath, "{"+"task_run_id"+"}", url.PathEscape(parameterValueToString(r.taskRunId, "taskRunId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xAmeshCSRF != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-CSRF", r.xAmeshCSRF, "simple", "")
	}
	if r.xAmeshTenant != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-Tenant", r.xAmeshTenant, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListExecutionControlHistoryApiV1ExecutionsExecutionIdInterventionsGetRequest struct {
	ctx context.Context
	ApiService *ExecutionsAPIService
	executionId string
	authorization *string
	xAmeshCSRF *string
	xAmeshTenant *string
}

func (r ApiListExecutionControlHistoryApiV1ExecutionsExecutionIdInterventionsGetRequest) Authorization(authorization string) ApiListExecutionControlHistoryApiV1ExecutionsExecutionIdInterventionsGetRequest {
	r.authorization = &authorization
	return r
}

func (r ApiListExecutionControlHistoryApiV1ExecutionsExecutionIdInterventionsGetRequest) XAmeshCSRF(xAmeshCSRF string) ApiListExecutionControlHistoryApiV1ExecutionsExecutionIdInterventionsGetRequest {
	r.xAmeshCSRF = &xAmeshCSRF
	return r
}

func (r ApiListExecutionControlHistoryApiV1ExecutionsExecutionIdInterventionsGetRequest) XAmeshTenant(xAmeshTenant string) ApiListExecutionControlHistoryApiV1ExecutionsExecutionIdInterventionsGetRequest {
	r.xAmeshTenant = &xAmeshTenant
	return r
}

func (r ApiListExecutionControlHistoryApiV1ExecutionsExecutionIdInterventionsGetRequest) Execute() ([]ExecutionInterventionRecord, *http.Response, error) {
	return r.ApiService.ListExecutionControlHistoryApiV1ExecutionsExecutionIdInterventionsGetExecute(r)
}

/*
ListExecutionControlHistoryApiV1ExecutionsExecutionIdInterventionsGet List Execution Control History

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param executionId
 @return ApiListExecutionControlHistoryApiV1ExecutionsExecutionIdInterventionsGetRequest
*/
func (a *ExecutionsAPIService) ListExecutionControlHistoryApiV1ExecutionsExecutionIdInterventionsGet(ctx context.Context, executionId string) ApiListExecutionControlHistoryApiV1ExecutionsExecutionIdInterventionsGetRequest {
	return ApiListExecutionControlHistoryApiV1ExecutionsExecutionIdInterventionsGetRequest{
		ApiService: a,
		ctx: ctx,
		executionId: executionId,
	}
}

// Execute executes the request
//  @return []ExecutionInterventionRecord
func (a *ExecutionsAPIService) ListExecutionControlHistoryApiV1ExecutionsExecutionIdInterventionsGetExecute(r ApiListExecutionControlHistoryApiV1ExecutionsExecutionIdInterventionsGetRequest) ([]ExecutionInterventionRecord, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []ExecutionInterventionRecord
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExecutionsAPIService.ListExecutionControlHistoryApiV1ExecutionsExecutionIdInterventionsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/executions/{execution_id}/interventions"
	localVarPath = strings.Replace(localVarPath, "{"+"execution_id"+"}", url.PathEscape(parameterValueToString(r.executionId, "executionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xAmeshCSRF != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-CSRF", r.xAmeshCSRF, "simple", "")
	}
	if r.xAmeshTenant != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-Tenant", r.xAmeshTenant, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListExecutionFilesApiV1ExecutionsExecutionIdFilesGetRequest struct {
	ctx context.Context
	ApiService *ExecutionsAPIService
	executionId string
	authorization *string
	xAmeshCSRF *string
	xAmeshTenant *string
}

func (r ApiListExecutionFilesApiV1ExecutionsExecutionIdFilesGetRequest) Authorization(authorization string) ApiListExecutionFilesApiV1ExecutionsExecutionIdFilesGetRequest {
	r.authorization = &authorization
	return r
}

func (r ApiListExecutionFilesApiV1ExecutionsExecutionIdFilesGetRequest) XAmeshCSRF(xAmeshCSRF string) ApiListExecutionFilesApiV1ExecutionsExecutionIdFilesGetRequest {
	r.xAmeshCSRF = &xAmeshCSRF
	return r
}

func (r ApiListExecutionFilesApiV1ExecutionsExecutionIdFilesGetRequest) XAmeshTenant(xAmeshTenant string) ApiListExecutionFilesApiV1ExecutionsExecutionIdFilesGetRequest {
	r.xAmeshTenant = &xAmeshTenant
	return r
}

func (r ApiListExecutionFilesApiV1ExecutionsExecutionIdFilesGetRequest) Execute() ([]ExecutionArtifact, *http.Response, error) {
	return r.ApiService.ListExecutionFilesApiV1ExecutionsExecutionIdFilesGetExecute(r)
}

/*
ListExecutionFilesApiV1ExecutionsExecutionIdFilesGet List Execution Files

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param executionId
 @return ApiListExecutionFilesApiV1ExecutionsExecutionIdFilesGetRequest
*/
func (a *ExecutionsAPIService) ListExecutionFilesApiV1ExecutionsExecutionIdFilesGet(ctx context.Context, executionId string) ApiListExecutionFilesApiV1ExecutionsExecutionIdFilesGetRequest {
	return ApiListExecutionFilesApiV1ExecutionsExecutionIdFilesGetRequest{
		ApiService: a,
		ctx: ctx,
		executionId: executionId,
	}
}

// Execute executes the request
//  @return []ExecutionArtifact
func (a *ExecutionsAPIService) ListExecutionFilesApiV1ExecutionsExecutionIdFilesGetExecute(r ApiListExecutionFilesApiV1ExecutionsExecutionIdFilesGetRequest) ([]ExecutionArtifact, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []ExecutionArtifact
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExecutionsAPIService.ListExecutionFilesApiV1ExecutionsExecutionIdFilesGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/executions/{execution_id}/files"
	localVarPath = strings.Replace(localVarPath, "{"+"execution_id"+"}", url.PathEscape(parameterValueToString(r.executionId, "executionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xAmeshCSRF != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-CSRF", r.xAmeshCSRF, "simple", "")
	}
	if r.xAmeshTenant != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-Tenant", r.xAmeshTenant, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListExecutionSubflowsApiV1ExecutionsExecutionIdSubflowsGetRequest struct {
	ctx context.Context
	ApiService *ExecutionsAPIService
	executionId string
	authorization *string
	xAmeshCSRF *string
	xAmeshTenant *string
}

func (r ApiListExecutionSubflowsApiV1ExecutionsExecutionIdSubflowsGetRequest) Authorization(authorization string) ApiListExecutionSubflowsApiV1ExecutionsExecutionIdSubflowsGetRequest {
	r.authorization = &authorization
	return r
}

func (r ApiListExecutionSubflowsApiV1ExecutionsExecutionIdSubflowsGetRequest) XAmeshCSRF(xAmeshCSRF string) ApiListExecutionSubflowsApiV1ExecutionsExecutionIdSubflowsGetRequest {
	r.xAmeshCSRF = &xAmeshCSRF
	return r
}

func (r ApiListExecutionSubflowsApiV1ExecutionsExecutionIdSubflowsGetRequest) XAmeshTenant(xAmeshTenant string) ApiListExecutionSubflowsApiV1ExecutionsExecutionIdSubflowsGetRequest {
	r.xAmeshTenant = &xAmeshTenant
	return r
}

func (r ApiListExecutionSubflowsApiV1ExecutionsExecutionIdSubflowsGetRequest) Execute() ([]PersistedSubflow, *http.Response, error) {
	return r.ApiService.ListExecutionSubflowsApiV1ExecutionsExecutionIdSubflowsGetExecute(r)
}

/*
ListExecutionSubflowsApiV1ExecutionsExecutionIdSubflowsGet List Execution Subflows

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param executionId
 @return ApiListExecutionSubflowsApiV1ExecutionsExecutionIdSubflowsGetRequest
*/
func (a *ExecutionsAPIService) ListExecutionSubflowsApiV1ExecutionsExecutionIdSubflowsGet(ctx context.Context, executionId string) ApiListExecutionSubflowsApiV1ExecutionsExecutionIdSubflowsGetRequest {
	return ApiListExecutionSubflowsApiV1ExecutionsExecutionIdSubflowsGetRequest{
		ApiService: a,
		ctx: ctx,
		executionId: executionId,
	}
}

// Execute executes the request
//  @return []PersistedSubflow
func (a *ExecutionsAPIService) ListExecutionSubflowsApiV1ExecutionsExecutionIdSubflowsGetExecute(r ApiListExecutionSubflowsApiV1ExecutionsExecutionIdSubflowsGetRequest) ([]PersistedSubflow, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []PersistedSubflow
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExecutionsAPIService.ListExecutionSubflowsApiV1ExecutionsExecutionIdSubflowsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/executions/{execution_id}/subflows"
	localVarPath = strings.Replace(localVarPath, "{"+"execution_id"+"}", url.PathEscape(parameterValueToString(r.executionId, "executionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xAmeshCSRF != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-CSRF", r.xAmeshCSRF, "simple", "")
	}
	if r.xAmeshTenant != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-Tenant", r.xAmeshTenant, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListExecutionsApiV1ExecutionsGetRequest struct {
	ctx context.Context
	ApiService *ExecutionsAPIService
	cursor *string
	limit *int32
	filter *[]string
	sort *string
	fields *string
	authorization *string
	xAmeshCSRF *string
	xAmeshTenant *string
}

// Opaque cursor from the prior page
func (r ApiListExecutionsApiV1ExecutionsGetRequest) Cursor(cursor string) ApiListExecutionsApiV1ExecutionsGetRequest {
	r.cursor = &cursor
	return r
}

func (r ApiListExecutionsApiV1ExecutionsGetRequest) Limit(limit int32) ApiListExecutionsApiV1ExecutionsGetRequest {
	r.limit = &limit
	return r
}

// Repeatable top-level equality filter in field&#x3D;value form
func (r ApiListExecutionsApiV1ExecutionsGetRequest) Filter(filter []string) ApiListExecutionsApiV1ExecutionsGetRequest {
	r.filter = &filter
	return r
}

// Comma-separated top-level fields; prefix descending fields with -
func (r ApiListExecutionsApiV1ExecutionsGetRequest) Sort(sort string) ApiListExecutionsApiV1ExecutionsGetRequest {
	r.sort = &sort
	return r
}

// Comma-separated top-level response fields
func (r ApiListExecutionsApiV1ExecutionsGetRequest) Fields(fields string) ApiListExecutionsApiV1ExecutionsGetRequest {
	r.fields = &fields
	return r
}

func (r ApiListExecutionsApiV1ExecutionsGetRequest) Authorization(authorization string) ApiListExecutionsApiV1ExecutionsGetRequest {
	r.authorization = &authorization
	return r
}

func (r ApiListExecutionsApiV1ExecutionsGetRequest) XAmeshCSRF(xAmeshCSRF string) ApiListExecutionsApiV1ExecutionsGetRequest {
	r.xAmeshCSRF = &xAmeshCSRF
	return r
}

func (r ApiListExecutionsApiV1ExecutionsGetRequest) XAmeshTenant(xAmeshTenant string) ApiListExecutionsApiV1ExecutionsGetRequest {
	r.xAmeshTenant = &xAmeshTenant
	return r
}

func (r ApiListExecutionsApiV1ExecutionsGetRequest) Execute() ([]PersistedExecution, *http.Response, error) {
	return r.ApiService.ListExecutionsApiV1ExecutionsGetExecute(r)
}

/*
ListExecutionsApiV1ExecutionsGet List Executions

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListExecutionsApiV1ExecutionsGetRequest
*/
func (a *ExecutionsAPIService) ListExecutionsApiV1ExecutionsGet(ctx context.Context) ApiListExecutionsApiV1ExecutionsGetRequest {
	return ApiListExecutionsApiV1ExecutionsGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []PersistedExecution
func (a *ExecutionsAPIService) ListExecutionsApiV1ExecutionsGetExecute(r ApiListExecutionsApiV1ExecutionsGetRequest) ([]PersistedExecution, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []PersistedExecution
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExecutionsAPIService.ListExecutionsApiV1ExecutionsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/executions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 100
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.filter != nil {
		t := *r.filter
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter", t, "form", "multi")
		}
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	}
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xAmeshCSRF != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-CSRF", r.xAmeshCSRF, "simple", "")
	}
	if r.xAmeshTenant != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-Tenant", r.xAmeshTenant, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPreviewExecutionControlApiV1ExecutionsExecutionIdInterventionsPreviewPostRequest struct {
	ctx context.Context
	ApiService *ExecutionsAPIService
	executionId string
	executionInterventionPreviewRequest *ExecutionInterventionPreviewRequest
	authorization *string
	xAmeshCSRF *string
	xAmeshTenant *string
}

func (r ApiPreviewExecutionControlApiV1ExecutionsExecutionIdInterventionsPreviewPostRequest) ExecutionInterventionPreviewRequest(executionInterventionPreviewRequest ExecutionInterventionPreviewRequest) ApiPreviewExecutionControlApiV1ExecutionsExecutionIdInterventionsPreviewPostRequest {
	r.executionInterventionPreviewRequest = &executionInterventionPreviewRequest
	return r
}

func (r ApiPreviewExecutionControlApiV1ExecutionsExecutionIdInterventionsPreviewPostRequest) Authorization(authorization string) ApiPreviewExecutionControlApiV1ExecutionsExecutionIdInterventionsPreviewPostRequest {
	r.authorization = &authorization
	return r
}

func (r ApiPreviewExecutionControlApiV1ExecutionsExecutionIdInterventionsPreviewPostRequest) XAmeshCSRF(xAmeshCSRF string) ApiPreviewExecutionControlApiV1ExecutionsExecutionIdInterventionsPreviewPostRequest {
	r.xAmeshCSRF = &xAmeshCSRF
	return r
}

func (r ApiPreviewExecutionControlApiV1ExecutionsExecutionIdInterventionsPreviewPostRequest) XAmeshTenant(xAmeshTenant string) ApiPreviewExecutionControlApiV1ExecutionsExecutionIdInterventionsPreviewPostRequest {
	r.xAmeshTenant = &xAmeshTenant
	return r
}

func (r ApiPreviewExecutionControlApiV1ExecutionsExecutionIdInterventionsPreviewPostRequest) Execute() (*ExecutionInterventionPreview, *http.Response, error) {
	return r.ApiService.PreviewExecutionControlApiV1ExecutionsExecutionIdInterventionsPreviewPostExecute(r)
}

/*
PreviewExecutionControlApiV1ExecutionsExecutionIdInterventionsPreviewPost Preview Execution Control

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param executionId
 @return ApiPreviewExecutionControlApiV1ExecutionsExecutionIdInterventionsPreviewPostRequest
*/
func (a *ExecutionsAPIService) PreviewExecutionControlApiV1ExecutionsExecutionIdInterventionsPreviewPost(ctx context.Context, executionId string) ApiPreviewExecutionControlApiV1ExecutionsExecutionIdInterventionsPreviewPostRequest {
	return ApiPreviewExecutionControlApiV1ExecutionsExecutionIdInterventionsPreviewPostRequest{
		ApiService: a,
		ctx: ctx,
		executionId: executionId,
	}
}

// Execute executes the request
//  @return ExecutionInterventionPreview
func (a *ExecutionsAPIService) PreviewExecutionControlApiV1ExecutionsExecutionIdInterventionsPreviewPostExecute(r ApiPreviewExecutionControlApiV1ExecutionsExecutionIdInterventionsPreviewPostRequest) (*ExecutionInterventionPreview, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ExecutionInterventionPreview
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExecutionsAPIService.PreviewExecutionControlApiV1ExecutionsExecutionIdInterventionsPreviewPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/executions/{execution_id}/interventions/preview"
	localVarPath = strings.Replace(localVarPath, "{"+"execution_id"+"}", url.PathEscape(parameterValueToString(r.executionId, "executionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.executionInterventionPreviewRequest == nil {
		return localVarReturnValue, nil, reportError("executionInterventionPreviewRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xAmeshCSRF != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-CSRF", r.xAmeshCSRF, "simple", "")
	}
	if r.xAmeshTenant != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-Tenant", r.xAmeshTenant, "simple", "")
	}
	// body params
	localVarPostBody = r.executionInterventionPreviewRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiReduceExecutionEventsApiV1ExecutionsReducePostRequest struct {
	ctx context.Context
	ApiService *ExecutionsAPIService
	reduceExecutionRequest *ReduceExecutionRequest
	authorization *string
	xAmeshCSRF *string
	xAmeshTenant *string
}

func (r ApiReduceExecutionEventsApiV1ExecutionsReducePostRequest) ReduceExecutionRequest(reduceExecutionRequest ReduceExecutionRequest) ApiReduceExecutionEventsApiV1ExecutionsReducePostRequest {
	r.reduceExecutionRequest = &reduceExecutionRequest
	return r
}

func (r ApiReduceExecutionEventsApiV1ExecutionsReducePostRequest) Authorization(authorization string) ApiReduceExecutionEventsApiV1ExecutionsReducePostRequest {
	r.authorization = &authorization
	return r
}

func (r ApiReduceExecutionEventsApiV1ExecutionsReducePostRequest) XAmeshCSRF(xAmeshCSRF string) ApiReduceExecutionEventsApiV1ExecutionsReducePostRequest {
	r.xAmeshCSRF = &xAmeshCSRF
	return r
}

func (r ApiReduceExecutionEventsApiV1ExecutionsReducePostRequest) XAmeshTenant(xAmeshTenant string) ApiReduceExecutionEventsApiV1ExecutionsReducePostRequest {
	r.xAmeshTenant = &xAmeshTenant
	return r
}

func (r ApiReduceExecutionEventsApiV1ExecutionsReducePostRequest) Execute() (*ReduceExecutionResponse, *http.Response, error) {
	return r.ApiService.ReduceExecutionEventsApiV1ExecutionsReducePostExecute(r)
}

/*
ReduceExecutionEventsApiV1ExecutionsReducePost Reduce Execution Events

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiReduceExecutionEventsApiV1ExecutionsReducePostRequest
*/
func (a *ExecutionsAPIService) ReduceExecutionEventsApiV1ExecutionsReducePost(ctx context.Context) ApiReduceExecutionEventsApiV1ExecutionsReducePostRequest {
	return ApiReduceExecutionEventsApiV1ExecutionsReducePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ReduceExecutionResponse
func (a *ExecutionsAPIService) ReduceExecutionEventsApiV1ExecutionsReducePostExecute(r ApiReduceExecutionEventsApiV1ExecutionsReducePostRequest) (*ReduceExecutionResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ReduceExecutionResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExecutionsAPIService.ReduceExecutionEventsApiV1ExecutionsReducePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/executions/reduce"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.reduceExecutionRequest == nil {
		return localVarReturnValue, nil, reportError("reduceExecutionRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xAmeshCSRF != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-CSRF", r.xAmeshCSRF, "simple", "")
	}
	if r.xAmeshTenant != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-Tenant", r.xAmeshTenant, "simple", "")
	}
	// body params
	localVarPostBody = r.reduceExecutionRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiResumeTaskRunApiV1ExecutionsExecutionIdTaskRunsTaskRunIdResumePostRequest struct {
	ctx context.Context
	ApiService *ExecutionsAPIService
	executionId string
	taskRunId string
	resumeTaskRequest *ResumeTaskRequest
	authorization *string
	xAmeshCSRF *string
	xAmeshTenant *string
}

func (r ApiResumeTaskRunApiV1ExecutionsExecutionIdTaskRunsTaskRunIdResumePostRequest) ResumeTaskRequest(resumeTaskRequest ResumeTaskRequest) ApiResumeTaskRunApiV1ExecutionsExecutionIdTaskRunsTaskRunIdResumePostRequest {
	r.resumeTaskRequest = &resumeTaskRequest
	return r
}

func (r ApiResumeTaskRunApiV1ExecutionsExecutionIdTaskRunsTaskRunIdResumePostRequest) Authorization(authorization string) ApiResumeTaskRunApiV1ExecutionsExecutionIdTaskRunsTaskRunIdResumePostRequest {
	r.authorization = &authorization
	return r
}

func (r ApiResumeTaskRunApiV1ExecutionsExecutionIdTaskRunsTaskRunIdResumePostRequest) XAmeshCSRF(xAmeshCSRF string) ApiResumeTaskRunApiV1ExecutionsExecutionIdTaskRunsTaskRunIdResumePostRequest {
	r.xAmeshCSRF = &xAmeshCSRF
	return r
}

func (r ApiResumeTaskRunApiV1ExecutionsExecutionIdTaskRunsTaskRunIdResumePostRequest) XAmeshTenant(xAmeshTenant string) ApiResumeTaskRunApiV1ExecutionsExecutionIdTaskRunsTaskRunIdResumePostRequest {
	r.xAmeshTenant = &xAmeshTenant
	return r
}

func (r ApiResumeTaskRunApiV1ExecutionsExecutionIdTaskRunsTaskRunIdResumePostRequest) Execute() (*PersistedTaskRun, *http.Response, error) {
	return r.ApiService.ResumeTaskRunApiV1ExecutionsExecutionIdTaskRunsTaskRunIdResumePostExecute(r)
}

/*
ResumeTaskRunApiV1ExecutionsExecutionIdTaskRunsTaskRunIdResumePost Resume Task Run

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param executionId
 @param taskRunId
 @return ApiResumeTaskRunApiV1ExecutionsExecutionIdTaskRunsTaskRunIdResumePostRequest
*/
func (a *ExecutionsAPIService) ResumeTaskRunApiV1ExecutionsExecutionIdTaskRunsTaskRunIdResumePost(ctx context.Context, executionId string, taskRunId string) ApiResumeTaskRunApiV1ExecutionsExecutionIdTaskRunsTaskRunIdResumePostRequest {
	return ApiResumeTaskRunApiV1ExecutionsExecutionIdTaskRunsTaskRunIdResumePostRequest{
		ApiService: a,
		ctx: ctx,
		executionId: executionId,
		taskRunId: taskRunId,
	}
}

// Execute executes the request
//  @return PersistedTaskRun
func (a *ExecutionsAPIService) ResumeTaskRunApiV1ExecutionsExecutionIdTaskRunsTaskRunIdResumePostExecute(r ApiResumeTaskRunApiV1ExecutionsExecutionIdTaskRunsTaskRunIdResumePostRequest) (*PersistedTaskRun, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PersistedTaskRun
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExecutionsAPIService.ResumeTaskRunApiV1ExecutionsExecutionIdTaskRunsTaskRunIdResumePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/executions/{execution_id}/task-runs/{task_run_id}/resume"
	localVarPath = strings.Replace(localVarPath, "{"+"execution_id"+"}", url.PathEscape(parameterValueToString(r.executionId, "executionId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"task_run_id"+"}", url.PathEscape(parameterValueToString(r.taskRunId, "taskRunId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.resumeTaskRequest == nil {
		return localVarReturnValue, nil, reportError("resumeTaskRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
[...]
