/*
AMESH

Clean-room durable workflow MVP with validated flow management, execution control, webhook triggers and execution logs.

API version: 0.2.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package ameshclient

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"reflect"
	"strings"
)

// BackfillsAPIService BackfillsAPI service
type BackfillsAPIService service

type ApiCancelBackfillApiV1BackfillsBackfillIdCancelPostRequest struct {
	ctx                   context.Context
	ApiService            *BackfillsAPIService
	backfillId            string
	backfillActionRequest *BackfillActionRequest
	authorization         *string
	xAmeshCSRF            *string
	xAmeshTenant          *string
}

func (r ApiCancelBackfillApiV1BackfillsBackfillIdCancelPostRequest) BackfillActionRequest(backfillActionRequest BackfillActionRequest) ApiCancelBackfillApiV1BackfillsBackfillIdCancelPostRequest {
	r.backfillActionRequest = &backfillActionRequest
	return r
}

func (r ApiCancelBackfillApiV1BackfillsBackfillIdCancelPostRequest) Authorization(authorization string) ApiCancelBackfillApiV1BackfillsBackfillIdCancelPostRequest {
	r.authorization = &authorization
	return r
}

func (r ApiCancelBackfillApiV1BackfillsBackfillIdCancelPostRequest) XAmeshCSRF(xAmeshCSRF string) ApiCancelBackfillApiV1BackfillsBackfillIdCancelPostRequest {
	r.xAmeshCSRF = &xAmeshCSRF
	return r
}

func (r ApiCancelBackfillApiV1BackfillsBackfillIdCancelPostRequest) XAmeshTenant(xAmeshTenant string) ApiCancelBackfillApiV1BackfillsBackfillIdCancelPostRequest {
	r.xAmeshTenant = &xAmeshTenant
	return r
}

func (r ApiCancelBackfillApiV1BackfillsBackfillIdCancelPostRequest) Execute() (*BackfillRecord, *http.Response, error) {
	return r.ApiService.CancelBackfillApiV1BackfillsBackfillIdCancelPostExecute(r)
}

/*
CancelBackfillApiV1BackfillsBackfillIdCancelPost Cancel Backfill

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param backfillId
	@return ApiCancelBackfillApiV1BackfillsBackfillIdCancelPostRequest
*/
func (a *BackfillsAPIService) CancelBackfillApiV1BackfillsBackfillIdCancelPost(ctx context.Context, backfillId string) ApiCancelBackfillApiV1BackfillsBackfillIdCancelPostRequest {
	return ApiCancelBackfillApiV1BackfillsBackfillIdCancelPostRequest{
		ApiService: a,
		ctx:        ctx,
		backfillId: backfillId,
	}
}

// Execute executes the request
//
//	@return BackfillRecord
func (a *BackfillsAPIService) CancelBackfillApiV1BackfillsBackfillIdCancelPostExecute(r ApiCancelBackfillApiV1BackfillsBackfillIdCancelPostRequest) (*BackfillRecord, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *BackfillRecord
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BackfillsAPIService.CancelBackfillApiV1BackfillsBackfillIdCancelPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/backfills/{backfill_id}/cancel"
	localVarPath = strings.Replace(localVarPath, "{"+"backfill_id"+"}", url.PathEscape(parameterValueToString(r.backfillId, "backfillId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.backfillActionRequest == nil {
		return localVarReturnValue, nil, reportError("backfillActionRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xAmeshCSRF != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-CSRF", r.xAmeshCSRF, "simple", "")
	}
	if r.xAmeshTenant != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-Tenant", r.xAmeshTenant, "simple", "")
	}
	// body params
	localVarPostBody = r.backfillActionRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateBackfillApiV1BackfillsPostRequest struct {
	ctx           context.Context
	ApiService    *BackfillsAPIService
	backfillSpec  *BackfillSpec
	authorization *string
	xAmeshCSRF    *string
	xAmeshTenant  *string
}

func (r ApiCreateBackfillApiV1BackfillsPostRequest) BackfillSpec(backfillSpec BackfillSpec) ApiCreateBackfillApiV1BackfillsPostRequest {
	r.backfillSpec = &backfillSpec
	return r
}

func (r ApiCreateBackfillApiV1BackfillsPostRequest) Authorization(authorization string) ApiCreateBackfillApiV1BackfillsPostRequest {
	r.authorization = &authorization
	return r
}

func (r ApiCreateBackfillApiV1BackfillsPostRequest) XAmeshCSRF(xAmeshCSRF string) ApiCreateBackfillApiV1BackfillsPostRequest {
	r.xAmeshCSRF = &xAmeshCSRF
	return r
}

func (r ApiCreateBackfillApiV1BackfillsPostRequest) XAmeshTenant(xAmeshTenant string) ApiCreateBackfillApiV1BackfillsPostRequest {
	r.xAmeshTenant = &xAmeshTenant
	return r
}

func (r ApiCreateBackfillApiV1BackfillsPostRequest) Execute() (*BackfillRecord, *http.Response, error) {
	return r.ApiService.CreateBackfillApiV1BackfillsPostExecute(r)
}

/*
CreateBackfillApiV1BackfillsPost Create Backfill

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCreateBackfillApiV1BackfillsPostRequest
*/
func (a *BackfillsAPIService) CreateBackfillApiV1BackfillsPost(ctx context.Context) ApiCreateBackfillApiV1BackfillsPostRequest {
	return ApiCreateBackfillApiV1BackfillsPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return BackfillRecord
func (a *BackfillsAPIService) CreateBackfillApiV1BackfillsPostExecute(r ApiCreateBackfillApiV1BackfillsPostRequest) (*BackfillRecord, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *BackfillRecord
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BackfillsAPIService.CreateBackfillApiV1BackfillsPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/backfills"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.backfillSpec == nil {
		return localVarReturnValue, nil, reportError("backfillSpec is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xAmeshCSRF != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-CSRF", r.xAmeshCSRF, "simple", "")
	}
	if r.xAmeshTenant != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-Tenant", r.xAmeshTenant, "simple", "")
	}
	// body params
	localVarPostBody = r.backfillSpec
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetBackfillApiV1BackfillsBackfillIdGetRequest struct {
	ctx           context.Context
	ApiService    *BackfillsAPIService
	backfillId    string
	authorization *string
	xAmeshCSRF    *string
	xAmeshTenant  *string
}

func (r ApiGetBackfillApiV1BackfillsBackfillIdGetRequest) Authorization(authorization string) ApiGetBackfillApiV1BackfillsBackfillIdGetRequest {
	r.authorization = &authorization
	return r
}

func (r ApiGetBackfillApiV1BackfillsBackfillIdGetRequest) XAmeshCSRF(xAmeshCSRF string) ApiGetBackfillApiV1BackfillsBackfillIdGetRequest {
	r.xAmeshCSRF = &xAmeshCSRF
	return r
}

func (r ApiGetBackfillApiV1BackfillsBackfillIdGetRequest) XAmeshTenant(xAmeshTenant string) ApiGetBackfillApiV1BackfillsBackfillIdGetRequest {
	r.xAmeshTenant = &xAmeshTenant
	return r
}

func (r ApiGetBackfillApiV1BackfillsBackfillIdGetRequest) Execute() (*BackfillRecord, *http.Response, error) {
	return r.ApiService.GetBackfillApiV1BackfillsBackfillIdGetExecute(r)
}

/*
GetBackfillApiV1BackfillsBackfillIdGet Get Backfill

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param backfillId
	@return ApiGetBackfillApiV1BackfillsBackfillIdGetRequest
*/
func (a *BackfillsAPIService) GetBackfillApiV1BackfillsBackfillIdGet(ctx context.Context, backfillId string) ApiGetBackfillApiV1BackfillsBackfillIdGetRequest {
	return ApiGetBackfillApiV1BackfillsBackfillIdGetRequest{
		ApiService: a,
		ctx:        ctx,
		backfillId: backfillId,
	}
}

// Execute executes the request
//
//	@return BackfillRecord
func (a *BackfillsAPIService) GetBackfillApiV1BackfillsBackfillIdGetExecute(r ApiGetBackfillApiV1BackfillsBackfillIdGetRequest) (*BackfillRecord, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *BackfillRecord
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BackfillsAPIService.GetBackfillApiV1BackfillsBackfillIdGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/backfills/{backfill_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"backfill_id"+"}", url.PathEscape(parameterValueToString(r.backfillId, "backfillId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xAmeshCSRF != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-CSRF", r.xAmeshCSRF, "simple", "")
	}
	if r.xAmeshTenant != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-Tenant", r.xAmeshTenant, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListBackfillsApiV1BackfillsGetRequest struct {
	ctx           context.Context
	ApiService    *BackfillsAPIService
	cursor        *string
	limit         *int32
	filter        *[]string
	sort          *string
	fields        *string
	authorization *string
	xAmeshCSRF    *string
	xAmeshTenant  *string
}

// Opaque cursor from the prior page
func (r ApiListBackfillsApiV1BackfillsGetRequest) Cursor(cursor string) ApiListBackfillsApiV1BackfillsGetRequest {
	r.cursor = &cursor
	return r
}

func (r ApiListBackfillsApiV1BackfillsGetRequest) Limit(limit int32) ApiListBackfillsApiV1BackfillsGetRequest {
	r.limit = &limit
	return r
}

// Repeatable top-level equality filter in field&#x3D;value form
func (r ApiListBackfillsApiV1BackfillsGetRequest) Filter(filter []string) ApiListBackfillsApiV1BackfillsGetRequest {
	r.filter = &filter
	return r
}

// Comma-separated top-level fields; prefix descending fields with -
func (r ApiListBackfillsApiV1BackfillsGetRequest) Sort(sort string) ApiListBackfillsApiV1BackfillsGetRequest {
	r.sort = &sort
	return r
}

// Comma-separated top-level response fields
func (r ApiListBackfillsApiV1BackfillsGetRequest) Fields(fields string) ApiListBackfillsApiV1BackfillsGetRequest {
	r.fields = &fields
	return r
}

func (r ApiListBackfillsApiV1BackfillsGetRequest) Authorization(authorization string) ApiListBackfillsApiV1BackfillsGetRequest {
	r.authorization = &authorization
	return r
}

func (r ApiListBackfillsApiV1BackfillsGetRequest) XAmeshCSRF(xAmeshCSRF string) ApiListBackfillsApiV1BackfillsGetRequest {
	r.xAmeshCSRF = &xAmeshCSRF
	return r
}

func (r ApiListBackfillsApiV1BackfillsGetRequest) XAmeshTenant(xAmeshTenant string) ApiListBackfillsApiV1BackfillsGetRequest {
	r.xAmeshTenant = &xAmeshTenant
	return r
}

func (r ApiListBackfillsApiV1BackfillsGetRequest) Execute() ([]BackfillRecord, *http.Response, error) {
	return r.ApiService.ListBackfillsApiV1BackfillsGetExecute(r)
}

/*
ListBackfillsApiV1BackfillsGet List Backfills

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiListBackfillsApiV1BackfillsGetRequest
*/
func (a *BackfillsAPIService) ListBackfillsApiV1BackfillsGet(ctx context.Context) ApiListBackfillsApiV1BackfillsGetRequest {
	return ApiListBackfillsApiV1BackfillsGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []BackfillRecord
func (a *BackfillsAPIService) ListBackfillsApiV1BackfillsGetExecute(r ApiListBackfillsApiV1BackfillsGetRequest) ([]BackfillRecord, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []BackfillRecord
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BackfillsAPIService.ListBackfillsApiV1BackfillsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/backfills"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 100
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.filter != nil {
		t := *r.filter
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filter", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filter", t, "form", "multi")
		}
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	}
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xAmeshCSRF != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-CSRF", r.xAmeshCSRF, "simple", "")
	}
	if r.xAmeshTenant != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-Tenant", r.xAmeshTenant, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPauseBackfillApiV1BackfillsBackfillIdPausePostRequest struct {
	ctx                   context.Context
	ApiService            *BackfillsAPIService
	backfillId            string
	backfillActionRequest *BackfillActionRequest
	authorization         *string
	xAmeshCSRF            *string
	xAmeshTenant          *string
}

func (r ApiPauseBackfillApiV1BackfillsBackfillIdPausePostRequest) BackfillActionRequest(backfillActionRequest BackfillActionRequest) ApiPauseBackfillApiV1BackfillsBackfillIdPausePostRequest {
	r.backfillActionRequest = &backfillActionRequest
	return r
}

func (r ApiPauseBackfillApiV1BackfillsBackfillIdPausePostRequest) Authorization(authorization string) ApiPauseBackfillApiV1BackfillsBackfillIdPausePostRequest {
	r.authorization = &authorization
	return r
}

func (r ApiPauseBackfillApiV1BackfillsBackfillIdPausePostRequest) XAmeshCSRF(xAmeshCSRF string) ApiPauseBackfillApiV1BackfillsBackfillIdPausePostRequest {
	r.xAmeshCSRF = &xAmeshCSRF
	return r
}

func (r ApiPauseBackfillApiV1BackfillsBackfillIdPausePostRequest) XAmeshTenant(xAmeshTenant string) ApiPauseBackfillApiV1BackfillsBackfillIdPausePostRequest {
	r.xAmeshTenant = &xAmeshTenant
	return r
}

func (r ApiPauseBackfillApiV1BackfillsBackfillIdPausePostRequest) Execute() (*BackfillRecord, *http.Response, error) {
	return r.ApiService.PauseBackfillApiV1BackfillsBackfillIdPausePostExecute(r)
}

/*
PauseBackfillApiV1BackfillsBackfillIdPausePost Pause Backfill

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param backfillId
	@return ApiPauseBackfillApiV1BackfillsBackfillIdPausePostRequest
*/
func (a *BackfillsAPIService) PauseBackfillApiV1BackfillsBackfillIdPausePost(ctx context.Context, backfillId string) ApiPauseBackfillApiV1BackfillsBackfillIdPausePostRequest {
	return ApiPauseBackfillApiV1BackfillsBackfillIdPausePostRequest{
		ApiService: a,
		ctx:        ctx,
		backfillId: backfillId,
	}
}

// Execute executes the request
//
//	@return BackfillRecord
func (a *BackfillsAPIService) PauseBackfillApiV1BackfillsBackfillIdPausePostExecute(r ApiPauseBackfillApiV1BackfillsBackfillIdPausePostRequest) (*BackfillRecord, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *BackfillRecord
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BackfillsAPIService.PauseBackfillApiV1BackfillsBackfillIdPausePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/backfills/{backfill_id}/pause"
	localVarPath = strings.Replace(localVarPath, "{"+"backfill_id"+"}", url.PathEscape(parameterValueToString(r.backfillId, "backfillId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.backfillActionRequest == nil {
		return localVarReturnValue, nil, reportError("backfillActionRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xAmeshCSRF != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-CSRF", r.xAmeshCSRF, "simple", "")
	}
	if r.xAmeshTenant != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-Tenant", r.xAmeshTenant, "simple", "")
	}
	// body params
	localVarPostBody = r.backfillActionRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPreviewBackfillApiV1BackfillsPreviewPostRequest struct {
	ctx           context.Context
	ApiService    *BackfillsAPIService
	backfillSpec  *BackfillSpec
	authorization *string
	xAmeshCSRF    *string
	xAmeshTenant  *string
}

func (r ApiPreviewBackfillApiV1BackfillsPreviewPostRequest) BackfillSpec(backfillSpec BackfillSpec) ApiPreviewBackfillApiV1BackfillsPreviewPostRequest {
	r.backfillSpec = &backfillSpec
	return r
}

func (r ApiPreviewBackfillApiV1BackfillsPreviewPostRequest) Authorization(authorization string) ApiPreviewBackfillApiV1BackfillsPreviewPostRequest {
	r.authorization = &authorization
	return r
}

func (r ApiPreviewBackfillApiV1BackfillsPreviewPostRequest) XAmeshCSRF(xAmeshCSRF string) ApiPreviewBackfillApiV1BackfillsPreviewPostRequest {
	r.xAmeshCSRF = &xAmeshCSRF
	return r
}

func (r ApiPreviewBackfillApiV1BackfillsPreviewPostRequest) XAmeshTenant(xAmeshTenant string) ApiPreviewBackfillApiV1BackfillsPreviewPostRequest {
	r.xAmeshTenant = &xAmeshTenant
	return r
}

func (r ApiPreviewBackfillApiV1BackfillsPreviewPostRequest) Execute() (*BackfillPreview, *http.Response, error) {
	return r.ApiService.PreviewBackfillApiV1BackfillsPreviewPostExecute(r)
}

/*
PreviewBackfillApiV1BackfillsPreviewPost Preview Backfill

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiPreviewBackfillApiV1BackfillsPreviewPostRequest
*/
func (a *BackfillsAPIService) PreviewBackfillApiV1BackfillsPreviewPost(ctx context.Context) ApiPreviewBackfillApiV1BackfillsPreviewPostRequest {
	return ApiPreviewBackfillApiV1BackfillsPreviewPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return BackfillPreview
func (a *BackfillsAPIService) PreviewBackfillApiV1BackfillsPreviewPostExecute(r ApiPreviewBackfillApiV1BackfillsPreviewPostRequest) (*BackfillPreview, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *BackfillPreview
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BackfillsAPIService.PreviewBackfillApiV1BackfillsPreviewPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/backfills/preview"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.backfillSpec == nil {
		return localVarReturnValue, nil, reportError("backfillSpec is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xAmeshCSRF != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-CSRF", r.xAmeshCSRF, "simple", "")
	}
	if r.xAmeshTenant != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-Tenant", r.xAmeshTenant, "simple", "")
	}
	// body params
	localVarPostBody = r.backfillSpec
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiResumeBackfillApiV1BackfillsBackfillIdResumePostRequest struct {
	ctx                   context.Context
	ApiService            *BackfillsAPIService
	backfillId            string
	backfillActionRequest *BackfillActionRequest
	authorization         *string
	xAmeshCSRF            *string
	xAmeshTenant          *string
}

func (r ApiResumeBackfillApiV1BackfillsBackfillIdResumePostRequest) BackfillActionRequest(backfillActionRequest BackfillActionRequest) ApiResumeBackfillApiV1BackfillsBackfillIdResumePostRequest {
	r.backfillActionRequest = &backfillActionRequest
	return r
}

func (r ApiResumeBackfillApiV1BackfillsBackfillIdResumePostRequest) Authorization(authorization string) ApiResumeBackfillApiV1BackfillsBackfillIdResumePostRequest {
	r.authorization = &authorization
	return r
}

func (r ApiResumeBackfillApiV1BackfillsBackfillIdResumePostRequest) XAmeshCSRF(xAmeshCSRF string) ApiResumeBackfillApiV1BackfillsBackfillIdResumePostRequest {
	r.xAmeshCSRF = &xAmeshCSRF
	return r
}

func (r ApiResumeBackfillApiV1BackfillsBackfillIdResumePostRequest) XAmeshTenant(xAmeshTenant string) ApiResumeBackfillApiV1BackfillsBackfillIdResumePostRequest {
	r.xAmeshTenant = &xAmeshTenant
	return r
}

func (r ApiResumeBackfillApiV1BackfillsBackfillIdResumePostRequest) Execute() (*BackfillRecord, *http.Response, error) {
	return r.ApiService.ResumeBackfillApiV1BackfillsBackfillIdResumePostExecute(r)
}

/*
ResumeBackfillApiV1BackfillsBackfillIdResumePost Resume Backfill

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param backfillId
	@return ApiResumeBackfillApiV1BackfillsBackfillIdResumePostRequest
*/
func (a *BackfillsAPIService) ResumeBackfillApiV1BackfillsBackfillIdResumePost(ctx context.Context, backfillId string) ApiResumeBackfillApiV1BackfillsBackfillIdResumePostRequest {
	return ApiResumeBackfillApiV1BackfillsBackfillIdResumePostRequest{
		ApiService: a,
		ctx:        ctx,
		backfillId: backfillId,
	}
}

// Execute executes the request
//
//	@return BackfillRecord
func (a *BackfillsAPIService) ResumeBackfillApiV1BackfillsBackfillIdResumePostExecute(r ApiResumeBackfillApiV1BackfillsBackfillIdResumePostRequest) (*BackfillRecord, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *BackfillRecord
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BackfillsAPIService.ResumeBackfillApiV1BackfillsBackfillIdResumePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/backfills/{backfill_id}/resume"
	localVarPath = strings.Replace(localVarPath, "{"+"backfill_id"+"}", url.PathEscape(parameterValueToString(r.backfillId, "backfillId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.backfillActionRequest == nil {
		return localVarReturnValue, nil, reportError("backfillActionRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xAmeshCSRF != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-CSRF", r.xAmeshCSRF, "simple", "")
	}
	if r.xAmeshTenant != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-Tenant", r.xAmeshTenant, "simple", "")
	}
	// body params
	localVarPostBody = r.backfillActionRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
