/*
AMESH

Clean-room durable workflow MVP with validated flow management, execution control, webhook triggers and execution logs.

API version: 0.2.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package ameshclient

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// HumanTasksAPIService HumanTasksAPI service
type HumanTasksAPIService service

type ApiActOnHumanTaskApiV1HumanTasksHumanTaskIdActionsPostRequest struct {
	ctx context.Context
	ApiService *HumanTasksAPIService
	humanTaskId string
	humanTaskActionRequest *HumanTaskActionRequest
	authorization *string
	xAmeshCSRF *string
	xAmeshTenant *string
}

func (r ApiActOnHumanTaskApiV1HumanTasksHumanTaskIdActionsPostRequest) HumanTaskActionRequest(humanTaskActionRequest HumanTaskActionRequest) ApiActOnHumanTaskApiV1HumanTasksHumanTaskIdActionsPostRequest {
	r.humanTaskActionRequest = &humanTaskActionRequest
	return r
}

func (r ApiActOnHumanTaskApiV1HumanTasksHumanTaskIdActionsPostRequest) Authorization(authorization string) ApiActOnHumanTaskApiV1HumanTasksHumanTaskIdActionsPostRequest {
	r.authorization = &authorization
	return r
}

func (r ApiActOnHumanTaskApiV1HumanTasksHumanTaskIdActionsPostRequest) XAmeshCSRF(xAmeshCSRF string) ApiActOnHumanTaskApiV1HumanTasksHumanTaskIdActionsPostRequest {
	r.xAmeshCSRF = &xAmeshCSRF
	return r
}

func (r ApiActOnHumanTaskApiV1HumanTasksHumanTaskIdActionsPostRequest) XAmeshTenant(xAmeshTenant string) ApiActOnHumanTaskApiV1HumanTasksHumanTaskIdActionsPostRequest {
	r.xAmeshTenant = &xAmeshTenant
	return r
}

func (r ApiActOnHumanTaskApiV1HumanTasksHumanTaskIdActionsPostRequest) Execute() (*HumanTask, *http.Response, error) {
	return r.ApiService.ActOnHumanTaskApiV1HumanTasksHumanTaskIdActionsPostExecute(r)
}

/*
ActOnHumanTaskApiV1HumanTasksHumanTaskIdActionsPost Act On Human Task

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param humanTaskId
 @return ApiActOnHumanTaskApiV1HumanTasksHumanTaskIdActionsPostRequest
*/
func (a *HumanTasksAPIService) ActOnHumanTaskApiV1HumanTasksHumanTaskIdActionsPost(ctx context.Context, humanTaskId string) ApiActOnHumanTaskApiV1HumanTasksHumanTaskIdActionsPostRequest {
	return ApiActOnHumanTaskApiV1HumanTasksHumanTaskIdActionsPostRequest{
		ApiService: a,
		ctx: ctx,
		humanTaskId: humanTaskId,
	}
}

// Execute executes the request
//  @return HumanTask
func (a *HumanTasksAPIService) ActOnHumanTaskApiV1HumanTasksHumanTaskIdActionsPostExecute(r ApiActOnHumanTaskApiV1HumanTasksHumanTaskIdActionsPostRequest) (*HumanTask, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *HumanTask
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HumanTasksAPIService.ActOnHumanTaskApiV1HumanTasksHumanTaskIdActionsPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/human-tasks/{human_task_id}/actions"
	localVarPath = strings.Replace(localVarPath, "{"+"human_task_id"+"}", url.PathEscape(parameterValueToString(r.humanTaskId, "humanTaskId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.humanTaskActionRequest == nil {
		return localVarReturnValue, nil, reportError("humanTaskActionRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xAmeshCSRF != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-CSRF", r.xAmeshCSRF, "simple", "")
	}
	if r.xAmeshTenant != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-Tenant", r.xAmeshTenant, "simple", "")
	}
	// body params
	localVarPostBody = r.humanTaskActionRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListHumanTaskNotificationsApiV1HumanTaskNotificationsGetRequest struct {
	ctx context.Context
	ApiService *HumanTasksAPIService
	limit *int32
	authorization *string
	xAmeshCSRF *string
	xAmeshTenant *string
}

func (r ApiListHumanTaskNotificationsApiV1HumanTaskNotificationsGetRequest) Limit(limit int32) ApiListHumanTaskNotificationsApiV1HumanTaskNotificationsGetRequest {
	r.limit = &limit
	return r
}

func (r ApiListHumanTaskNotificationsApiV1HumanTaskNotificationsGetRequest) Authorization(authorization string) ApiListHumanTaskNotificationsApiV1HumanTaskNotificationsGetRequest {
	r.authorization = &authorization
	return r
}

func (r ApiListHumanTaskNotificationsApiV1HumanTaskNotificationsGetRequest) XAmeshCSRF(xAmeshCSRF string) ApiListHumanTaskNotificationsApiV1HumanTaskNotificationsGetRequest {
	r.xAmeshCSRF = &xAmeshCSRF
	return r
}

func (r ApiListHumanTaskNotificationsApiV1HumanTaskNotificationsGetRequest) XAmeshTenant(xAmeshTenant string) ApiListHumanTaskNotificationsApiV1HumanTaskNotificationsGetRequest {
	r.xAmeshTenant = &xAmeshTenant
	return r
}

func (r ApiListHumanTaskNotificationsApiV1HumanTaskNotificationsGetRequest) Execute() ([]HumanTaskNotification, *http.Response, error) {
	return r.ApiService.ListHumanTaskNotificationsApiV1HumanTaskNotificationsGetExecute(r)
}

/*
ListHumanTaskNotificationsApiV1HumanTaskNotificationsGet List Human Task Notifications

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListHumanTaskNotificationsApiV1HumanTaskNotificationsGetRequest
*/
func (a *HumanTasksAPIService) ListHumanTaskNotificationsApiV1HumanTaskNotificationsGet(ctx context.Context) ApiListHumanTaskNotificationsApiV1HumanTaskNotificationsGetRequest {
	return ApiListHumanTaskNotificationsApiV1HumanTaskNotificationsGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []HumanTaskNotification
func (a *HumanTasksAPIService) ListHumanTaskNotificationsApiV1HumanTaskNotificationsGetExecute(r ApiListHumanTaskNotificationsApiV1HumanTaskNotificationsGetRequest) ([]HumanTaskNotification, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []HumanTaskNotification
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HumanTasksAPIService.ListHumanTaskNotificationsApiV1HumanTaskNotificationsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/human-task-notifications"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 100
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xAmeshCSRF != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-CSRF", r.xAmeshCSRF, "simple", "")
	}
	if r.xAmeshTenant != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-Tenant", r.xAmeshTenant, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListHumanTasksApiV1HumanTasksGetRequest struct {
	ctx context.Context
	ApiService *HumanTasksAPIService
	namespace *string
	includeClosed *bool
	authorization *string
	xAmeshCSRF *string
	xAmeshTenant *string
}

func (r ApiListHumanTasksApiV1HumanTasksGetRequest) Namespace(namespace string) ApiListHumanTasksApiV1HumanTasksGetRequest {
	r.namespace = &namespace
	return r
}

func (r ApiListHumanTasksApiV1HumanTasksGetRequest) IncludeClosed(includeClosed bool) ApiListHumanTasksApiV1HumanTasksGetRequest {
	r.includeClosed = &includeClosed
	return r
}

func (r ApiListHumanTasksApiV1HumanTasksGetRequest) Authorization(authorization string) ApiListHumanTasksApiV1HumanTasksGetRequest {
	r.authorization = &authorization
	return r
}

func (r ApiListHumanTasksApiV1HumanTasksGetRequest) XAmeshCSRF(xAmeshCSRF string) ApiListHumanTasksApiV1HumanTasksGetRequest {
	r.xAmeshCSRF = &xAmeshCSRF
	return r
}

func (r ApiListHumanTasksApiV1HumanTasksGetRequest) XAmeshTenant(xAmeshTenant string) ApiListHumanTasksApiV1HumanTasksGetRequest {
	r.xAmeshTenant = &xAmeshTenant
	return r
}

func (r ApiListHumanTasksApiV1HumanTasksGetRequest) Execute() ([]HumanTask, *http.Response, error) {
	return r.ApiService.ListHumanTasksApiV1HumanTasksGetExecute(r)
}

/*
ListHumanTasksApiV1HumanTasksGet List Human Tasks

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListHumanTasksApiV1HumanTasksGetRequest
*/
func (a *HumanTasksAPIService) ListHumanTasksApiV1HumanTasksGet(ctx context.Context) ApiListHumanTasksApiV1HumanTasksGetRequest {
	return ApiListHumanTasksApiV1HumanTasksGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []HumanTask
func (a *HumanTasksAPIService) ListHumanTasksApiV1HumanTasksGetExecute(r ApiListHumanTasksApiV1HumanTasksGetRequest) ([]HumanTask, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []HumanTask
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HumanTasksAPIService.ListHumanTasksApiV1HumanTasksGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/human-tasks"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.namespace != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "namespace", r.namespace, "form", "")
	}
	if r.includeClosed != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "includeClosed", r.includeClosed, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "includeClosed", defaultValue, "form", "")
		r.includeClosed = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xAmeshCSRF != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-CSRF", r.xAmeshCSRF, "simple", "")
	}
	if r.xAmeshTenant != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Amesh-Tenant", r.xAmeshTenant, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
